@charset "UTF-8";

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*/

// Variables
// Based on the structure of the Symbolset download.
//------------------------------------------------------------------------------

$ss-pika-dir: '../fonts/ss-pika/webfonts/' !default;
$ss-social-regular-dir: '../fonts/ss-social/webfonts/' !default;
$ss-social-circle-dir: $ss-social-regular-dir !default;
$ss-standard-dir: '../fonts/ss-standard/webfonts/' !default;
$ss-symbolicons-block-dir: '../fonts/ss-symbolicons-block/webfonts/' !default;
$ss-symbolicons-line-dir: '../fonts/ss-symbolicons-line/webfonts/' !default;


// Default styles, applied to each icon.
//------------------------------------------------------------------------------

%ss-icon {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  // -webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22.
  // Falls back to text-rendering. Safari is unaffected.
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

// This triggers a redraw in IE to Fix IE8's :before content rendering. If
// you're not using :before, or not supporting IE8, remove this as it can
// potentially generate a lot of CSS.
html:hover %ss-icon {
  -ms-zoom: 1;
}


// Characters
//------------------------------------------------------------------------------

// Duplicates (with different unicode characters across sets) to look out for.
// - apple: one is a green apple; renamed to apple-alt.
// - download: no information exists on character; renamed one to download-alt.
// - globe: one has meridians; renamed to globe-alt.
// - redirect: also same character as redo; renamed to redirect-alt.
// - search: one points left, one points right; renamed to search-left/right.
// - store: one is a convenience store; renamed to store-alt;
// - tree: one is evergreen, one is deciduous; renamed one to treeevergreen.

%c-action { content: ''; content: '\EE00'; } // &#xEE00;
%c-activity { content: '📈'; content: '\1F4C8'; } // &#x1F4C8;
%c-addcalendar { content: ''; content: '\F070'; } // &#xF070;
%c-addcart { content: ''; content: '\E501'; } // &#xE501;
%c-adddatabase { content: ''; content: '\E7A2'; } // &#xE7A2;
%c-addfile { content: ''; content: '\EC01'; } // &#xEC01;
%c-addfolder { content: ''; content: '\EC71'; } // &#xEC71;
%c-addheart { content: ''; content: '\E1A2'; } // &#xE1A2;
%c-address { content: ''; content: '\E611'; } // &#xE611;
%c-addressbook { content: '📑'; content: '\1F4D1'; } // &#x1F4D1;
%c-adduser { content: ''; content: '\E401'; } // &#xE401;
%c-airplay { content: ''; content: '\E800'; } // &#xE800;
%c-alarmclock { content: '⏰'; content: '\23F0'; } // &#x23F0;
%c-album { content: ''; content: '\E970'; } // &#xE970;
%c-alert { content: '⚠'; content: '\26A0'; } // &#x26A0;
%c-alien { content: '👽'; content: '\1F47D'; } // &#x1F47D;
%c-ambulance { content: '🚑'; content: '\1F691'; } // &#x1F691;
%c-analytics { content: ''; content: '\E575'; } // &#xE575;
%c-anatomicalheart { content: ''; content: '\F4D0'; } // &#xF4D0;
%c-anchor { content: ''; content: '\ED10'; } // &#xED10;
%c-android { content: ''; content: '\F6F3'; } // &#xF6F3;
%c-appdotnet { content: ''; content: '\F614'; } // &#xF614;
%c-apple { content: ''; content: '\F8FF'; } // &#xF8FF;
%c-apple-alt { content: '🍏'; content: '\1F34F'; } // &#x1F34F;
%c-apron { content: ''; content: '\F170'; } // &#xF170;
%c-arrival { content: ''; content: '\F325'; } // &#xF325;
%c-atm { content: '🏧'; content: '\1F3E7'; } // &#x1F3E7;
%c-atom { content: '⚛'; content: '\269B'; } // &#x269B;
%c-attach { content: '📎'; content: '\1F4CE'; } // &#x1F4CE;
%c-award { content: ''; content: '\E1C0'; } // &#xE1C0;
%c-baby { content: '👶'; content: '\1F476'; } // &#x1F476;
%c-babybottle { content: '🍼'; content: '\1F37C'; } // &#x1F37C;
%c-backspace { content: '⌫'; content: '\232B'; } // &#x232B;
%c-badge { content: '📛'; content: '\1F4DB'; } // &#x1F4DB;
%c-badminton { content: ''; content: '\F403'; } // &#xF403;
%c-balloon { content: '🎈'; content: '\1F388'; } // &#x1F388;
%c-balloons { content: '🎈'; content: '\1F388'; } // &#x1F388;
%c-ban { content: '🚫'; content: '\1F6AB'; } // &#x1F6AB;
%c-bandage { content: ''; content: '\F4B2'; } // &#xF4B2;
%c-bank { content: '🏦'; content: '\1F3E6'; } // &#x1F3E6;
%c-bankcheck { content: ''; content: '\E544'; } // &#xE544;
%c-banknote { content: '💵'; content: '\1F4B5'; } // &#x1F4B5;
%c-bankonline { content: ''; content: '\EA32'; } // &#xEA32;
%c-barchart { content: '📊'; content: '\1F4CA'; } // &#x1F4CA;
%c-barn { content: ''; content: '\E604'; } // &#xE604;
%c-baseball { content: '⚾'; content: '\26BE'; } // &#x26BE;
%c-baseballglove { content: ''; content: '\F404'; } // &#xF404;
%c-basket { content: ''; content: '\E510'; } // &#xE510;
%c-basketball { content: '🏀'; content: '\1F3C0'; } // &#x1F3C0;
%c-bathroomscale { content: ''; content: '\F4B7'; } // &#xF4B7;
%c-battery { content: '🔋'; content: '\1F50B'; } // &#x1F50B;
%c-batterymobile { content: ''; content: '\EA2B'; } // &#xEA2B;
%c-bbq { content: ''; content: '\F142'; } // &#xF142;
%c-bbqapron { content: ''; content: '\F171'; } // &#xF171;
%c-bearface { content: '🐻'; content: '\1F43B'; } // &#x1F43B;
%c-beer { content: '🍺'; content: '\1F37A'; } // &#x1F37A;
%c-behance { content: ''; content: '\F661'; } // &#xF661;
%c-bezier { content: ''; content: '\E2A0'; } // &#xE2A0;
%c-bike { content: '🚲'; content: '\1F6B2'; } // &#x1F6B2;
%c-bill { content: ''; content: '\E550'; } // &#xE550;
%c-billiards { content: '🎱'; content: '\1F3B1'; } // &#x1F3B1;
%c-binoculars { content: ''; content: '\E010'; } // &#xE010;
%c-bird { content: '🐦'; content: '\1F426'; } // &#x1F426;
%c-birthdaycake { content: '🎂'; content: '\1F382'; } // &#x1F382;
%c-blackberry { content: ''; content: '\F6F4'; } // &#xF6F4;
%c-blocks { content: ''; content: '\EAA1'; } // &#xEAA1;
%c-blogger { content: ''; content: '\F622'; } // &#xF622;
%c-boat { content: '🚢'; content: '\1F6A2'; } // &#x1F6A2;
%c-bone { content: ''; content: '\EF60'; } // &#xEF60;
%c-bonfire { content: ''; content: '\EAB3'; } // &#xEAB3;
%c-book { content: '📕'; content: '\1F4D5'; } // &#x1F4D5;
%c-bookinsert { content: ''; content: '\E961'; } // &#xE961;
%c-bookmark { content: '🔖'; content: '\1F516'; } // &#x1F516;
%c-books { content: '📚'; content: '\1F4DA'; } // &#x1F4DA;
%c-bookspencil { content: ''; content: '\E960'; } // &#xE960;
%c-bottle { content: ''; content: '\F122'; } // &#xF122;
%c-bowling { content: ''; content: '\F406'; } // &#xF406;
%c-box { content: '📦'; content: '\1F4E6'; } // &#x1F4E6;
%c-boxing { content: ''; content: '\F405'; } // &#xF405;
%c-bridge { content: ''; content: '\E603'; } // &#xE603;
%c-briefcase { content: '💼'; content: '\1F4BC'; } // &#x1F4BC;
%c-brightness { content: '🔆'; content: '\1F506'; } // &#x1F506;
%c-brokenbone { content: ''; content: '\F4E1'; } // &#xF4E1;
%c-browseonline { content: ''; content: '\EA30'; } // &#xEA30;
%c-brush { content: ''; content: '\E224'; } // &#xE224;
%c-brushmobile { content: ''; content: '\EA21'; } // &#xEA21;
%c-bug { content: '🐛'; content: '\1F41B'; } // &#x1F41B;
%c-building { content: '🏢'; content: '\1F3E2'; } // &#x1F3E2;
%c-buildings { content: '🏢'; content: '\1F3E2'; } // &#x1F3E2;
%c-bullseye { content: '🎯'; content: '\1F3AF'; } // &#x1F3AF;
%c-burger { content: '🍔'; content: '\1F354'; } // &#x1F354;
%c-bus { content: '🚍'; content: '\1F68D'; } // &#x1F68D;
%c-businessuser { content: ''; content: '\E407'; } // &#xE407;
%c-button { content: ''; content: '\F1F8'; } // &#xF1F8;
%c-calculator { content: ''; content: '\E551'; } // &#xE551;
%c-calendar { content: '📅'; content: '\1F4C5'; } // &#x1F4C5;
%c-callbell { content: ''; content: '\F424'; } // &#xF424;
%c-camera { content: '📷'; content: '\1F4F7'; } // &#x1F4F7;
%c-campfire { content: '🔥'; content: '\1F525'; } // &#x1F525;
%c-candle { content: ''; content: '\EAB0'; } // &#xEAB0;
%c-car { content: '🚘'; content: '\1F698'; } // &#x1F698;
%c-caravan { content: '🚐'; content: '\1F690'; } // &#x1F690;
%c-cargoship { content: ''; content: '\E5E3'; } // &#xE5E3;
%c-carrepair { content: ''; content: '\F300'; } // &#xF300;
%c-carrot { content: ''; content: '\F111'; } // &#xF111;
%c-cart { content: ''; content: '\E500'; } // &#xE500;
%c-cashregister { content: ''; content: '\E530'; } // &#xE530;
%c-catface { content: '🐱'; content: '\1F431'; } // &#x1F431;
%c-caution { content: '⛔'; content: '\26D4'; } // &#x26D4;
%c-cell { content: '📱'; content: '\1F4F1'; } // &#x1F4F1;
%c-cellbars { content: '📶'; content: '\1F4F6'; } // &#x1F4F6;
%c-cfl { content: ''; content: '\EA85'; } // &#xEA85;
%c-chargingbattery { content: ''; content: '\EA14'; } // &#xEA14;
%c-chat { content: '💬'; content: '\1F4AC'; } // &#x1F4AC;
%c-chats { content: ''; content: '\E390'; } // &#xE390;
%c-check { content: '✓'; content: '\2713'; } // &#x2713;
%c-checkcalendar { content: ''; content: '\F072'; } // &#xF072;
%c-checkclipboard { content: ''; content: '\E2B3'; } // &#xE2B3;
%c-checkheart { content: ''; content: '\F4D1'; } // &#xF4D1;
%c-cheese { content: ''; content: '\F101'; } // &#xF101;
%c-chef { content: ''; content: '\F172'; } // &#xF172;
%c-chess { content: '♞'; content: '\265E'; } // &#x265E;
%c-christmastree { content: '🎄'; content: '\1F384'; } // &#x1F384;
%c-clapboard { content: '🎬'; content: '\1F3AC'; } // &#x1F3AC;
%c-clipboard { content: '📋'; content: '\1F4CB'; } // &#x1F4CB;
%c-clock { content: '⏲'; content: '\23F2'; } // &#x23F2;
%c-clockwise { content: '⥁'; content: '\2941'; } // &#x2941;
%c-cloud { content: '☁'; content: '\2601'; } // &#x2601;
%c-cloudfolder { content: ''; content: '\EC80'; } // &#xEC80;
%c-coal { content: ''; content: '\F136'; } // &#xF136;
%c-cocktail { content: '🍸'; content: '\1F378'; } // &#x1F378;
%c-coffee { content: ''; content: '\F120'; } // &#xF120;
%c-coins { content: ''; content: '\E543'; } // &#xE543;
%c-colander { content: ''; content: '\F163'; } // &#xF163;
%c-columns { content: ''; content: '\E9A2'; } // &#xE9A2;
%c-compass { content: ''; content: '\E671'; } // &#xE671;
%c-compassarrow { content: ''; content: '\E681'; } // &#xE681;
%c-compassnavigate { content: ''; content: '\E680'; } // &#xE680;
%c-compose { content: '📝'; content: '\1F4DD'; } // &#x1F4DD;
%c-connection { content: ''; content: '\EB85'; } // &#xEB85;
%c-contacts { content: '📇'; content: '\1F4C7'; } // &#x1F4C7;
%c-containers { content: ''; content: '\E5E6'; } // &#xE5E6;
%c-contract { content: ''; content: '\EE01'; } // &#xEE01;
%c-cook { content: '🍳'; content: '\1F373'; } // &#x1F373;
%c-cookingutensils { content: ''; content: '\F151'; } // &#xF151;
%c-corn { content: ''; content: '\F110'; } // &#xF110;
%c-crate { content: ''; content: '\E5D8'; } // &#xE5D8;
%c-crayons { content: ''; content: '\E242'; } // &#xE242;
%c-creditcard { content: '💳'; content: '\1F4B3'; } // &#x1F4B3;
%c-crescentmoon { content: '🌙'; content: '\1F319'; } // &#x1F319;
%c-crochet { content: ''; content: '\F1F5'; } // &#xF1F5;
%c-crop { content: ''; content: '\E201'; } // &#xE201;
%c-crosshair { content: '⌖'; content: '\2316'; } // &#x2316;
%c-crown { content: '👑'; content: '\1F451'; } // &#x1F451;
%c-cup { content: ''; content: '\F125'; } // &#xF125;
%c-cursor { content: ''; content: '\E001'; } // &#xE001;
%c-cut { content: '✂'; content: '\2702'; } // &#x2702;
%c-cutpaste { content: ''; content: '\E204'; } // &#xE204;
%c-dashboard { content: ''; content: '\F000'; } // &#xF000;
%c-database { content: ''; content: '\E7A0'; } // &#xE7A0;
%c-delete { content: '␡'; content: '\2421'; } // &#x2421;
%c-deletecalendar { content: ''; content: '\F073'; } // &#xF073;
%c-deletecart { content: ''; content: '\E504'; } // &#xE504;
%c-deletedatabase { content: ''; content: '\E7A5'; } // &#xE7A5;
%c-deletefile { content: ''; content: '\EC04'; } // &#xEC04;
%c-deletefolder { content: ''; content: '\EC74'; } // &#xEC74;
%c-deleteheart { content: '💔'; content: '\1F494'; } // &#x1F494;
%c-deleteuser { content: ''; content: '\E404'; } // &#xE404;
%c-deliverytruck { content: ''; content: '\E5E1'; } // &#xE5E1;
%c-deliveryvan { content: ''; content: '\E5E0'; } // &#xE5E0;
%c-departure { content: ''; content: '\F324'; } // &#xF324;
%c-desktop { content: '💻'; content: '\1F4BB'; } // &#x1F4BB;
%c-dial { content: ''; content: '\F004'; } // &#xF004;
%c-diaper { content: ''; content: '\EAA3'; } // &#xEAA3;
%c-digitalsafe { content: ''; content: '\E541'; } // &#xE541;
%c-directleft { content: '◃'; content: '\25C3'; } // &#x25C3;
%c-directright { content: '▹'; content: '\25B9'; } // &#x25B9;
%c-directup { content: '▴'; content: '\25B4'; } // &#x25B4;
%c-disc { content: '💿'; content: '\1F4BF'; } // &#x1F4BF;
%c-discs { content: ''; content: '\E811'; } // &#xE811;
%c-dislike { content: '👎'; content: '\1F44E'; } // &#x1F44E;
%c-dispensecash { content: ''; content: '\E542'; } // &#xE542;
%c-dna { content: ''; content: '\F4C2'; } // &#xF4C2;
%c-doc { content: ''; content: '\EC32'; } // &#xEC32;
%c-dog { content: '🐕'; content: '\1F415'; } // &#x1F415;
%c-dogface { content: '🐶'; content: '\1F436'; } // &#x1F436;
%c-dollarmobile { content: ''; content: '\EA27'; } // &#xEA27;
%c-dollarsign { content: '💲'; content: '\1F4B2'; } // &#x1F4B2;
%c-donotdisturb { content: ''; content: '\E422'; } // &#xE422;
%c-door { content: '🚪'; content: '\1F6AA'; } // &#x1F6AA;
%c-down { content: '⬇'; content: '\2B07'; } // &#x2B07;
%c-downleft { content: '⬋'; content: '\2B0B'; } // &#x2B0B;
%c-download { content: ''; content: '\EB00'; } // &#xEB00;
%c-download-alt { content: ''; content: '\EB01'; } // &#xEB01;
%c-downloadbook { content: ''; content: '\E963'; } // &#xE963;
%c-downloadbox { content: ''; content: '\EB02'; } // &#xEB02;
%c-downloadcart { content: ''; content: '\E505'; } // &#xE505;
%c-downloadcloud { content: ''; content: '\EB00'; } // &#xEB00;
%c-downloadcrate { content: ''; content: '\EB03'; } // &#xEB03;
%c-downloadfile { content: ''; content: '\EC06'; } // &#xEC06;
%c-downloadfolder { content: ''; content: '\EC76'; } // &#xEC76;
%c-downloadhdd { content: ''; content: '\E7B7'; } // &#xE7B7;
%c-downright { content: '⬊'; content: '\2B0A'; } // &#x2B0A;
%c-downwardsbarchart { content: ''; content: '\E573'; } // &#xE573;
%c-downwardslinechart { content: '📉'; content: '\1F4C9'; } // &#x1F4C9;
%c-draw { content: '✏'; content: '\270F'; } // &#x270F;
%c-dribbble { content: ''; content: '\F660'; } // &#xF660;
%c-dropbox { content: ''; content: '\F653'; } // &#xF653;
%c-dropdown { content: '▾'; content: '\25BE'; } // &#x25BE;
%c-droplet { content: '💧'; content: '\1F4A7'; } // &#x1F4A7;
%c-dryer { content: ''; content: '\EA81'; } // &#xEA81;
%c-dumbbell { content: ''; content: '\F416'; } // &#xF416;
%c-earth { content: '🌎'; content: '\1F30E'; } // &#x1F30E;
%c-easteregg { content: ''; content: '\EAE0'; } // &#xEAE0;
%c-ebook { content: ''; content: '\EA05'; } // &#xEA05;
%c-effects { content: ''; content: '\E280'; } // &#xE280;
%c-egg { content: ''; content: '\F100'; } // &#xF100;
%c-eggtimer { content: ''; content: '\F165'; } // &#xF165;
%c-eighthnote { content: '♪'; content: '\266A'; } // &#x266A;
%c-eject { content: '⏏'; content: '\23CF'; } // &#x23CF;
%c-elevator { content: ''; content: '\F380'; } // &#xF380;
%c-ellipsis { content: '…'; content: '\2026'; } // &#x2026;
%c-ellipsischat { content: ''; content: '\E399'; } // &#xE399;
%c-emptybattery { content: ''; content: '\EA13'; } // &#xEA13;
%c-emptycart { content: ''; content: '\E507'; } // &#xE507;
%c-emptyheart { content: '♡'; content: '\2661'; } // &#x2661;
%c-erase { content: '✐'; content: '\2710'; } // &#x2710;
%c-ereader { content: ''; content: '\EA04'; } // &#xEA04;
%c-euromobile { content: ''; content: '\EA28'; } // &#xEA28;
%c-evergreen { content: '🌲'; content: '\1F332'; } // &#x1F332;
%c-exclamationchat { content: ''; content: '\E397'; } // &#xE397;
%c-exe { content: ''; content: '\EC30'; } // &#xEC30;
%c-exercise { content: ''; content: '\F414'; } // &#xF414;
%c-exercisebike { content: ''; content: '\F415'; } // &#xF415;
%c-expand { content: '⤢'; content: '\2922'; } // &#x2922;
%c-exportfile { content: ''; content: '\EC09'; } // &#xEC09;
%c-eyesurgery { content: ''; content: '\F4E0'; } // &#xF4E0;
%c-fabric { content: ''; content: '\F1F0'; } // &#xF1F0;
%c-facebook { content: ''; content: '\F610'; } // &#xF610;
%c-facetime { content: ''; content: '\E320'; } // &#xE320;
%c-fan { content: ''; content: '\F280'; } // &#xF280;
%c-fastforward { content: '⏩'; content: '\23E9'; } // &#x23E9;
%c-fax { content: '📠'; content: '\1F4E0'; } // &#x1F4E0;
%c-feather { content: ''; content: '\E220'; } // &#xE220;
%c-females { content: '👭'; content: '\1F46D'; } // &#x1F46D;
%c-femaleuser { content: '👧'; content: '\1F467'; } // &#x1F467;
%c-fence { content: ''; content: '\E601'; } // &#xE601;
%c-file { content: '📄'; content: '\1F4C4'; } // &#x1F4C4;
%c-filecabinet { content: ''; content: '\E900'; } // &#xE900;
%c-files { content: ''; content: '\EC00'; } // &#xEC00;
%c-fill { content: ''; content: '\E240'; } // &#xE240;
%c-film { content: ''; content: '\E8B0'; } // &#xE8B0;
%c-filter { content: ''; content: '\E9B0'; } // &#xE9B0;
%c-fireplace { content: ''; content: '\EA82'; } // &#xEA82;
%c-firewall { content: ''; content: '\E720'; } // &#xE720;
%c-firstquartermoon { content: '🌓'; content: '\1F313'; } // &#x1F313;
%c-fish { content: '🐟'; content: '\1F41F'; } // &#x1F41F;
%c-fishes { content: ''; content: '\EF20'; } // &#xEF20;
%c-fivedie { content: '⚄'; content: '\2684'; } // &#x2684;
%c-fivehundredpx { content: ''; content: '\F642'; } // &#xF642;
%c-flag { content: '⚑'; content: '\2691'; } // &#x2691;
%c-flaginhole { content: '⛳'; content: '\26F3'; } // &#x26F3;
%c-flame { content: ''; content: '\EAB2'; } // &#xEAB2;
%c-flash { content: '⌁'; content: '\2301'; } // &#x2301;
%c-flashlight { content: '🔦'; content: '\1F526'; } // &#x1F526;
%c-flashoff { content: ''; content: '\F011'; } // &#xF011;
%c-flask { content: ''; content: '\F4C0'; } // &#xF4C0;
%c-flatscreen { content: ''; content: '\E8C0'; } // &#xE8C0;
%c-flickr { content: ''; content: '\F640'; } // &#xF640;
%c-fliphorizontally { content: ''; content: '\E260'; } // &#xE260;
%c-flipvertically { content: ''; content: '\E261'; } // &#xE261;
%c-floorplan { content: ''; content: '\E610'; } // &#xE610;
%c-floppydisk { content: '💾'; content: '\1F4BE'; } // &#x1F4BE;
%c-flowchart { content: ''; content: '\E577'; } // &#xE577;
%c-flower { content: '⚘'; content: '\2698'; } // &#x2698;
%c-flowerframe { content: ''; content: '\EA93'; } // &#xEA93;
%c-flowertag { content: ''; content: '\E103'; } // &#xE103;
%c-fluxcapacitor { content: ''; content: '\EAD0'; } // &#xEAD0;
%c-fog { content: ''; content: '\F211'; } // &#xF211;
%c-folder { content: '📁'; content: '\1F4C1'; } // &#x1F4C1;
%c-font { content: ''; content: '\ED01'; } // &#xED01;
%c-football { content: '🏈'; content: '\1F3C8'; } // &#x1F3C8;
%c-footsteps { content: '👣'; content: '\1F463'; } // &#x1F463;
%c-fork { content: ''; content: '\EB80'; } // &#xEB80;
%c-forklift { content: ''; content: '\E5E2'; } // &#xE5E2;
%c-form { content: ''; content: '\E582'; } // &#xE582;
%c-fourdie { content: '⚃'; content: '\2683'; } // &#x2683;
%c-foursquare { content: ''; content: '\F690'; } // &#xF690;
%c-fragile { content: ''; content: '\E5E7'; } // &#xE5E7;
%c-frame { content: ''; content: '\EA90'; } // &#xEA90;
%c-frenchfries { content: '🍟'; content: '\1F35F'; } // &#x1F35F;
%c-frown { content: '☹'; content: '\2639'; } // &#x2639;
%c-fuel { content: '⛽'; content: '\26FD'; } // &#x26FD;
%c-fullmoon { content: '🌕'; content: '\1F315'; } // &#x1F315;
%c-fuzzydice { content: ''; content: '\EA87'; } // &#xEA87;
%c-garage { content: ''; content: '\E600'; } // &#xE600;
%c-gavel { content: '🔨'; content: '\1F528'; } // &#x1F528;
%c-ghost { content: '👻'; content: '\1F47B'; } // &#x1F47B;
%c-gift { content: '🎁'; content: '\1F381'; } // &#x1F381;
%c-github { content: ''; content: '\F670'; } // &#xF670;
%c-globe { content: '🌎'; content: '\1F30E'; } // &#x1F30E;
%c-globe-alt { content: '🌐'; content: '\1F310'; } // &#x1F310;
%c-globelocation { content: ''; content: '\E6D2'; } // &#xE6D2;
%c-golf { content: ''; content: '\F400'; } // &#xF400;
%c-googleplus { content: ''; content: '\F613'; } // &#xF613;
%c-gps { content: ''; content: '\E674'; } // &#xE674;
%c-graduationcap { content: '🎓'; content: '\1F393'; } // &#x1F393;
%c-grass { content: ''; content: '\EF70'; } // &#xEF70;
%c-grid { content: ''; content: '\E9A0'; } // &#xE9A0;
%c-gridlines { content: ''; content: '\E206'; } // &#xE206;
%c-growler { content: ''; content: '\F121'; } // &#xF121;
%c-hairdryer { content: ''; content: '\EA88'; } // &#xEA88;
%c-halfheart { content: ''; content: '\E1A0'; } // &#xE1A0;
%c-halfstar { content: ''; content: '\E1A1'; } // &#xE1A1;
%c-hammerscrewdriver { content: ''; content: '\F035'; } // &#xF035;
%c-handbag { content: '👜'; content: '\1F45C'; } // &#x1F45C;
%c-hanger { content: ''; content: '\F1A0'; } // &#xF1A0;
%c-happyrobot { content: ''; content: '\E441'; } // &#xE441;
%c-hdd { content: ''; content: '\E7B0'; } // &#xE7B0;
%c-headphones { content: '🎧'; content: '\1F3A7'; } // &#x1F3A7;
%c-headset { content: ''; content: '\E302'; } // &#xE302;
%c-headstone { content: '⛼'; content: '\26FC'; } // &#x26FC;
%c-heart { content: '♥'; content: '\2665'; } // &#x2665;
%c-heartbook { content: ''; content: '\E962'; } // &#xE962;
%c-heartframe { content: '💟'; content: '\1F49F'; } // &#x1F49F;
%c-heartmobile { content: ''; content: '\EA23'; } // &#xEA23;
%c-heartuser { content: ''; content: '\E405'; } // &#xE405;
%c-heavyasterisk { content: '✱'; content: '\2731'; } // &#x2731;
%c-helicopter { content: '🚁'; content: '\1F681'; } // &#x1F681;
%c-help { content: '❓'; content: '\2753'; } // &#x2753;
%c-highbattery { content: ''; content: '\EA10'; } // &#xEA10;
%c-highlight { content: ''; content: '\ED11'; } // &#xED11;
%c-highvolume { content: '🔊'; content: '\1F50A'; } // &#x1F50A;
%c-highway { content: ''; content: '\F320'; } // &#xF320;
%c-hiker { content: ''; content: '\F410'; } // &#xF410;
%c-hockey { content: ''; content: '\F401'; } // &#xF401;
%c-home { content: '⌂'; content: '\2302'; } // &#x2302;
%c-hook { content: ''; content: '\E5E4'; } // &#xE5E4;
%c-horizontalbarchart { content: ''; content: '\E574'; } // &#xE574;
%c-hospital { content: '⛨'; content: '\26E8'; } // &#x26E8;
%c-hotdog { content: ''; content: '\F102'; } // &#xF102;
%c-hotsauce { content: ''; content: '\F133'; } // &#xF133;
%c-hottub { content: ''; content: '\F411'; } // &#xF411;
%c-hourglass { content: '⏳'; content: '\23F3'; } // &#x23F3;
%c-housesale { content: ''; content: '\E613'; } // &#xE613;
%c-hyphen { content: '-'; content: '\002D'; } // &#x002D;
%c-icecream { content: '🍨'; content: '\1F368'; } // &#x1F368;
%c-iceskate { content: '⛸'; content: '\26F8'; } // &#x26F8;
%c-importfile { content: ''; content: '\EC08'; } // &#xEC08;
%c-inbox { content: '📥'; content: '\1F4E5'; } // &#x1F4E5;
%c-incomingmail { content: '📩'; content: '\1F4E9'; } // &#x1F4E9;
%c-index { content: ''; content: '\E902'; } // &#xE902;
%c-info { content: 'ℹ'; content: '\2139'; } // &#x2139;
%c-instagram { content: ''; content: '\F641'; } // &#xF641;
%c-intersection { content: ''; content: '\F322'; } // &#xF322;
%c-itunes { content: ''; content: '\E822'; } // &#xE822;
%c-jackolantern { content: '🎃'; content: '\1F383'; } // &#x1F383;
%c-jerrycan { content: ''; content: '\F315'; } // &#xF315;
%c-jpg { content: ''; content: '\EC35'; } // &#xEC35;
%c-jug { content: ''; content: '\F126'; } // &#xF126;
%c-jumprope { content: ''; content: '\F417'; } // &#xF417;
%c-key { content: '🔑'; content: '\1F511'; } // &#x1F511;
%c-keyboarddown { content: ''; content: '\F0D1'; } // &#xF0D1;
%c-keyboardup { content: ''; content: '\F0D0'; } // &#xF0D0;
%c-kickstarter { content: ''; content: '\F681'; } // &#xF681;
%c-knife { content: '🔪'; content: '\1F52A'; } // &#x1F52A;
%c-laptop { content: ''; content: '\EA00'; } // &#xEA00;
%c-lastfm { content: ''; content: '\F6B2'; } // &#xF6B2;
%c-lastquartermoon { content: '🌗'; content: '\1F317'; } // &#x1F317;
%c-layers { content: ''; content: '\E202'; } // &#xE202;
%c-layout { content: ''; content: '\EDA0'; } // &#xEDA0;
%c-leaf { content: '🍂'; content: '\1F342'; } // &#x1F342;
%c-ledger { content: '📒'; content: '\1F4D2'; } // &#x1F4D2;
%c-left { content: '⬅'; content: '\2B05'; } // &#x2B05;
%c-leftright { content: '⬌'; content: '\2B0C'; } // &#x2B0C;
%c-leftward { content: ''; content: '\F505'; } // &#xF505;
%c-lifepreserver { content: ''; content: '\EE11'; } // &#xEE11;
%c-lightbulb { content: '💡'; content: '\1F4A1'; } // &#x1F4A1;
%c-lightbulbon { content: ''; content: '\EA83'; } // &#xEA83;
%c-lightning { content: '☇'; content: '\2607'; } // &#x2607;
%c-like { content: '👍'; content: '\1F44D'; } // &#x1F44D;
%c-linechartclipboard { content: ''; content: '\E2B5'; } // &#xE2B5;
%c-linecharts { content: ''; content: '\E576'; } // &#xE576;
%c-link { content: '🔗'; content: '\1F517'; } // &#x1F517;
%c-linkedin { content: ''; content: '\F612'; } // &#xF612;
%c-list { content: ''; content: '\ED50'; } // &#xED50;
%c-loading { content: ''; content: '\EB83'; } // &#xEB83;
%c-location { content: ''; content: '\E6D0'; } // &#xE6D0;
%c-lock { content: '🔒'; content: '\1F512'; } // &#x1F512;
%c-lockfile { content: ''; content: '\EC11'; } // &#xEC11;
%c-lockfolder { content: ''; content: '\EC81'; } // &#xEC81;
%c-lockmobile { content: ''; content: '\EA25'; } // &#xEA25;
%c-locomotive { content: '🚂'; content: '\1F682'; } // &#x1F682;
%c-lodging { content: '🏨'; content: '\1F3E8'; } // &#x1F3E8;
%c-login { content: ''; content: '\EE03'; } // &#xEE03;
%c-logout { content: ''; content: '\EE02'; } // &#xEE02;
%c-lowbattery { content: ''; content: '\EA12'; } // &#xEA12;
%c-lowvolume { content: '🔉'; content: '\1F509'; } // &#x1F509;
%c-luggage { content: ''; content: '\E421'; } // &#xE421;
%c-magicwand { content: ''; content: '\E203'; } // &#xE203;
%c-mail { content: '✉'; content: '\2709'; } // &#x2709;
%c-mailbox { content: '📫'; content: '\1F4EB'; } // &#x1F4EB;
%c-malefemale { content: '👫'; content: '\1F46B'; } // &#x1F46B;
%c-males { content: '👬'; content: '\1F46C'; } // &#x1F46C;
%c-map { content: ''; content: '\E673'; } // &#xE673;
%c-maplocation { content: ''; content: '\E6D1'; } // &#xE6D1;
%c-measuringcup { content: ''; content: '\F162'; } // &#xF162;
%c-medal { content: ''; content: '\E1C1'; } // &#xE1C1;
%c-medicalbag { content: ''; content: '\F4B1'; } // &#xF4B1;
%c-medicalcross { content: ''; content: '\F4B0'; } // &#xF4B0;
%c-medicalthermometer { content: ''; content: '\F4B3'; } // &#xF4B3;
%c-mediumbattery { content: ''; content: '\EA11'; } // &#xEA11;
%c-meeting { content: ''; content: '\E581'; } // &#xE581;
%c-megaphone { content: '📢'; content: '\1F4E2'; } // &#x1F4E2;
%c-menorah { content: ''; content: '\EAE1'; } // &#xEAE1;
%c-merge { content: ''; content: '\EB81'; } // &#xEB81;
%c-mic { content: '🎤'; content: '\1F3A4'; } // &#x1F3A4;
%c-microsoft { content: ''; content: '\F6F1'; } // &#xF6F1;
%c-moneybag { content: '💰'; content: '\1F4B0'; } // &#x1F4B0;
%c-motorcycle { content: ''; content: '\F303'; } // &#xF303;
%c-move { content: ''; content: '\E070'; } // &#xE070;
%c-moviefolder { content: ''; content: '\EC88'; } // &#xEC88;
%c-mug { content: '☕'; content: '\2615'; } // &#x2615;
%c-music { content: '♫'; content: '\266B'; } // &#x266B;
%c-musichome { content: ''; content: '\E821'; } // &#xE821;
%c-musicopenbook { content: ''; content: '\E966'; } // &#xE966;
%c-navigate { content: ''; content: '\E670'; } // &#xE670;
%c-navigatedown { content: ''; content: '\F501'; } // &#xF501;
%c-navigateleft { content: '◅'; content: '\25C5'; } // &#x25C5;
%c-navigateright { content: '▻'; content: '\25BB'; } // &#x25BB;
%c-navigateup { content: ''; content: '\F500'; } // &#xF500;
%c-navigationmobile { content: ''; content: '\EA2A'; } // &#xEA2A;
%c-needles { content: ''; content: '\F1F6'; } // &#xF1F6;
%c-networkhdd { content: ''; content: '\E7B6'; } // &#xE7B6;
%c-new { content: '🆕'; content: '\1F195'; } // &#x1F195;
%c-newmoon { content: '🌑'; content: '\1F311'; } // &#x1F311;
%c-newspaper { content: '📰'; content: '\1F4F0'; } // &#x1F4F0;
%c-newtag { content: ''; content: '\E101'; } // &#xE101;
%c-nextpage { content: '⎘'; content: '\2398'; } // &#x2398;
%c-noodles { content: '🍜'; content: '\1F35C'; } // &#x1F35C;
%c-nosmoking { content: '🚭'; content: '\1F6AD'; } // &#x1F6AD;
%c-notebook { content: '📓'; content: '\1F4D3'; } // &#x1F4D3;
%c-notepad { content: ''; content: '\E972'; } // &#xE972;
%c-notice { content: ''; content: '\E973'; } // &#xE973;
%c-notifications { content: '🔔'; content: '\1F514'; } // &#x1F514;
%c-notificationsdisabled { content: '🔕'; content: '\1F515'; } // &#x1F515;
%c-octocat { content: ''; content: '\F671'; } // &#xF671;
%c-oliveoil { content: ''; content: '\F132'; } // &#xF132;
%c-onedie { content: '⚀'; content: '\2680'; } // &#x2680;
%c-openbook { content: '📖'; content: '\1F4D6'; } // &#x1F4D6;
%c-openfolder { content: '📂'; content: '\1F4C2'; } // &#x1F4C2;
%c-outbox { content: '📤'; content: '\1F4E4'; } // &#x1F4E4;
%c-outlet { content: ''; content: '\F282'; } // &#xF282;
%c-oven { content: ''; content: '\F140'; } // &#xF140;
%c-paddles { content: ''; content: '\F407'; } // &#xF407;
%c-page { content: ''; content: '\E903'; } // &#xE903;
%c-pagecurl { content: ''; content: '\E9B0'; } // &#xE9B0;
%c-pailshovel { content: ''; content: '\EAA4'; } // &#xEAA4;
%c-paintroller { content: ''; content: '\E225'; } // &#xE225;
%c-palette { content: '🎨'; content: '\1F3A8'; } // &#x1F3A8;
%c-palmtree { content: '🌴'; content: '\1F334'; } // &#x1F334;
%c-pancakes { content: ''; content: '\F113'; } // &#xF113;
%c-paperbag { content: ''; content: '\F161'; } // &#xF161;
%c-parking { content: ''; content: '\F312'; } // &#xF312;
%c-partlycloudy { content: '⛅'; content: '\26C5'; } // &#x26C5;
%c-passport { content: ''; content: '\F316'; } // &#xF316;
%c-pause { content: ''; content: '\E8A0'; } // &#xE8A0;
%c-paypal { content: ''; content: '\F680'; } // &#xF680;
%c-pdf { content: ''; content: '\EC34'; } // &#xEC34;
%c-pen { content: '✒'; content: '\2712'; } // &#x2712;
%c-pencilbrush { content: ''; content: '\E222'; } // &#xE222;
%c-pencilbrushpen { content: ''; content: '\E223'; } // &#xE223;
%c-pencilmobile { content: ''; content: '\EA22'; } // &#xEA22;
%c-pepper { content:''; content: '\F131'; } // &#xF131;
%c-percent { content: '%'; content: '\0025'; } // &#x0025;
%c-phone { content: '📞'; content: '\1F4DE'; } // &#x1F4DE;
%c-phonebook { content: ''; content: '\E301'; } // &#xE301;
%c-phonedisabled { content: ''; content: '\E300'; } // &#xE300;
%c-phonemobile { content: ''; content: '\EA24'; } // &#xEA24;
%c-phonograph { content: ''; content: '\E802'; } // &#xE802;
%c-picnictable { content: ''; content: '\EAB1'; } // &#xEAB1;
%c-picture { content: '🌄'; content: '\1F304'; } // &#x1F304;
%c-picturefile { content: ''; content: '\EC17'; } // &#xEC17;
%c-picturefolder { content: ''; content: '\EC87'; } // &#xEC87;
%c-pictures { content: ''; content: '\E851'; } // &#xE851;
%c-piechart { content: ''; content: '\E570'; } // &#xE570;
%c-piechartthirds { content: ''; content: '\E571'; } // &#xE571;
%c-pig { content: '🐖'; content: '\1F416'; } // &#x1F416;
%c-piggybank { content: ''; content: '\E545'; } // &#xE545;
%c-pill { content: '💊'; content: '\1F48A'; } // &#x1F48A;
%c-pillbottle { content: ''; content: '\F4B5'; } // &#xF4B5;
%c-pin { content: '📍'; content: '\1F4CD'; } // &#x1F4CD;
%c-pinboard { content: ''; content: '\F654'; } // &#xF654;
%c-pinterest { content: ''; content: '\F650'; } // &#xF650;
%c-pixels { content: ''; content: '\E2A1'; } // &#xE2A1;
%c-pizza { content: '🍕'; content: '\1F355'; } // &#x1F355;
%c-plane { content: '✈'; content: '\2708'; } // &#x2708;
%c-platter { content: ''; content: '\F166'; } // &#xF166;
%c-play { content: '▶'; content: '\25B6'; } // &#x25B6;
%c-playfilm { content: ''; content: '\E8B1'; } // &#xE8B1;
%c-playlist { content: ''; content: '\E820'; } // &#xE820;
%c-playscript { content: ''; content: '\E701'; } // &#xE701;
%c-playvideo { content: ''; content: '\E8A1'; } // &#xE8A1;
%c-plug { content:'🔌'; content: '\1F50C'; } // &#x1F50C;
%c-plus { content: '+'; content: '\002B'; } // &#x002B;
%c-png { content: ''; content: '\EC36'; } // &#xEC36;
%c-podcast { content: ''; content: '\E311'; } // &#xE311;
%c-pool { content: ''; content: '\E412'; } // &#xE412;
%c-posterous { content: ''; content: '\F623'; } // &#xF623;
%c-power { content: ''; content: '\EE10'; } // &#xEE10;
%c-powermobile { content: ''; content: '\EA2C'; } // &#xEA2C;
%c-ppt { content: ''; content: '\EC33'; } // &#xEC33;
%c-previouspage { content: '⎗'; content: '\2397'; } // &#x2397;
%c-pricetag { content: ''; content: '\E102'; } // &#xE102;
%c-print { content: '⎙'; content: '\2399'; } // &#x2399;
%c-projector { content: ''; content: '\E8C1'; } // &#xE8C1;
%c-pushpin { content: '📌'; content: '\1F4CC'; } // &#x1F4CC;
%c-puzzle { content: ''; content: '\E710'; } // &#xE710;
%c-questionchat { content: ''; content: '\E398'; } // &#xE398;
%c-questionframe { content: ''; content: '\EA94'; } // &#xEA94;
%c-quote { content: '“'; content: '\201C'; } // &#x201C;
%c-radio { content: '📻'; content: '\1F4FB'; } // &#x1F4FB;
%c-radioactive { content: '☢'; content: '\2622'; } // &#x2622;
%c-rain { content: '☔'; content: '\2614'; } // &#x2614;
%c-rainbow { content: '🌈'; content: '\1F308'; } // &#x1F308;
%c-raisedhand { content: '✋'; content: '\270B'; } // &#x270B;
%c-rattle { content: ''; content: '\EAA2'; } // &#xEAA2;
%c-rdio { content: ''; content: '\F6B0'; } // &#xF6B0;
%c-readmill { content: ''; content: '\F652'; } // &#xF652;
%c-readonline { content: ''; content: '\EA34'; } // &#xEA34;
%c-realtyonline { content: ''; content: '\EA33'; } // &#xEA33;
%c-record { content: '●'; content: '\25CF'; } // &#x25CF;
%c-recordscript { content: ''; content: '\E703'; } // &#xE703;
%c-reddit { content: ''; content: '\F616'; } // &#xF616;
%c-redirect { content: '↪'; content: '\21AA'; } // &#x21AA;
%c-redirect-alt { content: '↗'; content: '\2197'; } // &#x2197;
%c-redo { content: '↪'; content: '\21AA'; } // &#x21AA;
%c-refresh { content: '↻'; content: '\21BB'; } // &#x21BB;
%c-reload { content: ''; content: '\EB87'; } // &#xEB87;
%c-removecalendar { content: ''; content: '\F071'; } // &#xF071;
%c-removecart { content: ''; content: '\E502'; } // &#xE502;
%c-removefile { content: ''; content: '\EC02'; } // &#xEC02;
%c-removefolder { content: ''; content: '\EC72'; } // &#xEC72;
%c-removeuser { content: ''; content: '\E402'; } // &#xE402;
%c-repeat { content: '🔁'; content: '\1F501'; } // &#x1F501;
%c-replay { content: '↺'; content: '\21BA'; } // &#x21BA;
%c-reply { content: '↩'; content: '\21A9'; } // &#x21A9;
%c-restroom { content: '🚻'; content: '\1F6BB'; } // &#x1F6BB;
%c-retweet { content: ''; content: '\F600'; } // &#xF600;
%c-rewind { content: '⏪'; content: '\23EA'; } // &#x23EA;
%c-ribbon { content: '🎀'; content: '\1F380'; } // &#x1F380;
%c-right { content: '➡'; content: '\27A1'; } // &#x27A1;
%c-rightward { content: ''; content: '\F503'; } // &#xF503;
%c-rings { content: '💍'; content: '\1F48D'; } // &#x1F48D;
%c-road { content: ''; content: '\F321'; } // &#xF321;
%c-robot { content: ''; content: '\E440'; } // &#xE440;
%c-rocket { content: '🚀'; content: '\1F680'; } // &#x1F680;
%c-rotaryphone { content: '☎'; content: '\260E'; } // &#x260E;
%c-rows { content: ''; content: '\E9A1'; } // &#xE9A1;
%c-rss { content: ''; content: '\E310'; } // &#xE310;
%c-rssmobile { content: ''; content: '\EA29'; } // &#xEA29;
%c-rubbereraser { content: ''; content: '\E221'; } // &#xE221;
%c-rubberstamp { content: ''; content: '\E226'; } // &#xE226;
%c-rulerpencil { content: ''; content: '\E205'; } // &#xE205;
%c-rules { content: '📏'; content: '\1F4CF'; } // &#x1F4CF;
%c-runner { content: '🏃'; content: '\1F3C3'; } // &#x1F3C3;
%c-safe { content: ''; content: '\E540'; } // &#xE540;
%c-sailboat { content: '⛵'; content: '\26F5'; } // &#x26F5;
%c-salt { content: ''; content: '\F130'; } // &#xF130;
%c-sample { content: ''; content: '\E200'; } // &#xE200;
%c-sausage { content: ''; content: '\F103'; } // &#xF103;
%c-scale { content: ''; content: '\F164'; } // &#xF164;
%c-scaledown { content: ''; content: '\EE05'; } // &#xEE05;
%c-scales { content: '⚖'; content: '\2696'; } // &#x2696;
%c-scaleup { content: ''; content: '\EE04'; } // &#xEE04;
%c-scatterchart { content: ''; content: '\E578'; } // &#xE578;
%c-schooner { content: ''; content: '\F305'; } // &#xF305;
%c-scissorsneedles { content: ''; content: '\F1F7'; } // &#xF1F7;
%c-screenshot { content: ''; content: '\E004'; } // &#xE004;
%c-screwdrivermobile { content: ''; content: '\EA20'; } // &#xEA20;
%c-screwdriverpencil { content: ''; content: '\F034'; } // &#xF034;
%c-script { content: ''; content: '\E700'; } // &#xE700;
%c-search-left { content: '🔍'; content: '\1F50D'; } // &#x1F50D;
%c-search-right { content: '🔎'; content: '\1F50E'; } // &#x1F50E;
%c-searchbarcode { content: ''; content: '\E531'; } // &#xE531;
%c-searchbook { content: ''; content: '\E967'; } // &#xE967;
%c-searchfile { content: ''; content: '\EC05'; } // &#xEC05;
%c-searchhouse { content: ''; content: '\E612'; } // &#xE612;
%c-searchpicture { content: ''; content: '\E856'; } // &#xE856;
%c-securefolder { content: ''; content: '\EC83'; } // &#xEC83;
%c-seedling { content: '🌱'; content: '\1F331'; } // &#x1F331;
%c-send { content: ''; content: '\E350'; } // &#xE350;
%c-settings { content: '⚙'; content: '\2699'; } // &#x2699;
%c-settingsfile { content: ''; content: '\EC0A'; } // &#xEC0A;
%c-share { content: ''; content: '\F601'; } // &#xF601;
%c-sheep { content: '🐑'; content: '\1F411'; } // &#x1F411;
%c-shoponline { content: ''; content: '\EA31'; } // &#xEA31;
%c-shoppingbag { content: ''; content: '\E520'; } // &#xE520;
%c-shower { content: '🚿'; content: '\1F6BF'; } // &#x1F6BF;
%c-shredder { content: ''; content: '\ED40'; } // &#xED40;
%c-shrimp { content: '🍤'; content: '\1F364'; } // &#x1F364;
%c-shuffle { content: '🔀'; content: '\1F500'; } // &#x1F500;
%c-sidedish { content: '🍚'; content: '\1F35A'; } // &#x1F35A;
%c-signpost { content: ''; content: '\E672'; } // &#xE672;
%c-sixdie { content: '⚅'; content: '\2685'; } // &#x2685;
%c-skiboot { content: ''; content: '\F408'; } // &#xF408;
%c-skipback { content: '⏮'; content: '\23EE'; } // &#x23EE;
%c-skipforward { content: '⏭'; content: '\23ED'; } // &#x23ED;
%c-skis { content: '🎿'; content: '\1F3BF'; } // &#x1F3BF;
%c-skull { content: '💀'; content: '\1F480'; } // &#x1F480;
%c-skylift { content: '🚡'; content: '\1F6A1'; } // &#x1F6A1;
%c-skype { content: ''; content: '\F6A0'; } // &#xF6A0;
%c-smartphone { content: ''; content: '\EA02'; } // &#xEA02;
%c-smile { content: '☻'; content: '\263B'; } // &#x263B;
%c-snowflake { content: '❄'; content: '\2744'; } // &#x2744;
%c-soccer { content: '⚽'; content: '\26BD'; } // &#x26BD;
%c-soda { content: ''; content: '\F124'; } // &#xF124;
%c-solarpanel { content: ''; content: '\F281'; } // &#xF281;
%c-soundcloud { content: ''; content: '\F6B3'; } // &#xF6B3;
%c-spaghetti { content: '🍝'; content: '\1F35D'; } // &#x1F35D;
%c-spiralbound { content: ''; content: '\E971'; } // &#xE971;
%c-spoonfork { content: ''; content: '\F150'; } // &#xF150;
%c-spotify { content: ''; content: '\F6B1'; } // &#xF6B1;
%c-squarekey { content: ''; content: '\F310'; } // &#xF310;
%c-stackoverflow { content: ''; content: '\F672'; } // &#xF672;
%c-stamp { content: ''; content: '\E351'; } // &#xE351;
%c-star { content: '⋆'; content: '\22C6'; } // &#x22C6;
%c-starframe { content: ''; content: '\EA91'; } // &#xEA91;
%c-steak { content: ''; content: '\F106'; } // &#xF106;
%c-steeringwheel { content: ''; content: '\F313'; } // &#xF313;
%c-stereo { content: ''; content: '\E801'; } // &#xE801;
%c-stethoscope { content: ''; content: '\F4B4'; } // &#xF4B4;
%c-stock { content: ''; content: '\E579'; } // &#xE579;
%c-stop { content: '■'; content: '\25A0'; } // &#x25A0;
%c-stopscript { content: ''; content: '\E702'; } // &#xE702;
%c-stopsign { content: ''; content: '\E0D1'; } // &#xE0D1;
%c-stopwatch { content: '⏱'; content: '\23F1'; } // &#x23F1;
%c-storagebox { content: ''; content: '\E901'; } // &#xE901;
%c-store { content: '🏪'; content: '\1F3EA'; } // &#x1F3EA;
%c-store-alt { content: '🏬'; content: '\1F3EC'; } // &#x1F3EC;
%c-stove { content: ''; content: '\F141'; } // &#xF141;
%c-stroke { content: ''; content: '\E241'; } // &#xE241;
%c-suitcase { content: ''; content: '\E420'; } // &#xE420;
%c-sun { content: '☀'; content: '\2600'; } // &#x2600;
%c-sunscreen { content: ''; content: '\F423'; } // &#xF423;
%c-supplements { content: ''; content: '\F4B6'; } // &#xF4B6;
%c-svpply { content: ''; content: '\F651'; } // &#xF651;
%c-swaddledbaby { content: ''; content: '\E430'; } // &#xE430;
%c-swatch { content: ''; content: '\F1F1'; } // &#xF1F1;
%c-sweep { content: ''; content: '\EA86'; } // &#xEA86;
%c-switch { content: ''; content: '\F002'; } // &#xF002;
%c-switchoff { content: ''; content: '\F003'; } // &#xF003;
%c-sync { content: ''; content: '\EB82'; } // &#xEB82;
%c-syringe { content: '💉'; content: '\1F489'; } // &#x1F489;
%c-tablet { content: ''; content: '\EA01'; } // &#xEA01;
%c-tabletennis { content: ''; content: '\F402'; } // &#xF402;
%c-tag { content: ''; content: '\E100'; } // &#xE100;
%c-takeout { content: ''; content: '\F160'; } // &#xF160;
%c-tapemeasure { content: ''; content: '\F036'; } // &#xF036;
%c-target { content: '◎'; content: '\25CE'; } // &#x25CE;
%c-taxi { content: '🚖'; content: '\1F696'; } // &#x1F696;
%c-tea { content: '🍵'; content: '\1F375'; } // &#x1F375;
%c-teapot { content: ''; content: '\F127'; } // &#xF127;
%c-teddy { content: ''; content: '\EAA0'; } // &#xEAA0;
%c-tennis { content: '🎾'; content: '\1F3BE'; } // &#x1F3BE;
%c-testtube { content: ''; content: '\F4C1'; } // &#xF4C1;
%c-text { content: ''; content: '\ED00'; } // &#xED00;
%c-textchat { content: ''; content: '\E396'; } // &#xE396;
%c-textfile { content: ''; content: '\EC19'; } // &#xEC19;
%c-textmobile { content: ''; content: '\EA26'; } // &#xEA26;
%c-theatre { content: '🎭'; content: '\1F3AD'; } // &#x1F3AD;
%c-thermometer { content: ''; content: '\F201'; } // &#xF201;
%c-thissideup { content: ''; content: '\E5E8'; } // &#xE5E8;
%c-thread { content: ''; content: '\F1F3'; } // &#xF1F3;
%c-threedie { content: '⚂'; content: '\2682'; } // &#x2682;
%c-thumbnails { content: ''; content: '\E9A3'; } // &#xE9A3;
%c-thunderstorm { content: '⛈'; content: '\26C8'; } // &#x26C8;
%c-ticket { content: '🎫'; content: '\1F3AB'; } // &#x1F3AB;
%c-tip { content: ''; content: '\E546'; } // &#xE546;
%c-tire { content: ''; content: '\F311'; } // &#xF311;
%c-toggles { content: ''; content: '\F001'; } // &#xF001;
%c-toilet { content: '🚽'; content: '\1F6BD'; } // &#x1F6BD;
%c-toiletpaper { content: ''; content: '\EA84'; } // &#xEA84;
%c-toolbox { content: ''; content: '\F030'; } // &#xF030;
%c-tools { content: ''; content: '\F031'; } // &#xF031;
%c-tooth { content: ''; content: '\EF61'; } // &#xEF61;
%c-toothlesssmile { content: '😀'; content: '\1F600'; } // &#x1F600;
%c-toothsmile { content: '😃'; content: '\1F603'; } // &#x1F603;
%c-tornado { content: ''; content: '\F213'; } // &#xF213;
%c-touchtonephone { content: '☏'; content: '\260F'; } // &#x260F;
%c-tractor { content: '🚜'; content: '\1F69C'; } // &#x1F69C;
%c-trafficcamera { content: ''; content: '\F314'; } // &#xF314;
%c-trafficlight { content: '🚦'; content: '\1F6A6'; } // &#x1F6A6;
%c-trailer { content: ''; content: '\F301'; } // &#xF301;
%c-trailerdump { content: ''; content: '\F302'; } // &#xF302;
%c-train { content: '🚆'; content: '\1F686'; } // &#x1F686;
%c-traintunnel { content: '🚇'; content: '\1F687'; } // &#x1F687;
%c-transfer { content: '⇆'; content: '\21C6'; } // &#x21C6;
%c-trash { content: ''; content: '\E0D0'; } // &#xE0D0;
%c-treeevergreen { content: '🌲'; content: '\1F332'; } // &#x1F332;
%c-tree { content: '🌳'; content: '\1F333'; } // &#x1F333;
%c-treeframe { content: ''; content: '\EA92'; } // &#xEA92;
%c-trophy { content: '🏆'; content: '\1F3C6'; } // &#x1F3C6;
%c-tropicalfish { content: ''; content: '\EF21'; } // &#xEF21;
%c-truck { content: '🚚'; content: '\1F69A'; } // &#x1F69A;
%c-tshirt { content: '👕'; content: '\1F455'; } // &#x1F455;
%c-tumblr { content: ''; content: '\F620'; } // &#xF620;
%c-tunnel { content: ''; content: '\F323'; } // &#xF323;
%c-turkey { content: ''; content: '\F105'; } // &#xF105;
%c-tv { content: '📺'; content: '\1F4FA'; } // &#x1F4FA;
%c-twitter { content: ''; content: '\F611'; } // &#xF611;
%c-twodie { content: '⚁'; content: '\2681'; } // &#x2681;
%c-typewriter { content: ''; content: '\ED41'; } // &#xED41;
%c-ufo { content: ''; content: '\F304'; } // &#xF304;
%c-umbrella { content: '☂'; content: '\2602'; } // &#x2602;
%c-undo { content: '↩'; content: '\21A9'; } // &#x21A9;
%c-unlock { content: '🔓'; content: '\1F513'; } // &#x1F513;
%c-up { content: '⬆'; content: '\2B06'; } // &#x2B06;
%c-upleft { content: '⬉'; content: '\2B09'; } // &#x2B09;
%c-upload { content: ''; content: '\EB41'; } // &#xEB41;
%c-upload-alt { content: ''; content: '\EB40'; } // &#xEB40;
%c-uploadbox { content: ''; content: '\EB42'; } // &#xEB42;
%c-uploadcloud { content: ''; content: '\EB40'; } // &#xEB40;
%c-uploadcrate { content: ''; content: '\EB43'; } // &#xEB43;
%c-uploadfile { content: ''; content: '\EC07'; } // &#xEC07;
%c-uploadfolder { content: ''; content: '\EC77'; } // &#xEC77;
%c-upright { content: '⬈'; content: '\2B08'; } // &#x2B08;
%c-upwardsbarchart { content: ''; content: '\E572'; } // &#xE572;
%c-upwardslinechart { content: '📈'; content: '\1F4C8'; } // &#x1F4C8;
%c-usb { content: ''; content: '\EB86'; } // &#xEB86;
%c-user { content: '👤'; content: '\1F464'; } // &#x1F464;
%c-userfile { content: ''; content: '\EC15'; } // &#xEC15;
%c-userframe { content: ''; content: '\E421'; } // &#xE421;
%c-usergroup { content: ''; content: '\E400'; } // &#xE400;
%c-userportrait { content: ''; content: '\E420'; } // &#xE420;
%c-userprofile { content: ''; content: '\E406'; } // &#xE406;
%c-users { content: '👥'; content: '\1F465'; } // &#x1F465;
%c-usersframe { content: ''; content: '\E422'; } // &#xE422;
%c-utensils { content: '🍴'; content: '\1F374'; } // &#x1F374;
%c-utensilsframe { content: ''; content: '\EA95'; } // &#xEA95;
%c-video { content: '📹'; content: '\1F4F9'; } // &#x1F4F9;
%c-videogame { content: '🎮'; content: '\1F3AE'; } // &#x1F3AE;
%c-view { content: '👀'; content: '\1F440'; } // &#x1F440;
%c-vimeo { content: ''; content: '\F631'; } // &#xF631;
%c-vinylrecord { content: ''; content: '\E810'; } // &#xE810;
%c-voicemail { content: '⌕'; content: '\2315'; } // &#x2315;
%c-volume { content: '🔈'; content: '\1F508'; } // &#x1F508;
%c-walkytalky { content: ''; content: '\EA03'; } // &#xEA03;
%c-waningcrescentmoon { content: '🌘'; content: '\1F318'; } // &#x1F318;
%c-waninggibbousmoon { content: '🌖'; content: '\1F316'; } // &#x1F316;
%c-warehouse { content: ''; content: '\E602'; } // &#xE602;
%c-washer { content: ''; content: '\EA80'; } // &#xEA80;
%c-watch { content: '⌚'; content: '\231A'; } // &#x231A;
%c-waterbottle { content: ''; content: '\F128'; } // &#xF128;
%c-waxingcrescentmoon { content: '🌒'; content: '\1F312'; } // &#x1F312;
%c-waxinggibbousmoon { content: '🌔'; content: '\1F314'; } // &#x1F314;
%c-weather { content: ''; content: '\F210'; } // &#xF210;
%c-weatheronline { content: ''; content: '\EA35'; } // &#xEA35;
%c-weathervane { content: ''; content: '\F200'; } // &#xF200;
%c-weave { content: ''; content: '\F1F2'; } // &#xF1F2;
%c-weight { content: ''; content: '\E5E5'; } // &#xE5E5;
%c-wheelchair { content: '♿'; content: '\267F'; } // &#x267F;
%c-wifi { content: ''; content: '\EB84'; } // &#xEB84;
%c-wifibook { content: ''; content: '\E968'; } // &#xE968;
%c-wifimail { content: ''; content: '\E352'; } // &#xE352;
%c-wifiopenbook { content: ''; content: '\E969'; } // &#xE969;
%c-wind { content: ''; content: '\F212'; } // &#xF212;
%c-window { content: ''; content: '\E714'; } // &#xE714;
%c-windows { content: ''; content: '\F6F2'; } // &#xF6F2;
%c-wine { content: ''; content: '\F123'; } // &#xF123;
%c-wineglass { content: '🍷'; content: '\1F377'; } // &#x1F377;
%c-wineglasssparkle { content: ''; content: '\F129'; } // &#xF129;
%c-wordpress { content: ''; content: '\F621'; } // &#xF621;
%c-wrench { content: '🔧'; content: '\1F527'; } // &#x1F527;
%c-wrenches { content: ''; content: '\F032'; } // &#xF032;
%c-wrenchpencil { content: ''; content: '\F033'; } // &#xF033;
%c-write { content: '✎'; content: '\270E'; } // &#x270E;
%c-writingdisabled { content: ''; content: '\E071'; } // &#xE071;
%c-yarn { content: ''; content: '\F1F4'; } // &#xF1F4;
%c-yelp { content: ''; content: '\F691'; } // &#xF691;
%c-yoga { content: ''; content: '\F418'; } // &#xF418;
%c-youtube { content: ''; content: '\F630'; } // &#xF630;
%c-zerply { content: ''; content: '\F615'; } // &#xF615;
%c-zip { content: ''; content: '\EC31'; } // &#xEC31;
%c-zipper { content: ''; content: '\F1F9'; } // &#xF1F9;
%c-zoomin { content: ''; content: '\E002'; } // &#xE002;
%c-zoomout { content: ''; content: '\E003'; } // &#xE003;
