@import "symbolset/symbolset";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section:before,
section:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
section:after {
  clear: both;
}
section {
  zoom: 1;
}

body {
  color: #333;
  font: 100%/1.5 sans-serif;
  margin: 0;
  padding: 0 20px;
}

h1, h2 {
  display: inline-block;
  font-weight: normal;
  line-height: 1;
  margin: 20px 0;
  padding: 20px;
}
header {
  text-align: right;
}
h1 {
  background: #333;
  color: #fff;
  margin-top: 0;
  margin-right: -20px;
}
h2 {
  background: #268bd2;
  color: #fff;
  margin-left: -20px;
  text-transform: uppercase;
}

a {
  color: #268bd2;
}

pre, code {
  color: #585858;
  font-family: "Monaco", "Menlo", monospace, serif;
}
pre {
  white-space: pre-wrap;
}
small {
  color: #585858;
}

.index {
  font-size: 110%;
}

.note {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.red {
  background: #dc322f;
}
.green {
  background: #2aa198;
}

ul.icons {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    border: solid 1px #ececec;
    display: block;
    list-style: none;
    padding: 20px 0;
    margin: 0 0 20px 0;
    text-align: center;
    min-height: 150px;
  }
  h3 {
    color: #999;
    display: block;
    font: normal 1em/2 "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    margin: -10px 0 0 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  code {
    display: block;
  }
  .sass, i:after {
  }
  i {
    display: inline-block;
    font-size: 50px;
     &:after {
        margin-left: 20px;
      }
    .social & {
      display: block;
    }
  }
}

@media screen and (min-width: 769px) {
  ul.icons {
    li {
      width: 32%;
      float: left;
      margin: 0 1% 1% 0;
    }
  }
}

@media screen and (min-width: 980px) {
  ul.icons {
    li {
      width: 24%;
    }
    i {
      font-size: 50px;
    }
  }
}

// Icon Application
//------------------------------------------------------------------------------

// In code directly.

.standard i {
  @extend %ss-standard;
}
.social i {
  @extend %ss-social;
}
.social-circle i {
  @extend %ss-social-circle;
}

// Per icon application with :before and :after

// Social Regular
//------------------------------------------------------------------------------

.social {
  .android:after { @extend %ss-android; }
  .appdotnet:after { @extend %ss-appdotnet; }
  .apple:after { @extend %ss-apple; }
  .behance:after { @extend %ss-behance; }
  .blackberry:after { @extend %ss-blackberry; }
  .blogger:after { @extend %ss-blogger; }
  .dribbble:after { @extend %ss-dribbble; }
  .dropbox:after { @extend %ss-dropbox; }
  .facebook:after { @extend %ss-facebook; }
  .fivehundredpx:after { @extend %ss-fivehundredpx; }
  .flickr:after { @extend %ss-flickr; }
  .foursquare:after { @extend %ss-foursquare; }
  .github:after { @extend %ss-github; }
  .googleplus:after { @extend %ss-googleplus; }
  .instagram:after { @extend %ss-instagram; }
  .kickstarter:after { @extend %ss-kickstarter; }
  .lastfm:after { @extend %ss-lastfm; }
  .like:after { @extend %ss-like; }
  .linkedin:after { @extend %ss-linkedin; }
  .mail:after { @extend %ss-mail; }
  .microsoft:after { @extend %ss-microsoft; }
  .octocat:after { @extend %ss-octocat; }
  .paypal:after { @extend %ss-paypal; }
  .pinboard:after { @extend %ss-pinboard; }
  .pinterest:after { @extend %ss-pinterest; }
  .posterous:after { @extend %ss-posterous; }
  .rdio:after { @extend %ss-rdio; }
  .readmill:after { @extend %ss-readmill; }
  .reddit:after { @extend %ss-reddit; }
  .rss:after { @extend %ss-rss; }
  .share:after { @extend %ss-share; }
  .skype:after { @extend %ss-skype; }
  .soundcloud:after { @extend %ss-soundcloud; }
  .spotify:after { @extend %ss-spotify; }
  .stackoverflow:after { @extend %ss-stackoverflow; }
  .svpply:after { @extend %ss-svpply; }
  .tumblr:after { @extend %ss-tumblr; }
  .twitter:after { @extend %ss-twitter; }
  .vimeo:after { @extend %ss-vimeo; }
  .windows:after { @extend %ss-windows; }
  .wordpress:after { @extend %ss-wordpress; }
  .yelp:after { @extend %ss-yelp; }
  .youtube:after { @extend %ss-youtube; }
  .zerply:after { @extend %ss-zerply; }
}


// Social Circle
//------------------------------------------------------------------------------

.social-circle {
  .android:after { @extend %ss-android-circle; }
  .appdotnet:after { @extend %ss-appdotnet-circle; }
  .apple:after { @extend %ss-apple-circle; }
  .behance:after { @extend %ss-behance-circle; }
  .blackberry:after { @extend %ss-blackberry-circle; }
  .blogger:after { @extend %ss-blogger-circle; }
  .dribbble:after { @extend %ss-dribbble-circle; }
  .dropbox:after { @extend %ss-dropbox-circle; }
  .facebook:after { @extend %ss-facebook-circle; }
  .fivehundredpx:after { @extend %ss-fivehundredpx-circle; }
  .flickr:after { @extend %ss-flickr-circle; }
  .foursquare:after { @extend %ss-foursquare-circle; }
  .github:after { @extend %ss-github-circle; }
  .googleplus:after { @extend %ss-googleplus-circle; }
  .instagram:after { @extend %ss-instagram-circle; }
  .kickstarter:after { @extend %ss-kickstarter-circle; }
  .lastfm:after { @extend %ss-lastfm-circle; }
  .like:after { @extend %ss-like-circle; }
  .linkedin:after { @extend %ss-linkedin-circle; }
  .mail:after { @extend %ss-mail-circle; }
  .microsoft:after { @extend %ss-microsoft-circle; }
  .octocat:after { @extend %ss-octocat-circle; }
  .paypal:after { @extend %ss-paypal-circle; }
  .pinboard:after { @extend %ss-pinboard-circle; }
  .pinterest:after { @extend %ss-pinterest-circle; }
  .posterous:after { @extend %ss-posterous-circle; }
  .rdio:after { @extend %ss-rdio-circle; }
  .readmill:after { @extend %ss-readmill-circle; }
  .reddit:after { @extend %ss-reddit-circle; }
  .rss:after { @extend %ss-rss-circle; }
  .share:after { @extend %ss-share-circle; }
  .skype:after { @extend %ss-skype-circle; }
  .soundcloud:after { @extend %ss-soundcloud-circle; }
  .spotify:after { @extend %ss-spotify-circle; }
  .stackoverflow:after { @extend %ss-stackoverflow-circle; }
  .svpply:after { @extend %ss-svpply-circle; }
  .tumblr:after { @extend %ss-tumblr-circle; }
  .twitter:after { @extend %ss-twitter-circle; }
  .vimeo:after { @extend %ss-vimeo-circle; }
  .windows:after { @extend %ss-windows-circle; }
  .wordpress:after { @extend %ss-wordpress-circle; }
  .yelp:after { @extend %ss-yelp-circle; }
  .youtube:after { @extend %ss-youtube-circle; }
  .zerply:after { @extend %ss-zerply-circle; }
}

// Standard
//------------------------------------------------------------------------------

.standard {
  .action:after { @extend %ss-action; }
  .addcalendar:after { @extend %ss-addcalendar; }
  .airplay:after { @extend %ss-airplay; }
  .alert:after { @extend %ss-alert; }
  .attach:after { @extend %ss-attach; }
  .backspace:after { @extend %ss-backspace; }
  .ban:after { @extend %ss-ban; }
  .barchart:after { @extend %ss-barchart; }
  .battery:after { @extend %ss-battery; }
  .book:after { @extend %ss-book; }
  .bookmark:after { @extend %ss-bookmark; }
  .box:after { @extend %ss-box; }
  .briefcase:after { @extend %ss-briefcase; }
  .buildings:after { @extend %ss-buildings; }
  .calendar:after { @extend %ss-calendar; }
  .camera:after { @extend %ss-camera; }
  .cart:after { @extend %ss-cart; }
  .caution:after { @extend %ss-caution; }
  .cell:after { @extend %ss-cell; }
  .chat:after { @extend %ss-chat; }
  .check:after { @extend %ss-check; }
  .checkcalendar:after { @extend %ss-checkcalendar; }
  .clock:after { @extend %ss-clock; }
  .cloud:after { @extend %ss-cloud; }
  .columns:after { @extend %ss-columns; }
  .compass:after { @extend %ss-compass; }
  .compose:after { @extend %ss-compose; }
  .connection:after { @extend %ss-connection; }
  .contract:after { @extend %ss-contract; }
  .creditcard:after { @extend %ss-creditcard; }
  .crop:after { @extend %ss-crop; }
  .crosshair:after { @extend %ss-crosshair; }
  .cursor:after { @extend %ss-cursor; }
  .dashboard:after { @extend %ss-dashboard; }
  .database:after { @extend %ss-database; }
  .delete:after { @extend %ss-delete; }
  .deletecalendar:after { @extend %ss-deletecalendar; }
  .desktop:after { @extend %ss-desktop; }
  .directleft:after { @extend %ss-directleft; }
  .directright:after { @extend %ss-directright; }
  .directup:after { @extend %ss-directup; }
  .dislike:after { @extend %ss-dislike; }
  .dollarsign:after { @extend %ss-dollarsign; }
  .down:after { @extend %ss-down; }
  .downleft:after { @extend %ss-downleft; }
  .download:after { @extend %ss-download; }
  .downloadcloud:after { @extend %ss-downloadcloud; }
  .downright:after { @extend %ss-downright; }
  .dropdown:after { @extend %ss-dropdown; }
  .droplet:after { @extend %ss-droplet; }
  .eject:after { @extend %ss-eject; }
  .ellipsis:after { @extend %ss-ellipsis; }
  .ellipsischat:after { @extend %ss-ellipsischat; }
  .emptybattery:after { @extend %ss-emptybattery; }
  .erase:after { @extend %ss-erase; }
  .expand:after { @extend %ss-expand; }
  .facetime:after { @extend %ss-facetime; }
  .fastforward:after { @extend %ss-fastforward; }
  .fax:after { @extend %ss-fax; }
  .femaleuser:after { @extend %ss-femaleuser; }
  .file:after { @extend %ss-file; }
  .fill:after { @extend %ss-fill; }
  .filter:after { @extend %ss-filter; }
  .flag:after { @extend %ss-flag; }
  .flask:after { @extend %ss-flask; }
  .folder:after { @extend %ss-folder; }
  .font:after { @extend %ss-font; }
  .fork:after { @extend %ss-fork; }
  .globe:after { @extend %ss-globe; }
  .grid:after { @extend %ss-grid; }
  .halfheart:after { @extend %ss-halfheart; }
  .halfstar:after { @extend %ss-halfstar; }
  .hdd:after { @extend %ss-hdd; }
  .heart:after { @extend %ss-heart; }
  .help:after { @extend %ss-help; }
  .highbattery:after { @extend %ss-highbattery; }
  .highvolume:after { @extend %ss-highvolume; }
  .home:after { @extend %ss-home; }
  .hyphen:after { @extend %ss-hyphen; }
  .inbox:after { @extend %ss-inbox; }
  .info:after { @extend %ss-info; }
  .key:after { @extend %ss-key; }
  .laptop:after { @extend %ss-laptop; }
  .layers:after { @extend %ss-layers; }
  .layout:after { @extend %ss-layout; }
  .left:after { @extend %ss-left; }
  .lightbulb:after { @extend %ss-lightbulb; }
  .like:after { @extend %ss-like; }
  .link:after { @extend %ss-link; }
  .list:after { @extend %ss-list; }
  .loading:after { @extend %ss-loading; }
  .location:after { @extend %ss-location; }
  .lock:after { @extend %ss-lock; }
  .logout:after { @extend %ss-logout; }
  .lowbattery:after { @extend %ss-lowbattery; }
  .lowvolume:after { @extend %ss-lowvolume; }
  .mail:after { @extend %ss-mail; }
  .map:after { @extend %ss-map; }
  .mediumbattery:after { @extend %ss-mediumbattery; }
  .merge:after { @extend %ss-merge; }
  .mic:after { @extend %ss-mic; }
  .move:after { @extend %ss-move; }
  .music:after { @extend %ss-music; }
  .navigate:after { @extend %ss-navigate; }
  .navigatedown:after { @extend %ss-navigatedown; }
  .navigateleft:after { @extend %ss-navigateleft; }
  .navigateright:after { @extend %ss-navigateright; }
  .navigateup:after { @extend %ss-navigateup; }
  .newspaper:after { @extend %ss-newspaper; }
  .notebook:after { @extend %ss-notebook; }
  .notifications:after { @extend %ss-notifications; }
  .notificationsdisabled:after { @extend %ss-notificationsdisabled; }
  .openbook:after { @extend %ss-openbook; }
  .pause:after { @extend %ss-pause; }
  .phone:after { @extend %ss-phone; }
  .phonedisabled:after { @extend %ss-phonedisabled; }
  .picture:after { @extend %ss-picture; }
  .piechart:after { @extend %ss-piechart; }
  .pin:after { @extend %ss-pin; }
  .play:after { @extend %ss-play; }
  .plus:after { @extend %ss-plus; }
  .print:after { @extend %ss-print; }
  .quote:after { @extend %ss-quote; }
  .record:after { @extend %ss-record; }
  .redirect:after { @extend %ss-redirect; }
  .refresh:after { @extend %ss-refresh; }
  .removecalendar:after { @extend %ss-removecalendar; }
  .repeat:after { @extend %ss-repeat; }
  .replay:after { @extend %ss-replay; }
  .reply:after { @extend %ss-reply; }
  .retweet:after { @extend %ss-retweet; }
  .rewind:after { @extend %ss-rewind; }
  .right:after { @extend %ss-right; }
  .rows:after { @extend %ss-rows; }
  .rss:after { @extend %ss-rss; }
  .sample:after { @extend %ss-sample; }
  .search:after { @extend %ss-search; }
  .send:after { @extend %ss-send; }
  .settings:after { @extend %ss-settings; }
  .shuffle:after { @extend %ss-shuffle; }
  .signpost:after { @extend %ss-signpost; }
  .skipback:after { @extend %ss-skipback; }
  .skipforward:after { @extend %ss-skipforward; }
  .star:after { @extend %ss-star; }
  .stop:after { @extend %ss-stop; }
  .stopwatch:after { @extend %ss-stopwatch; }
  .stroke:after { @extend %ss-stroke; }
  .sync:after { @extend %ss-sync; }
  .tablet:after { @extend %ss-tablet; }
  .tag:after { @extend %ss-tag; }
  .target:after { @extend %ss-target; }
  .text:after { @extend %ss-text; }
  .thumbnails:after { @extend %ss-thumbnails; }
  .transfer:after { @extend %ss-transfer; }
  .trash:after { @extend %ss-trash; }
  .unlock:after { @extend %ss-unlock; }
  .up:after { @extend %ss-up; }
  .upleft:after { @extend %ss-upleft; }
  .upload:after { @extend %ss-upload; }
  .uploadcloud:after { @extend %ss-uploadcloud; }
  .upright:after { @extend %ss-upright; }
  .user:after { @extend %ss-user; }
  .users:after { @extend %ss-users; }
  .video:after { @extend %ss-video; }
  .view:after { @extend %ss-view; }
  .volume:after { @extend %ss-volume; }
  .warehouse:after { @extend %ss-warehouse; }
  .wifi:after { @extend %ss-wifi; }
  .write:after { @extend %ss-write; }
  .writingdisabled:after { @extend %ss-writingdisabled; }
  .zoomin:after { @extend %ss-zoomin; }
  .zoomout:after { @extend %ss-zoomout; }
}
