
@font-face {
  font-family: "SSPika";
  src: url('#{$ss-pika-directory}ss-pika.eot');
  src: url('#{$ss-pika-directory}ss-pika.eot?#iefix') format('embedded-opentype'),
       url('#{$ss-pika-directory}ss-pika.woff') format('woff'),
       url('#{$ss-pika-directory}ss-pika.ttf')  format('truetype'),
       url('#{$ss-pika-directory}ss-pika.svg#SSPika') format('svg');
  font-weight: normal;
  font-style: normal;
}

%ss-pika {
  @extend %ss-icon;
  font-family: "SSPika";
}

%ss-action { @extend %ss-pika; @extend %c-action; }
%ss-addcalendar { @extend %ss-pika; @extend %c-addcalendar; }
%ss-addcart { @extend %ss-pika; @extend %c-addcart; }
%ss-addfile { @extend %ss-pika; @extend %c-addfile; }
%ss-address { @extend %ss-pika; @extend %c-address; }
%ss-adduser { @extend %ss-pika; @extend %c-adduser; }
%ss-airplay { @extend %ss-pika; @extend %c-airplay; }
%ss-alarmclock { @extend %ss-pika; @extend %c-alarmclock; }
%ss-alert { @extend %ss-pika; @extend %c-alert; }
%ss-ambulance { @extend %ss-pika; @extend %c-ambulance; }
%ss-analytics { @extend %ss-pika; @extend %c-analytics; }
%ss-anatomicalheart { @extend %ss-pika; @extend %c-anatomicalheart; }
%ss-apple { @extend %ss-pika; @extend %c-apple; }
%ss-apron { @extend %ss-pika; @extend %c-apron; }
%ss-arrival { @extend %ss-pika; @extend %c-arrival; }
%ss-atm { @extend %ss-pika; @extend %c-atm; }
%ss-attach { @extend %ss-pika; @extend %c-attach; }
%ss-backspace { @extend %ss-pika; @extend %c-backspace; }
%ss-badminton { @extend %ss-pika; @extend %c-badminton; }
%ss-balloon { @extend %ss-pika; @extend %c-balloon; }
%ss-ban { @extend %ss-pika; @extend %c-ban; }
%ss-bandage { @extend %ss-pika; @extend %c-bandage; }
%ss-bank { @extend %ss-pika; @extend %c-bank; }
%ss-bankcheck { @extend %ss-pika; @extend %c-bankcheck; }
%ss-banknote { @extend %ss-pika; @extend %c-banknote; }
%ss-bankonline { @extend %ss-pika; @extend %c-bankonline; }
%ss-barchart { @extend %ss-pika; @extend %c-barchart; }
%ss-baseballglove { @extend %ss-pika; @extend %c-baseballglove; }
%ss-basket { @extend %ss-pika; @extend %c-basket; }
%ss-bathroomscale { @extend %ss-pika; @extend %c-bathroomscale; }
%ss-battery { @extend %ss-pika; @extend %c-battery; }
%ss-batterymobile { @extend %ss-pika; @extend %c-batterymobile; }
%ss-bbq { @extend %ss-pika; @extend %c-bbq; }
%ss-bbqapron { @extend %ss-pika; @extend %c-bbqapron; }
%ss-bearface { @extend %ss-pika; @extend %c-bearface; }
%ss-beer { @extend %ss-pika; @extend %c-beer; }
%ss-bike { @extend %ss-pika; @extend %c-bike; }
%ss-billiards { @extend %ss-pika; @extend %c-billiards; }
%ss-binoculars { @extend %ss-pika; @extend %c-binoculars; }
%ss-bird { @extend %ss-pika; @extend %c-bird; }
%ss-boat { @extend %ss-pika; @extend %c-boat; }
%ss-bonfire { @extend %ss-pika; @extend %c-bonfire; }
%ss-book { @extend %ss-pika; @extend %c-book; }
%ss-bookmark { @extend %ss-pika; @extend %c-bookmark; }
%ss-books { @extend %ss-pika; @extend %c-books; }
%ss-bottle { @extend %ss-pika; @extend %c-bottle; }
%ss-bowling { @extend %ss-pika; @extend %c-bowling; }
%ss-box { @extend %ss-pika; @extend %c-box; }
%ss-boxing { @extend %ss-pika; @extend %c-boxing; }
%ss-briefcase { @extend %ss-pika; @extend %c-briefcase; }
%ss-brokenbone { @extend %ss-pika; @extend %c-brokenbone; }
%ss-browseonline { @extend %ss-pika; @extend %c-browseonline; }
%ss-building { @extend %ss-pika; @extend %c-building; }
%ss-bullseye { @extend %ss-pika; @extend %c-bullseye; }
%ss-burger { @extend %ss-pika; @extend %c-burger; }
%ss-bus { @extend %ss-pika; @extend %c-bus; }
%ss-businessuser { @extend %ss-pika; @extend %c-businessuser; }
%ss-calculator { @extend %ss-pika; @extend %c-calculator; }
%ss-calendar { @extend %ss-pika; @extend %c-calendar; }
%ss-callbell { @extend %ss-pika; @extend %c-callbell; }
%ss-camera { @extend %ss-pika; @extend %c-camera; }
%ss-campfire { @extend %ss-pika; @extend %c-campfire; }
%ss-car { @extend %ss-pika; @extend %c-car; }
%ss-caravan { @extend %ss-pika; @extend %c-caravan; }
%ss-cargoship { @extend %ss-pika; @extend %c-cargoship; }
%ss-carrot { @extend %ss-pika; @extend %c-carrot; }
%ss-cart { @extend %ss-pika; @extend %c-cart; }
%ss-cashregister { @extend %ss-pika; @extend %c-cashregister; }
%ss-caution { @extend %ss-pika; @extend %c-caution; }
%ss-cell { @extend %ss-pika; @extend %c-cell; }
%ss-cfl { @extend %ss-pika; @extend %c-cfl; }
%ss-chargingbattery { @extend %ss-pika; @extend %c-chargingbattery; }
%ss-chat { @extend %ss-pika; @extend %c-chat; }
%ss-check { @extend %ss-pika; @extend %c-check; }
%ss-checkcalendar { @extend %ss-pika; @extend %c-checkcalendar; }
%ss-checkclipboard { @extend %ss-pika; @extend %c-checkclipboard; }
%ss-checkheart { @extend %ss-pika; @extend %c-checkheart; }
%ss-chef { @extend %ss-pika; @extend %c-chef; }
%ss-chess { @extend %ss-pika; @extend %c-chess; }
%ss-christmastree { @extend %ss-pika; @extend %c-christmastree; }
%ss-clock { @extend %ss-pika; @extend %c-clock; }
%ss-clockwise { @extend %ss-pika; @extend %c-clockwise; }
%ss-cloud { @extend %ss-pika; @extend %c-cloud; }
%ss-cloudfolder { @extend %ss-pika; @extend %c-cloudfolder; }
%ss-coal { @extend %ss-pika; @extend %c-coal; }
%ss-cocktail { @extend %ss-pika; @extend %c-cocktail; }
%ss-coins { @extend %ss-pika; @extend %c-coins; }
%ss-colander { @extend %ss-pika; @extend %c-colander; }
%ss-columns { @extend %ss-pika; @extend %c-columns; }
%ss-compass { @extend %ss-pika; @extend %c-compass; }
%ss-compassarrow { @extend %ss-pika; @extend %c-compassarrow; }
%ss-compassnavigate { @extend %ss-pika; @extend %c-compassnavigate; }
%ss-compose { @extend %ss-pika; @extend %c-compose; }
%ss-connection { @extend %ss-pika; @extend %c-connection; }
%ss-containers { @extend %ss-pika; @extend %c-containers; }
%ss-contract { @extend %ss-pika; @extend %c-contract; }
%ss-cook { @extend %ss-pika; @extend %c-cook; }
%ss-cookingutensils { @extend %ss-pika; @extend %c-cookingutensils; }
%ss-corn { @extend %ss-pika; @extend %c-corn; }
%ss-crate { @extend %ss-pika; @extend %c-crate; }
%ss-creditcard { @extend %ss-pika; @extend %c-creditcard; }
%ss-crop { @extend %ss-pika; @extend %c-crop; }
%ss-crosshair { @extend %ss-pika; @extend %c-crosshair; }
%ss-cursor { @extend %ss-pika; @extend %c-cursor; }
%ss-dashboard { @extend %ss-pika; @extend %c-dashboard; }
%ss-database { @extend %ss-pika; @extend %c-database; }
%ss-delete { @extend %ss-pika; @extend %c-delete; }
%ss-deletecalendar { @extend %ss-pika; @extend %c-deletecalendar; }
%ss-deletecart { @extend %ss-pika; @extend %c-deletecart; }
%ss-deletefile { @extend %ss-pika; @extend %c-deletefile; }
%ss-deleteuser { @extend %ss-pika; @extend %c-deleteuser; }
%ss-deliverytruck { @extend %ss-pika; @extend %c-deliverytruck; }
%ss-deliveryvan { @extend %ss-pika; @extend %c-deliveryvan; }
%ss-departure { @extend %ss-pika; @extend %c-departure; }
%ss-desktop { @extend %ss-pika; @extend %c-desktop; }
%ss-dial { @extend %ss-pika; @extend %c-dial; }
%ss-digitalsafe { @extend %ss-pika; @extend %c-digitalsafe; }
%ss-directleft { @extend %ss-pika; @extend %c-directleft; }
%ss-directright { @extend %ss-pika; @extend %c-directright; }
%ss-directup { @extend %ss-pika; @extend %c-directup; }
%ss-disc { @extend %ss-pika; @extend %c-disc; }
%ss-dislike { @extend %ss-pika; @extend %c-dislike; }
%ss-dispensecash { @extend %ss-pika; @extend %c-dispensecash; }
%ss-dna { @extend %ss-pika; @extend %c-dna; }
%ss-doc { @extend %ss-pika; @extend %c-doc; }
%ss-dollarmobile { @extend %ss-pika; @extend %c-dollarmobile; }
%ss-donotdisturb { @extend %ss-pika; @extend %c-donotdisturb; }
%ss-down { @extend %ss-pika; @extend %c-down; }
%ss-downleft { @extend %ss-pika; @extend %c-downleft; }
%ss-download { @extend %ss-pika; @extend %c-download-alt; }
%ss-downloadbook { @extend %ss-pika; @extend %c-downloadbook; }
%ss-downloadbox { @extend %ss-pika; @extend %c-downloadbox; }
%ss-downloadcart { @extend %ss-pika; @extend %c-downloadcart; }
%ss-downloadcloud { @extend %ss-pika; @extend %c-downloadcloud; }
%ss-downloadcrate { @extend %ss-pika; @extend %c-downloadcrate; }
%ss-downloadfile { @extend %ss-pika; @extend %c-downloadfile; }
%ss-downloadfolder { @extend %ss-pika; @extend %c-downloadfolder; }
%ss-downright { @extend %ss-pika; @extend %c-downright; }
%ss-downwardsbarchart { @extend %ss-pika; @extend %c-downwardsbarchart; }
%ss-downwardslinechart { @extend %ss-pika; @extend %c-downwardslinechart; }
%ss-draw { @extend %ss-pika; @extend %c-draw; }
%ss-dropdown { @extend %ss-pika; @extend %c-dropdown; }
%ss-droplet { @extend %ss-pika; @extend %c-droplet; }
%ss-dumbbell { @extend %ss-pika; @extend %c-dumbbell; }
%ss-earth { @extend %ss-pika; @extend %c-earth; }
%ss-ebook { @extend %ss-pika; @extend %c-ebook; }
%ss-eggtimer { @extend %ss-pika; @extend %c-eggtimer; }
%ss-eighthnote { @extend %ss-pika; @extend %c-eighthnote; }
%ss-eject { @extend %ss-pika; @extend %c-eject; }
%ss-elevator { @extend %ss-pika; @extend %c-elevator; }
%ss-emptybattery { @extend %ss-pika; @extend %c-emptybattery; }
%ss-emptycart { @extend %ss-pika; @extend %c-emptycart; }
%ss-emptyheart { @extend %ss-pika; @extend %c-emptyheart; }
%ss-erase { @extend %ss-pika; @extend %c-erase; }
%ss-ereader { @extend %ss-pika; @extend %c-ereader; }
%ss-euromobile { @extend %ss-pika; @extend %c-euromobile; }
%ss-evergreen { @extend %ss-pika; @extend %c-evergreen; }
%ss-exe { @extend %ss-pika; @extend %c-exe; }
%ss-exercise { @extend %ss-pika; @extend %c-exercise; }
%ss-exercisebike { @extend %ss-pika; @extend %c-exercisebike; }
%ss-expand { @extend %ss-pika; @extend %c-expand; }
%ss-exportfile { @extend %ss-pika; @extend %c-exportfile; }
%ss-eyesurgery { @extend %ss-pika; @extend %c-eyesurgery; }
%ss-facetime { @extend %ss-pika; @extend %c-facetime; }
%ss-fan { @extend %ss-pika; @extend %c-fan; }
%ss-fastforward { @extend %ss-pika; @extend %c-fastforward; }
%ss-fax { @extend %ss-pika; @extend %c-fax; }
%ss-feather { @extend %ss-pika; @extend %c-feather; }
%ss-femaleuser { @extend %ss-pika; @extend %c-femaleuser; }
%ss-file { @extend %ss-pika; @extend %c-file; }
%ss-firewall { @extend %ss-pika; @extend %c-firewall; }
%ss-fish { @extend %ss-pika; @extend %c-fish; }
%ss-fishes { @extend %ss-pika; @extend %c-fishes; }
%ss-fivedie { @extend %ss-pika; @extend %c-fivedie; }
%ss-flag { @extend %ss-pika; @extend %c-flag; }
%ss-flame { @extend %ss-pika; @extend %c-flame; }
%ss-flash { @extend %ss-pika; @extend %c-flash; }
%ss-floorplan { @extend %ss-pika; @extend %c-floorplan; }
%ss-floppydisk { @extend %ss-pika; @extend %c-floppydisk; }
%ss-flowertag { @extend %ss-pika; @extend %c-flowertag; }
%ss-fog { @extend %ss-pika; @extend %c-fog; }
%ss-folder { @extend %ss-pika; @extend %c-folder; }
%ss-font { @extend %ss-pika; @extend %c-font; }
%ss-football { @extend %ss-pika; @extend %c-football; }
%ss-fork { @extend %ss-pika; @extend %c-fork; }
%ss-forklift { @extend %ss-pika; @extend %c-forklift; }
%ss-form { @extend %ss-pika; @extend %c-form; }
%ss-fourdie { @extend %ss-pika; @extend %c-fourdie; }
%ss-fragile { @extend %ss-pika; @extend %c-fragile; }
%ss-fuel { @extend %ss-pika; @extend %c-fuel; }
%ss-garage { @extend %ss-pika; @extend %c-garage; }
%ss-gift { @extend %ss-pika; @extend %c-gift; }
%ss-globe { @extend %ss-pika; @extend %c-globe; }
%ss-globelocation { @extend %ss-pika; @extend %c-globelocation; }
%ss-golf { @extend %ss-pika; @extend %c-golf; }
%ss-gps { @extend %ss-pika; @extend %c-gps; }
%ss-grass { @extend %ss-pika; @extend %c-grass; }
%ss-gridlines { @extend %ss-pika; @extend %c-gridlines; }
%ss-hairdryer { @extend %ss-pika; @extend %c-hairdryer; }
%ss-halfheart { @extend %ss-pika; @extend %c-halfheart; }
%ss-halfstar { @extend %ss-pika; @extend %c-halfstar; }
%ss-handbag { @extend %ss-pika; @extend %c-handbag; }
%ss-hanger { @extend %ss-pika; @extend %c-hanger; }
%ss-hdd { @extend %ss-pika; @extend %c-hdd; }
%ss-headset { @extend %ss-pika; @extend %c-headset; }
%ss-heart { @extend %ss-pika; @extend %c-heart; }
%ss-heartbook { @extend %ss-pika; @extend %c-heartbook; }
%ss-heartmobile { @extend %ss-pika; @extend %c-heartmobile; }
%ss-helicopter { @extend %ss-pika; @extend %c-helicopter; }
%ss-help { @extend %ss-pika; @extend %c-help; }
%ss-highbattery { @extend %ss-pika; @extend %c-highbattery; }
%ss-highlight { @extend %ss-pika; @extend %c-highlight; }
%ss-highvolume { @extend %ss-pika; @extend %c-highvolume; }
%ss-highway { @extend %ss-pika; @extend %c-highway; }
%ss-hiker { @extend %ss-pika; @extend %c-hiker; }
%ss-hockey { @extend %ss-pika; @extend %c-hockey; }
%ss-home { @extend %ss-pika; @extend %c-home; }
%ss-hook { @extend %ss-pika; @extend %c-hook; }
%ss-horizontalbarchart { @extend %ss-pika; @extend %c-horizontalbarchart; }
%ss-hospital { @extend %ss-pika; @extend %c-hospital; }
%ss-hotsauce { @extend %ss-pika; @extend %c-hotsauce; }
%ss-housesale { @extend %ss-pika; @extend %c-housesale; }
%ss-hyphen { @extend %ss-pika; @extend %c-hyphen; }
%ss-icecream { @extend %ss-pika; @extend %c-icecream; }
%ss-iceskate { @extend %ss-pika; @extend %c-iceskate; }
%ss-importfile { @extend %ss-pika; @extend %c-importfile; }
%ss-inbox { @extend %ss-pika; @extend %c-inbox; }
%ss-index { @extend %ss-pika; @extend %c-index; }
%ss-info { @extend %ss-pika; @extend %c-info; }
%ss-intersection { @extend %ss-pika; @extend %c-intersection; }
%ss-jerrycan { @extend %ss-pika; @extend %c-jerrycan; }
%ss-jpg { @extend %ss-pika; @extend %c-jpg; }
%ss-jumprope { @extend %ss-pika; @extend %c-jumprope; }
%ss-key { @extend %ss-pika; @extend %c-key; }
%ss-knife { @extend %ss-pika; @extend %c-knife; }
%ss-laptop { @extend %ss-pika; @extend %c-laptop; }
%ss-layers { @extend %ss-pika; @extend %c-layers; }
%ss-layout { @extend %ss-pika; @extend %c-layout; }
%ss-leaf { @extend %ss-pika; @extend %c-leaf; }
%ss-left { @extend %ss-pika; @extend %c-left; }
%ss-leftright { @extend %ss-pika; @extend %c-leftright; }
%ss-leftward { @extend %ss-pika; @extend %c-leftward; }
%ss-lightbulb { @extend %ss-pika; @extend %c-lightbulb; }
%ss-lightbulbon { @extend %ss-pika; @extend %c-lightbulbon; }
%ss-like { @extend %ss-pika; @extend %c-like; }
%ss-linechartclipboard { @extend %ss-pika; @extend %c-linechartclipboard; }
%ss-linecharts { @extend %ss-pika; @extend %c-linecharts; }
%ss-link { @extend %ss-pika; @extend %c-link; }
%ss-list { @extend %ss-pika; @extend %c-list; }
%ss-loading { @extend %ss-pika; @extend %c-loading; }
%ss-location { @extend %ss-pika; @extend %c-location; }
%ss-lock { @extend %ss-pika; @extend %c-lock; }
%ss-lockfile { @extend %ss-pika; @extend %c-lockfile; }
%ss-lockfolder { @extend %ss-pika; @extend %c-lockfolder; }
%ss-lockmobile { @extend %ss-pika; @extend %c-lockmobile; }
%ss-locomotive { @extend %ss-pika; @extend %c-locomotive; }
%ss-lodging { @extend %ss-pika; @extend %c-lodging; }
%ss-login { @extend %ss-pika; @extend %c-login; }
%ss-logout { @extend %ss-pika; @extend %c-logout; }
%ss-lowbattery { @extend %ss-pika; @extend %c-lowbattery; }
%ss-lowvolume { @extend %ss-pika; @extend %c-lowvolume; }
%ss-luggage { @extend %ss-pika; @extend %c-luggage; }
%ss-mail { @extend %ss-pika; @extend %c-mail; }
%ss-map { @extend %ss-pika; @extend %c-map; }
%ss-maplocation { @extend %ss-pika; @extend %c-maplocation; }
%ss-measuringcup { @extend %ss-pika; @extend %c-measuringcup; }
%ss-medal { @extend %ss-pika; @extend %c-medal; }
%ss-medicalcross { @extend %ss-pika; @extend %c-medicalcross; }
%ss-medicalthermometer { @extend %ss-pika; @extend %c-medicalthermometer; }
%ss-mediumbattery { @extend %ss-pika; @extend %c-mediumbattery; }
%ss-megaphone { @extend %ss-pika; @extend %c-megaphone; }
%ss-merge { @extend %ss-pika; @extend %c-merge; }
%ss-mic { @extend %ss-pika; @extend %c-mic; }
%ss-moneybag { @extend %ss-pika; @extend %c-moneybag; }
%ss-motorcycle { @extend %ss-pika; @extend %c-motorcycle; }
%ss-move { @extend %ss-pika; @extend %c-move; }
%ss-moviefolder { @extend %ss-pika; @extend %c-moviefolder; }
%ss-mug { @extend %ss-pika; @extend %c-mug; }
%ss-music { @extend %ss-pika; @extend %c-music; }
%ss-musicopenbook { @extend %ss-pika; @extend %c-musicopenbook; }
%ss-navigate { @extend %ss-pika; @extend %c-navigate; }
%ss-navigatedown { @extend %ss-pika; @extend %c-navigatedown; }
%ss-navigateleft { @extend %ss-pika; @extend %c-navigateleft; }
%ss-navigateright { @extend %ss-pika; @extend %c-navigateright; }
%ss-navigateup { @extend %ss-pika; @extend %c-navigateup; }
%ss-navigationmobile { @extend %ss-pika; @extend %c-navigationmobile; }
%ss-new { @extend %ss-pika; @extend %c-new; }
%ss-newspaper { @extend %ss-pika; @extend %c-newspaper; }
%ss-nextpage { @extend %ss-pika; @extend %c-nextpage; }
%ss-noodles { @extend %ss-pika; @extend %c-noodles; }
%ss-nosmoking { @extend %ss-pika; @extend %c-nosmoking; }
%ss-notebook { @extend %ss-pika; @extend %c-notebook; }
%ss-notepad { @extend %ss-pika; @extend %c-notepad; }
%ss-notice { @extend %ss-pika; @extend %c-notice; }
%ss-notifications { @extend %ss-pika; @extend %c-notifications; }
%ss-notificationsdisabled { @extend %ss-pika; @extend %c-notificationsdisabled; }
%ss-oliveoil { @extend %ss-pika; @extend %c-oliveoil; }
%ss-onedie { @extend %ss-pika; @extend %c-onedie; }
%ss-openbook { @extend %ss-pika; @extend %c-openbook; }
%ss-openfolder { @extend %ss-pika; @extend %c-openfolder; }
%ss-outbox { @extend %ss-pika; @extend %c-outbox; }
%ss-outlet { @extend %ss-pika; @extend %c-outlet; }
%ss-oven { @extend %ss-pika; @extend %c-oven; }
%ss-page { @extend %ss-pika; @extend %c-page; }
%ss-pagecurl { @extend %ss-pika; @extend %c-pagecurl; }
%ss-paintroller { @extend %ss-pika; @extend %c-paintroller; }
%ss-palmtree { @extend %ss-pika; @extend %c-palmtree; }
%ss-partlycloudy { @extend %ss-pika; @extend %c-partlycloudy; }
%ss-passport { @extend %ss-pika; @extend %c-passport; }
%ss-pause { @extend %ss-pika; @extend %c-pause; }
%ss-pdf { @extend %ss-pika; @extend %c-pdf; }
%ss-pen { @extend %ss-pika; @extend %c-pen; }
%ss-pepper { @extend %ss-pika; @extend %c-pepper; }
%ss-percent { @extend %ss-pika; @extend %c-percent; }
%ss-phone { @extend %ss-pika; @extend %c-phone; }
%ss-phonedisabled { @extend %ss-pika; @extend %c-phonedisabled; }
%ss-phonemobile { @extend %ss-pika; @extend %c-phonemobile; }
%ss-picnictable { @extend %ss-pika; @extend %c-picnictable; }
%ss-picture { @extend %ss-pika; @extend %c-picture; }
%ss-picturefile { @extend %ss-pika; @extend %c-picturefile; }
%ss-picturefolder { @extend %ss-pika; @extend %c-picturefolder; }
%ss-piechart { @extend %ss-pika; @extend %c-piechart; }
%ss-piechartthirds { @extend %ss-pika; @extend %c-piechartthirds; }
%ss-piggybank { @extend %ss-pika; @extend %c-piggybank; }
%ss-pill { @extend %ss-pika; @extend %c-pill; }
%ss-pillbottle { @extend %ss-pika; @extend %c-pillbottle; }
%ss-pin { @extend %ss-pika; @extend %c-pin; }
%ss-pizza { @extend %ss-pika; @extend %c-pizza; }
%ss-plane { @extend %ss-pika; @extend %c-plane; }
%ss-platter { @extend %ss-pika; @extend %c-platter; }
%ss-play { @extend %ss-pika; @extend %c-play; }
%ss-playvideo { @extend %ss-pika; @extend %c-playvideo; }
%ss-plug { @extend %ss-pika; @extend %c-plug; }
%ss-plus { @extend %ss-pika; @extend %c-plus; }
%ss-png { @extend %ss-pika; @extend %c-png; }
%ss-pool { @extend %ss-pika; @extend %c-pool; }
%ss-powermobile { @extend %ss-pika; @extend %c-powermobile; }
%ss-ppt { @extend %ss-pika; @extend %c-ppt; }
%ss-previouspage { @extend %ss-pika; @extend %c-previouspage; }
%ss-pricetag { @extend %ss-pika; @extend %c-pricetag; }
%ss-print { @extend %ss-pika; @extend %c-print; }
%ss-pushpin { @extend %ss-pika; @extend %c-pushpin; }
%ss-puzzle { @extend %ss-pika; @extend %c-puzzle; }
%ss-quote { @extend %ss-pika; @extend %c-quote; }
%ss-radio { @extend %ss-pika; @extend %c-radio; }
%ss-rain { @extend %ss-pika; @extend %c-rain; }
%ss-rainbow { @extend %ss-pika; @extend %c-rainbow; }
%ss-readonline { @extend %ss-pika; @extend %c-readonline; }
%ss-realtyonline { @extend %ss-pika; @extend %c-realtyonline; }
%ss-record { @extend %ss-pika; @extend %c-record; }
%ss-redirect { @extend %ss-pika; @extend %c-redirect; }
%ss-refresh { @extend %ss-pika; @extend %c-refresh; }
%ss-reload { @extend %ss-pika; @extend %c-reload; }
%ss-removecalendar { @extend %ss-pika; @extend %c-removecalendar; }
%ss-removecart { @extend %ss-pika; @extend %c-removecart; }
%ss-removefile { @extend %ss-pika; @extend %c-removefile; }
%ss-removeuser { @extend %ss-pika; @extend %c-removeuser; }
%ss-repeat { @extend %ss-pika; @extend %c-repeat; }
%ss-replay { @extend %ss-pika; @extend %c-replay; }
%ss-reply { @extend %ss-pika; @extend %c-reply; }
%ss-retweet { @extend %ss-pika; @extend %c-retweet; }
%ss-rewind { @extend %ss-pika; @extend %c-rewind; }
%ss-ribbon { @extend %ss-pika; @extend %c-ribbon; }
%ss-right { @extend %ss-pika; @extend %c-right; }
%ss-rightward { @extend %ss-pika; @extend %c-rightward; }
%ss-road { @extend %ss-pika; @extend %c-road; }
%ss-rocket { @extend %ss-pika; @extend %c-rocket; }
%ss-rows { @extend %ss-pika; @extend %c-rows; }
%ss-rss { @extend %ss-pika; @extend %c-rss; }
%ss-rssmobile { @extend %ss-pika; @extend %c-rssmobile; }
%ss-rubbereraser { @extend %ss-pika; @extend %c-rubbereraser; }
%ss-rubberstamp { @extend %ss-pika; @extend %c-rubberstamp; }
%ss-safe { @extend %ss-pika; @extend %c-safe; }
%ss-sailboat { @extend %ss-pika; @extend %c-sailboat; }
%ss-salt { @extend %ss-pika; @extend %c-salt; }
%ss-sample { @extend %ss-pika; @extend %c-sample; }
%ss-sausage { @extend %ss-pika; @extend %c-sausage; }
%ss-scale { @extend %ss-pika; @extend %c-scale; }
%ss-scaledown { @extend %ss-pika; @extend %c-scaledown; }
%ss-scales { @extend %ss-pika; @extend %c-scales; }
%ss-scaleup { @extend %ss-pika; @extend %c-scaleup; }
%ss-scatterchart { @extend %ss-pika; @extend %c-scatterchart; }
%ss-schooner { @extend %ss-pika; @extend %c-schooner; }
%ss-screenshot { @extend %ss-pika; @extend %c-screenshot; }
%ss-search { @extend %ss-pika; @extend %c-search-right; }
%ss-searchbarcode { @extend %ss-pika; @extend %c-searchbarcode; }
%ss-searchbook { @extend %ss-pika; @extend %c-searchbook; }
%ss-searchhouse { @extend %ss-pika; @extend %c-searchhouse; }
%ss-securefolder { @extend %ss-pika; @extend %c-securefolder; }
%ss-seedling { @extend %ss-pika; @extend %c-seedling; }
%ss-send { @extend %ss-pika; @extend %c-send; }
%ss-settings { @extend %ss-pika; @extend %c-settings; }
%ss-settingsfile { @extend %ss-pika; @extend %c-settingsfile; }
%ss-share { @extend %ss-pika; @extend %c-share; }
%ss-shoponline { @extend %ss-pika; @extend %c-shoponline; }
%ss-shower { @extend %ss-pika; @extend %c-shower; }
%ss-shrimp { @extend %ss-pika; @extend %c-shrimp; }
%ss-shuffle { @extend %ss-pika; @extend %c-shuffle; }
%ss-sidedish { @extend %ss-pika; @extend %c-sidedish; }
%ss-signpost { @extend %ss-pika; @extend %c-signpost; }
%ss-sixdie { @extend %ss-pika; @extend %c-sixdie; }
%ss-skipback { @extend %ss-pika; @extend %c-skipback; }
%ss-skipforward { @extend %ss-pika; @extend %c-skipforward; }
%ss-skylift { @extend %ss-pika; @extend %c-skylift; }
%ss-smartphone { @extend %ss-pika; @extend %c-smartphone; }
%ss-snowflake { @extend %ss-pika; @extend %c-snowflake; }
%ss-soccer { @extend %ss-pika; @extend %c-soccer; }
%ss-solarpanel { @extend %ss-pika; @extend %c-solarpanel; }
%ss-spaghetti { @extend %ss-pika; @extend %c-spaghetti; }
%ss-spoonfork { @extend %ss-pika; @extend %c-spoonfork; }
%ss-star { @extend %ss-pika; @extend %c-star; }
%ss-steak { @extend %ss-pika; @extend %c-steak; }
%ss-steeringwheel { @extend %ss-pika; @extend %c-steeringwheel; }
%ss-stereo { @extend %ss-pika; @extend %c-stereo; }
%ss-stethoscope { @extend %ss-pika; @extend %c-stethoscope; }
%ss-stock { @extend %ss-pika; @extend %c-stock; }
%ss-stop { @extend %ss-pika; @extend %c-stop; }
%ss-stopwatch { @extend %ss-pika; @extend %c-stopwatch; }
%ss-store { @extend %ss-pika; @extend %c-store; }
%ss-stove { @extend %ss-pika; @extend %c-stove; }
%ss-suitcase { @extend %ss-pika; @extend %c-suitcase; }
%ss-sun { @extend %ss-pika; @extend %c-sun; }
%ss-sunscreen { @extend %ss-pika; @extend %c-sunscreen; }
%ss-supplements { @extend %ss-pika; @extend %c-supplements; }
%ss-sweep { @extend %ss-pika; @extend %c-sweep; }
%ss-sync { @extend %ss-pika; @extend %c-sync; }
%ss-syringe { @extend %ss-pika; @extend %c-syringe; }
%ss-tablet { @extend %ss-pika; @extend %c-tablet; }
%ss-tabletennis { @extend %ss-pika; @extend %c-tabletennis; }
%ss-tag { @extend %ss-pika; @extend %c-tag; }
%ss-tapemeasure { @extend %ss-pika; @extend %c-tapemeasure; }
%ss-target { @extend %ss-pika; @extend %c-target; }
%ss-taxi { @extend %ss-pika; @extend %c-taxi; }
%ss-tea { @extend %ss-pika; @extend %c-tea; }
%ss-teapot { @extend %ss-pika; @extend %c-teapot; }
%ss-tennis { @extend %ss-pika; @extend %c-tennis; }
%ss-text { @extend %ss-pika; @extend %c-text; }
%ss-textfile { @extend %ss-pika; @extend %c-textfile; }
%ss-textmobile { @extend %ss-pika; @extend %c-textmobile; }
%ss-thermometer { @extend %ss-pika; @extend %c-thermometer; }
%ss-thissideup { @extend %ss-pika; @extend %c-thissideup; }
%ss-threedie { @extend %ss-pika; @extend %c-threedie; }
%ss-thumbnails { @extend %ss-pika; @extend %c-thumbnails; }
%ss-thunderstorm { @extend %ss-pika; @extend %c-thunderstorm; }
%ss-tip { @extend %ss-pika; @extend %c-tip; }
%ss-tornado { @extend %ss-pika; @extend %c-tornado; }
%ss-tractor { @extend %ss-pika; @extend %c-tractor; }
%ss-trafficcamera { @extend %ss-pika; @extend %c-trafficcamera; }
%ss-trafficlight { @extend %ss-pika; @extend %c-trafficlight; }
%ss-train { @extend %ss-pika; @extend %c-train; }
%ss-traintunnel { @extend %ss-pika; @extend %c-traintunnel; }
%ss-trash { @extend %ss-pika; @extend %c-trash; }
%ss-tree { @extend %ss-pika; @extend %c-tree; }
%ss-tropicalfish { @extend %ss-pika; @extend %c-tropicalfish; }
%ss-truck { @extend %ss-pika; @extend %c-truck; }
%ss-tunnel { @extend %ss-pika; @extend %c-tunnel; }
%ss-turkey { @extend %ss-pika; @extend %c-turkey; }
%ss-twodie { @extend %ss-pika; @extend %c-twodie; }
%ss-umbrella { @extend %ss-pika; @extend %c-umbrella; }
%ss-unlock { @extend %ss-pika; @extend %c-unlock; }
%ss-up { @extend %ss-pika; @extend %c-up; }
%ss-upleft { @extend %ss-pika; @extend %c-upleft; }
%ss-upload { @extend %ss-pika; @extend %c-upload; }
%ss-uploadbox { @extend %ss-pika; @extend %c-uploadbox; }
%ss-uploadcloud { @extend %ss-pika; @extend %c-uploadcloud; }
%ss-uploadcrate { @extend %ss-pika; @extend %c-uploadcrate; }
%ss-uploadfile { @extend %ss-pika; @extend %c-uploadfile; }
%ss-uploadfolder { @extend %ss-pika; @extend %c-uploadfolder; }
%ss-upright { @extend %ss-pika; @extend %c-upright; }
%ss-upwardsbarchart { @extend %ss-pika; @extend %c-upwardsbarchart; }
%ss-upwardslinechart { @extend %ss-pika; @extend %c-upwardslinechart; }
%ss-user { @extend %ss-pika; @extend %c-user; }
%ss-userfile { @extend %ss-pika; @extend %c-userfile; }
%ss-usergroup { @extend %ss-pika; @extend %c-usergroup; }
%ss-userprofile { @extend %ss-pika; @extend %c-userprofile; }
%ss-users { @extend %ss-pika; @extend %c-users; }
%ss-utensils { @extend %ss-pika; @extend %c-utensils; }
%ss-video { @extend %ss-pika; @extend %c-video; }
%ss-view { @extend %ss-pika; @extend %c-view; }
%ss-vinylrecord { @extend %ss-pika; @extend %c-vinylrecord; }
%ss-volume { @extend %ss-pika; @extend %c-volume; }
%ss-walkytalky { @extend %ss-pika; @extend %c-walkytalky; }
%ss-warehouse { @extend %ss-pika; @extend %c-warehouse; }
%ss-watch { @extend %ss-pika; @extend %c-watch; }
%ss-waterbottle { @extend %ss-pika; @extend %c-waterbottle; }
%ss-weather { @extend %ss-pika; @extend %c-weather; }
%ss-weatheronline { @extend %ss-pika; @extend %c-weatheronline; }
%ss-weathervane { @extend %ss-pika; @extend %c-weathervane; }
%ss-weight { @extend %ss-pika; @extend %c-weight; }
%ss-wheelchair { @extend %ss-pika; @extend %c-wheelchair; }
%ss-wifi { @extend %ss-pika; @extend %c-wifi; }
%ss-wifibook { @extend %ss-pika; @extend %c-wifibook; }
%ss-wifimail { @extend %ss-pika; @extend %c-wifimail; }
%ss-wifiopenbook { @extend %ss-pika; @extend %c-wifiopenbook; }
%ss-wind { @extend %ss-pika; @extend %c-wind; }
%ss-wineglass { @extend %ss-pika; @extend %c-wineglass; }
%ss-wineglasssparkle { @extend %ss-pika; @extend %c-wineglasssparkle; }
%ss-wrench { @extend %ss-pika; @extend %c-wrench; }
%ss-write { @extend %ss-pika; @extend %c-write; }
%ss-writingdisabled { @extend %ss-pika; @extend %c-writingdisabled; }
%ss-yoga { @extend %ss-pika; @extend %c-yoga; }
%ss-zip { @extend %ss-pika; @extend %c-zip; }
%ss-zoomin { @extend %ss-pika; @extend %c-zoomin; }
%ss-zoomout { @extend %ss-pika; @extend %c-zoomout; }

