@font-face {
  font-family: "SSStandard";
  src: url('#{$ss-standard-dir}ss-standard.eot');
  src: url('#{$ss-standard-dir}ss-standard.eot?#iefix') format('embedded-opentype'),
       url('#{$ss-standard-dir}ss-standard.woff') format('woff'),
       url('#{$ss-standard-dir}ss-standard.ttf')  format('truetype'),
       url('#{$ss-standard-dir}ss-standard.svg#SSStandard') format('svg');
  font-weight: normal;
  font-style: normal;
}

%ss-standard {
  @extend %ss-icon;
  font-family: "SSStandard";
}

%ss-action { @extend %ss-standard; @extend %c-action; }
%ss-addcalendar { @extend %ss-standard; @extend %c-addcalendar; }
%ss-airplay { @extend %ss-standard; @extend %c-airplay; }
%ss-alert { @extend %ss-standard; @extend %c-alert; }
%ss-attach { @extend %ss-standard; @extend %c-attach; }
%ss-backspace { @extend %ss-standard; @extend %c-backspace; }
%ss-ban { @extend %ss-standard; @extend %c-ban; }
%ss-barchart { @extend %ss-standard; @extend %c-barchart; }
%ss-battery { @extend %ss-standard; @extend %c-battery; }
%ss-book { @extend %ss-standard; @extend %c-book; }
%ss-bookmark { @extend %ss-standard; @extend %c-bookmark; }
%ss-box { @extend %ss-standard; @extend %c-box; }
%ss-briefcase { @extend %ss-standard; @extend %c-briefcase; }
%ss-buildings { @extend %ss-standard; @extend %c-buildings; }
%ss-calendar { @extend %ss-standard; @extend %c-calendar; }
%ss-camera { @extend %ss-standard; @extend %c-camera; }
%ss-cart { @extend %ss-standard; @extend %c-cart; }
%ss-caution { @extend %ss-standard; @extend %c-caution; }
%ss-cell { @extend %ss-standard; @extend %c-cell; }
%ss-chat { @extend %ss-standard; @extend %c-chat; }
%ss-check { @extend %ss-standard; @extend %c-check; }
%ss-checkcalendar { @extend %ss-standard; @extend %c-checkcalendar; }
%ss-clock { @extend %ss-standard; @extend %c-clock; }
%ss-cloud { @extend %ss-standard; @extend %c-cloud; }
%ss-columns { @extend %ss-standard; @extend %c-columns; }
%ss-compass { @extend %ss-standard; @extend %c-compass; }
%ss-compose { @extend %ss-standard; @extend %c-compose; }
%ss-connection { @extend %ss-standard; @extend %c-connection; }
%ss-contract { @extend %ss-standard; @extend %c-contract; }
%ss-creditcard { @extend %ss-standard; @extend %c-creditcard; }
%ss-crop { @extend %ss-standard; @extend %c-crop; }
%ss-crosshair { @extend %ss-standard; @extend %c-crosshair; }
%ss-cursor { @extend %ss-standard; @extend %c-cursor; }
%ss-dashboard { @extend %ss-standard; @extend %c-dashboard; }
%ss-database { @extend %ss-standard; @extend %c-database; }
%ss-delete { @extend %ss-standard; @extend %c-delete; }
%ss-deletecalendar { @extend %ss-standard; @extend %c-deletecalendar; }
%ss-desktop { @extend %ss-standard; @extend %c-desktop; }
%ss-directleft { @extend %ss-standard; @extend %c-directleft; }
%ss-directright { @extend %ss-standard; @extend %c-directright; }
%ss-directup { @extend %ss-standard; @extend %c-directup; }
%ss-dislike { @extend %ss-standard; @extend %c-dislike; }
%ss-dollarsign { @extend %ss-standard; @extend %c-dollarsign; }
%ss-down { @extend %ss-standard; @extend %c-down; }
%ss-downleft { @extend %ss-standard; @extend %c-downleft; }
%ss-download { @extend %ss-standard; @extend %c-download-alt; }
%ss-downloadcloud { @extend %ss-standard; @extend %c-downloadcloud; }
%ss-downright { @extend %ss-standard; @extend %c-downright; }
%ss-dropdown { @extend %ss-standard; @extend %c-dropdown; }
%ss-droplet { @extend %ss-standard; @extend %c-droplet; }
%ss-eject { @extend %ss-standard; @extend %c-eject; }
%ss-ellipsis { @extend %ss-standard; @extend %c-ellipsis; }
%ss-ellipsischat { @extend %ss-standard; @extend %c-ellipsischat; }
%ss-emptybattery { @extend %ss-standard; @extend %c-emptybattery; }
%ss-erase { @extend %ss-standard; @extend %c-erase; }
%ss-expand { @extend %ss-standard; @extend %c-expand; }
%ss-facetime { @extend %ss-standard; @extend %c-facetime; }
%ss-fastforward { @extend %ss-standard; @extend %c-fastforward; }
%ss-fax { @extend %ss-standard; @extend %c-fax; }
%ss-femaleuser { @extend %ss-standard; @extend %c-femaleuser; }
%ss-file { @extend %ss-standard; @extend %c-file; }
%ss-fill { @extend %ss-standard; @extend %c-fill; }
%ss-filter { @extend %ss-standard; @extend %c-filter; }
%ss-flag { @extend %ss-standard; @extend %c-flag; }
%ss-flask { @extend %ss-standard; @extend %c-flask; }
%ss-folder { @extend %ss-standard; @extend %c-folder; }
%ss-font { @extend %ss-standard; @extend %c-font; }
%ss-fork { @extend %ss-standard; @extend %c-fork; }
%ss-globe { @extend %ss-standard; @extend %c-globe; }
%ss-grid { @extend %ss-standard; @extend %c-grid; }
%ss-halfheart { @extend %ss-standard; @extend %c-halfheart; }
%ss-halfstar { @extend %ss-standard; @extend %c-halfstar; }
%ss-hdd { @extend %ss-standard; @extend %c-hdd; }
%ss-heart { @extend %ss-standard; @extend %c-heart; }
%ss-help { @extend %ss-standard; @extend %c-help; }
%ss-highbattery { @extend %ss-standard; @extend %c-highbattery; }
%ss-highvolume { @extend %ss-standard; @extend %c-highvolume; }
%ss-home { @extend %ss-standard; @extend %c-home; }
%ss-hyphen { @extend %ss-standard; @extend %c-hyphen; }
%ss-inbox { @extend %ss-standard; @extend %c-inbox; }
%ss-info { @extend %ss-standard; @extend %c-info; }
%ss-key { @extend %ss-standard; @extend %c-key; }
%ss-laptop { @extend %ss-standard; @extend %c-laptop; }
%ss-layers { @extend %ss-standard; @extend %c-layers; }
%ss-layout { @extend %ss-standard; @extend %c-layout; }
%ss-left { @extend %ss-standard; @extend %c-left; }
%ss-lightbulb { @extend %ss-standard; @extend %c-lightbulb; }
%ss-like { @extend %ss-standard; @extend %c-like; }
%ss-link { @extend %ss-standard; @extend %c-link; }
%ss-list { @extend %ss-standard; @extend %c-list; }
%ss-loading { @extend %ss-standard; @extend %c-loading; }
%ss-location { @extend %ss-standard; @extend %c-location; }
%ss-lock { @extend %ss-standard; @extend %c-lock; }
%ss-logout { @extend %ss-standard; @extend %c-logout; }
%ss-lowbattery { @extend %ss-standard; @extend %c-lowbattery; }
%ss-lowvolume { @extend %ss-standard; @extend %c-lowvolume; }
%ss-mail { @extend %ss-standard; @extend %c-mail; }
%ss-map { @extend %ss-standard; @extend %c-map; }
%ss-mediumbattery { @extend %ss-standard; @extend %c-mediumbattery; }
%ss-merge { @extend %ss-standard; @extend %c-merge; }
%ss-mic { @extend %ss-standard; @extend %c-mic; }
%ss-move { @extend %ss-standard; @extend %c-move; }
%ss-music { @extend %ss-standard; @extend %c-music; }
%ss-navigate { @extend %ss-standard; @extend %c-navigate; }
%ss-navigatedown { @extend %ss-standard; @extend %c-navigatedown; }
%ss-navigateleft { @extend %ss-standard; @extend %c-navigateleft; }
%ss-navigateright { @extend %ss-standard; @extend %c-navigateright; }
%ss-navigateup { @extend %ss-standard; @extend %c-navigateup; }
%ss-newspaper { @extend %ss-standard; @extend %c-newspaper; }
%ss-notebook { @extend %ss-standard; @extend %c-notebook; }
%ss-notifications { @extend %ss-standard; @extend %c-notifications; }
%ss-notificationsdisabled { @extend %ss-standard; @extend %c-notificationsdisabled; }
%ss-openbook { @extend %ss-standard; @extend %c-openbook; }
%ss-pause { @extend %ss-standard; @extend %c-pause; }
%ss-phone { @extend %ss-standard; @extend %c-phone; }
%ss-phonedisabled { @extend %ss-standard; @extend %c-phonedisabled; }
%ss-picture { @extend %ss-standard; @extend %c-picture; }
%ss-piechart { @extend %ss-standard; @extend %c-piechart; }
%ss-pin { @extend %ss-standard; @extend %c-pin; }
%ss-play { @extend %ss-standard; @extend %c-play; }
%ss-plus { @extend %ss-standard; @extend %c-plus; }
%ss-print { @extend %ss-standard; @extend %c-print; }
%ss-quote { @extend %ss-standard; @extend %c-quote; }
%ss-record { @extend %ss-standard; @extend %c-record; }
%ss-redirect { @extend %ss-standard; @extend %c-redirect; }
%ss-refresh { @extend %ss-standard; @extend %c-refresh; }
%ss-removecalendar { @extend %ss-standard; @extend %c-removecalendar; }
%ss-repeat { @extend %ss-standard; @extend %c-repeat; }
%ss-replay { @extend %ss-standard; @extend %c-replay; }
%ss-reply { @extend %ss-standard; @extend %c-reply; }
%ss-retweet { @extend %ss-standard; @extend %c-retweet; }
%ss-rewind { @extend %ss-standard; @extend %c-rewind; }
%ss-right { @extend %ss-standard; @extend %c-right; }
%ss-rows { @extend %ss-standard; @extend %c-rows; }
%ss-rss { @extend %ss-standard; @extend %c-rss; }
%ss-sample { @extend %ss-standard; @extend %c-sample; }
%ss-search { @extend %ss-standard; @extend %c-search-right; }
%ss-send { @extend %ss-standard; @extend %c-send; }
%ss-settings { @extend %ss-standard; @extend %c-settings; }
%ss-shuffle { @extend %ss-standard; @extend %c-shuffle; }
%ss-signpost { @extend %ss-standard; @extend %c-signpost; }
%ss-skipback { @extend %ss-standard; @extend %c-skipback; }
%ss-skipforward { @extend %ss-standard; @extend %c-skipforward; }
%ss-star { @extend %ss-standard; @extend %c-star; }
%ss-stop { @extend %ss-standard; @extend %c-stop; }
%ss-stopwatch { @extend %ss-standard; @extend %c-stopwatch; }
%ss-stroke { @extend %ss-standard; @extend %c-stroke; }
%ss-sync { @extend %ss-standard; @extend %c-sync; }
%ss-tablet { @extend %ss-standard; @extend %c-tablet; }
%ss-tag { @extend %ss-standard; @extend %c-tag; }
%ss-target { @extend %ss-standard; @extend %c-target; }
%ss-text { @extend %ss-standard; @extend %c-text; }
%ss-thumbnails { @extend %ss-standard; @extend %c-thumbnails; }
%ss-transfer { @extend %ss-standard; @extend %c-transfer; }
%ss-trash { @extend %ss-standard; @extend %c-trash; }
%ss-unlock { @extend %ss-standard; @extend %c-unlock; }
%ss-up { @extend %ss-standard; @extend %c-up; }
%ss-upleft { @extend %ss-standard; @extend %c-upleft; }
%ss-upload { @extend %ss-standard; @extend %c-upload; }
%ss-uploadcloud { @extend %ss-standard; @extend %c-uploadcloud; }
%ss-upright { @extend %ss-standard; @extend %c-upright; }
%ss-user { @extend %ss-standard; @extend %c-user; }
%ss-users { @extend %ss-standard; @extend %c-users; }
%ss-video { @extend %ss-standard; @extend %c-video; }
%ss-view { @extend %ss-standard; @extend %c-view; }
%ss-volume { @extend %ss-standard; @extend %c-volume; }
%ss-warehouse { @extend %ss-standard; @extend %c-warehouse; }
%ss-wifi { @extend %ss-standard; @extend %c-wifi; }
%ss-write { @extend %ss-standard; @extend %c-write; }
%ss-writingdisabled { @extend %ss-standard; @extend %c-writingdisabled; }
%ss-zoomin { @extend %ss-standard; @extend %c-zoomin; }
%ss-zoomout { @extend %ss-standard; @extend %c-zoomout; }
