@font-face {
  font-family: "SSSymbolicons";
  src: url('#{$ss-symbolicons-block-dir}ss-symbolicons-block.eot');
  src: url('#{$ss-symbolicons-block-dir}ss-symbolicons-block.eot?#iefix') format('embedded-opentype'),
       url('#{$ss-symbolicons-block-dir}ss-symbolicons-block.woff') format('woff'),
       url('#{$ss-symbolicons-block-dir}ss-symbolicons-block.ttf')  format('truetype'),
       url('#{$ss-symbolicons-block-dir}ss-symbolicons-block.svg#SSSymboliconsBlock') format('svg');
  font-weight: normal;
  font-style: normal;
}

%ss-symbolicons-block {
  @extend %ss-icon;
  font-family: "SSSymbolicons";
}

%ss-action { @extend %ss-symbolicons-block; @extend %c-action; }
%ss-activity { @extend %ss-symbolicons-block; @extend %c-activity; }
%ss-adddatabase { @extend %ss-symbolicons-block; @extend %c-adddatabase; }
%ss-addfile { @extend %ss-symbolicons-block; @extend %c-addfile; }
%ss-addfolder { @extend %ss-symbolicons-block; @extend %c-addfolder; }
%ss-addheart { @extend %ss-symbolicons-block; @extend %c-addheart; }
%ss-addressbook { @extend %ss-symbolicons-block; @extend %c-addressbook; }
%ss-adduser { @extend %ss-symbolicons-block; @extend %c-adduser; }
%ss-airplay { @extend %ss-symbolicons-block; @extend %c-airplay; }
%ss-alarmclock { @extend %ss-symbolicons-block; @extend %c-alarmclock; }
%ss-album { @extend %ss-symbolicons-block; @extend %c-album; }
%ss-alert { @extend %ss-symbolicons-block; @extend %c-alert; }
%ss-alien { @extend %ss-symbolicons-block; @extend %c-alien; }
%ss-anchor { @extend %ss-symbolicons-block; @extend %c-anchor; }
%ss-apple { @extend %ss-symbolicons-block; @extend %c-apple-alt; }
%ss-atom { @extend %ss-symbolicons-block; @extend %c-atom; }
%ss-award { @extend %ss-symbolicons-block; @extend %c-award; }
%ss-baby { @extend %ss-symbolicons-block; @extend %c-baby; }
%ss-babybottle { @extend %ss-symbolicons-block; @extend %c-babybottle; }
%ss-backspace { @extend %ss-symbolicons-block; @extend %c-backspace; }
%ss-badge { @extend %ss-symbolicons-block; @extend %c-badge; }
%ss-balloons { @extend %ss-symbolicons-block; @extend %c-balloons; }
%ss-ban { @extend %ss-symbolicons-block; @extend %c-ban; }
%ss-bandage { @extend %ss-symbolicons-block; @extend %c-bandage; }
%ss-bank { @extend %ss-symbolicons-block; @extend %c-bank; }
%ss-banknote { @extend %ss-symbolicons-block; @extend %c-banknote; }
%ss-barchart { @extend %ss-symbolicons-block; @extend %c-barchart; }
%ss-barn { @extend %ss-symbolicons-block; @extend %c-barn; }
%ss-baseball { @extend %ss-symbolicons-block; @extend %c-baseball; }
%ss-basketball { @extend %ss-symbolicons-block; @extend %c-basketball; }
%ss-battery { @extend %ss-symbolicons-block; @extend %c-battery; }
%ss-bearface { @extend %ss-symbolicons-block; @extend %c-bearface; }
%ss-beer { @extend %ss-symbolicons-block; @extend %c-beer; }
%ss-bezier { @extend %ss-symbolicons-block; @extend %c-bezier; }
%ss-bike { @extend %ss-symbolicons-block; @extend %c-bike; }
%ss-bill { @extend %ss-symbolicons-block; @extend %c-bill; }
%ss-billiards { @extend %ss-symbolicons-block; @extend %c-billiards; }
%ss-binoculars { @extend %ss-symbolicons-block; @extend %c-binoculars; }
%ss-bird { @extend %ss-symbolicons-block; @extend %c-bird; }
%ss-birthdaycake { @extend %ss-symbolicons-block; @extend %c-birthdaycake; }
%ss-blocks { @extend %ss-symbolicons-block; @extend %c-blocks; }
%ss-boat { @extend %ss-symbolicons-block; @extend %c-boat; }
%ss-bone { @extend %ss-symbolicons-block; @extend %c-bone; }
%ss-bookinsert { @extend %ss-symbolicons-block; @extend %c-bookinsert; }
%ss-books { @extend %ss-symbolicons-block; @extend %c-books; }
%ss-bookspencil { @extend %ss-symbolicons-block; @extend %c-bookspencil; }
%ss-bottle { @extend %ss-symbolicons-block; @extend %c-bottle; }
%ss-box { @extend %ss-symbolicons-block; @extend %c-box; }
%ss-bridge { @extend %ss-symbolicons-block; @extend %c-bridge; }
%ss-briefcase { @extend %ss-symbolicons-block; @extend %c-briefcase; }
%ss-brightness { @extend %ss-symbolicons-block; @extend %c-brightness; }
%ss-brush { @extend %ss-symbolicons-block; @extend %c-brush; }
%ss-brushmobile { @extend %ss-symbolicons-block; @extend %c-brushmobile; }
%ss-bug { @extend %ss-symbolicons-block; @extend %c-bug; }
%ss-buildings { @extend %ss-symbolicons-block; @extend %c-buildings; }
%ss-bullseye { @extend %ss-symbolicons-block; @extend %c-bullseye; }
%ss-burger { @extend %ss-symbolicons-block; @extend %c-burger; }
%ss-bus { @extend %ss-symbolicons-block; @extend %c-bus; }
%ss-button { @extend %ss-symbolicons-block; @extend %c-button; }
%ss-calculator { @extend %ss-symbolicons-block; @extend %c-calculator; }
%ss-calendar { @extend %ss-symbolicons-block; @extend %c-calendar; }
%ss-camera { @extend %ss-symbolicons-block; @extend %c-camera; }
%ss-campfire { @extend %ss-symbolicons-block; @extend %c-campfire; }
%ss-candle { @extend %ss-symbolicons-block; @extend %c-candle; }
%ss-car { @extend %ss-symbolicons-block; @extend %c-car; }
%ss-carrepair { @extend %ss-symbolicons-block; @extend %c-carrepair; }
%ss-cart { @extend %ss-symbolicons-block; @extend %c-cart; }
%ss-catface { @extend %ss-symbolicons-block; @extend %c-catface; }
%ss-caution { @extend %ss-symbolicons-block; @extend %c-caution; }
%ss-cell { @extend %ss-symbolicons-block; @extend %c-cell; }
%ss-cellbars { @extend %ss-symbolicons-block; @extend %c-cellbars; }
%ss-cfl { @extend %ss-symbolicons-block; @extend %c-cfl; }
%ss-chargingbattery { @extend %ss-symbolicons-block; @extend %c-chargingbattery; }
%ss-chat { @extend %ss-symbolicons-block; @extend %c-chat; }
%ss-chats { @extend %ss-symbolicons-block; @extend %c-chats; }
%ss-check { @extend %ss-symbolicons-block; @extend %c-check; }
%ss-cheese { @extend %ss-symbolicons-block; @extend %c-cheese; }
%ss-christmastree { @extend %ss-symbolicons-block; @extend %c-christmastree; }
%ss-clapboard { @extend %ss-symbolicons-block; @extend %c-clapboard; }
%ss-clipboard { @extend %ss-symbolicons-block; @extend %c-clipboard; }
%ss-clock { @extend %ss-symbolicons-block; @extend %c-clock; }
%ss-cocktail { @extend %ss-symbolicons-block; @extend %c-cocktail; }
%ss-coffee { @extend %ss-symbolicons-block; @extend %c-coffee; }
%ss-compass { @extend %ss-symbolicons-block; @extend %c-compass; }
%ss-compose { @extend %ss-symbolicons-block; @extend %c-compose; }
%ss-connection { @extend %ss-symbolicons-block; @extend %c-connection; }
%ss-contacts { @extend %ss-symbolicons-block; @extend %c-contacts; }
%ss-contract { @extend %ss-symbolicons-block; @extend %c-contract; }
%ss-crate { @extend %ss-symbolicons-block; @extend %c-crate; }
%ss-crayons { @extend %ss-symbolicons-block; @extend %c-crayons; }
%ss-creditcard { @extend %ss-symbolicons-block; @extend %c-creditcard; }
%ss-crescentmoon { @extend %ss-symbolicons-block; @extend %c-crescentmoon; }
%ss-crochet { @extend %ss-symbolicons-block; @extend %c-crochet; }
%ss-crop { @extend %ss-symbolicons-block; @extend %c-crop; }
%ss-crosshair { @extend %ss-symbolicons-block; @extend %c-crosshair; }
%ss-crown { @extend %ss-symbolicons-block; @extend %c-crown; }
%ss-cup { @extend %ss-symbolicons-block; @extend %c-cup; }
%ss-cut { @extend %ss-symbolicons-block; @extend %c-cut; }
%ss-cutpaste { @extend %ss-symbolicons-block; @extend %c-cutpaste; }
%ss-dashboard { @extend %ss-symbolicons-block; @extend %c-dashboard; }
%ss-database { @extend %ss-symbolicons-block; @extend %c-database; }
%ss-delete { @extend %ss-symbolicons-block; @extend %c-delete; }
%ss-deletedatabase { @extend %ss-symbolicons-block; @extend %c-deletedatabase; }
%ss-deletefile { @extend %ss-symbolicons-block; @extend %c-deletefile; }
%ss-deletefolder { @extend %ss-symbolicons-block; @extend %c-deletefolder; }
%ss-deleteheart { @extend %ss-symbolicons-block; @extend %c-deleteheart; }
%ss-deleteuser { @extend %ss-symbolicons-block; @extend %c-deleteuser; }
%ss-desktop { @extend %ss-symbolicons-block; @extend %c-desktop; }
%ss-diaper { @extend %ss-symbolicons-block; @extend %c-diaper; }
%ss-disc { @extend %ss-symbolicons-block; @extend %c-disc; }
%ss-discs { @extend %ss-symbolicons-block; @extend %c-discs; }
%ss-dislike { @extend %ss-symbolicons-block; @extend %c-dislike; }
%ss-dog { @extend %ss-symbolicons-block; @extend %c-dog; }
%ss-dogface { @extend %ss-symbolicons-block; @extend %c-dogface; }
%ss-door { @extend %ss-symbolicons-block; @extend %c-door; }
%ss-down { @extend %ss-symbolicons-block; @extend %c-down; }
%ss-download { @extend %ss-symbolicons-block; @extend %c-download; }
%ss-downloadbox { @extend %ss-symbolicons-block; @extend %c-downloadbox; }
%ss-downloadcrate { @extend %ss-symbolicons-block; @extend %c-downloadcrate; }
%ss-downloadfolder { @extend %ss-symbolicons-block; @extend %c-downloadfolder; }
%ss-downloadhdd { @extend %ss-symbolicons-block; @extend %c-downloadhdd; }
%ss-dryer { @extend %ss-symbolicons-block; @extend %c-dryer; }
%ss-earth { @extend %ss-symbolicons-block; @extend %c-earth; }
%ss-easteregg { @extend %ss-symbolicons-block; @extend %c-easteregg; }
%ss-effects { @extend %ss-symbolicons-block; @extend %c-effects; }
%ss-egg { @extend %ss-symbolicons-block; @extend %c-egg; }
%ss-eject { @extend %ss-symbolicons-block; @extend %c-eject; }
%ss-elevator { @extend %ss-symbolicons-block; @extend %c-elevator; }
%ss-ellipsischat { @extend %ss-symbolicons-block; @extend %c-ellipsischat; }
%ss-emptybattery { @extend %ss-symbolicons-block; @extend %c-emptybattery; }
%ss-exclamationchat { @extend %ss-symbolicons-block; @extend %c-exclamationchat; }
%ss-exercise { @extend %ss-symbolicons-block; @extend %c-exercise; }
%ss-expand { @extend %ss-symbolicons-block; @extend %c-expand; }
%ss-fabric { @extend %ss-symbolicons-block; @extend %c-fabric; }
%ss-fastforward { @extend %ss-symbolicons-block; @extend %c-fastforward; }
%ss-fax { @extend %ss-symbolicons-block; @extend %c-fax; }
%ss-females { @extend %ss-symbolicons-block; @extend %c-females; }
%ss-fence { @extend %ss-symbolicons-block; @extend %c-fence; }
%ss-filecabinet { @extend %ss-symbolicons-block; @extend %c-filecabinet; }
%ss-files { @extend %ss-symbolicons-block; @extend %c-files; }
%ss-fill { @extend %ss-symbolicons-block; @extend %c-fill; }
%ss-film { @extend %ss-symbolicons-block; @extend %c-film; }
%ss-filter { @extend %ss-symbolicons-block; @extend %c-filter; }
%ss-fireplace { @extend %ss-symbolicons-block; @extend %c-fireplace; }
%ss-firstquartermoon { @extend %ss-symbolicons-block; @extend %c-firstquartermoon; }
%ss-fivedie { @extend %ss-symbolicons-block; @extend %c-fivedie; }
%ss-flag { @extend %ss-symbolicons-block; @extend %c-flag; }
%ss-flaginhole { @extend %ss-symbolicons-block; @extend %c-flaginhole; }
%ss-flashlight { @extend %ss-symbolicons-block; @extend %c-flashlight; }
%ss-flashoff { @extend %ss-symbolicons-block; @extend %c-flashoff; }
%ss-flask { @extend %ss-symbolicons-block; @extend %c-flask; }
%ss-flatscreen { @extend %ss-symbolicons-block; @extend %c-flatscreen; }
%ss-fliphorizontally { @extend %ss-symbolicons-block; @extend %c-fliphorizontally; }
%ss-flipvertically { @extend %ss-symbolicons-block; @extend %c-flipvertically; }
%ss-flowchart { @extend %ss-symbolicons-block; @extend %c-flowchart; }
%ss-flower { @extend %ss-symbolicons-block; @extend %c-flower; }
%ss-flowerframe { @extend %ss-symbolicons-block; @extend %c-flowerframe; }
%ss-fluxcapacitor { @extend %ss-symbolicons-block; @extend %c-fluxcapacitor; }
%ss-folder { @extend %ss-symbolicons-block; @extend %c-folder; }
%ss-font { @extend %ss-symbolicons-block; @extend %c-font; }
%ss-football { @extend %ss-symbolicons-block; @extend %c-football; }
%ss-footsteps { @extend %ss-symbolicons-block; @extend %c-footsteps; }
%ss-fourdie { @extend %ss-symbolicons-block; @extend %c-fourdie; }
%ss-frame { @extend %ss-symbolicons-block; @extend %c-frame; }
%ss-frenchfries { @extend %ss-symbolicons-block; @extend %c-frenchfries; }
%ss-frown { @extend %ss-symbolicons-block; @extend %c-frown; }
%ss-fuel { @extend %ss-symbolicons-block; @extend %c-fuel; }
%ss-fullmoon { @extend %ss-symbolicons-block; @extend %c-fullmoon; }
%ss-fuzzydice { @extend %ss-symbolicons-block; @extend %c-fuzzydice; }
%ss-gavel { @extend %ss-symbolicons-block; @extend %c-gavel; }
%ss-ghost { @extend %ss-symbolicons-block; @extend %c-ghost; }
%ss-gift { @extend %ss-symbolicons-block; @extend %c-gift; }
%ss-globe { @extend %ss-symbolicons-block; @extend %c-globe-alt; }
%ss-golf { @extend %ss-symbolicons-block; @extend %c-golf; }
%ss-graduationcap { @extend %ss-symbolicons-block; @extend %c-graduationcap; }
%ss-grid { @extend %ss-symbolicons-block; @extend %c-grid; }
%ss-gridlines { @extend %ss-symbolicons-block; @extend %c-gridlines; }
%ss-growler { @extend %ss-symbolicons-block; @extend %c-growler; }
%ss-hammerscrewdriver { @extend %ss-symbolicons-block; @extend %c-hammerscrewdriver; }
%ss-happyrobot { @extend %ss-symbolicons-block; @extend %c-happyrobot; }
%ss-hdd { @extend %ss-symbolicons-block; @extend %c-hdd; }
%ss-headphones { @extend %ss-symbolicons-block; @extend %c-headphones; }
%ss-headstone { @extend %ss-symbolicons-block; @extend %c-headstone; }
%ss-heart { @extend %ss-symbolicons-block; @extend %c-heart; }
%ss-heartframe { @extend %ss-symbolicons-block; @extend %c-heartframe; }
%ss-heartuser { @extend %ss-symbolicons-block; @extend %c-heartuser; }
%ss-heavyasterisk { @extend %ss-symbolicons-block; @extend %c-heavyasterisk; }
%ss-help { @extend %ss-symbolicons-block; @extend %c-help; }
%ss-hiker { @extend %ss-symbolicons-block; @extend %c-hiker; }
%ss-home { @extend %ss-symbolicons-block; @extend %c-home; }
%ss-hospital { @extend %ss-symbolicons-block; @extend %c-hospital; }
%ss-hotdog { @extend %ss-symbolicons-block; @extend %c-hotdog; }
%ss-hottub { @extend %ss-symbolicons-block; @extend %c-hottub; }
%ss-hourglass { @extend %ss-symbolicons-block; @extend %c-hourglass; }
%ss-hyphen { @extend %ss-symbolicons-block; @extend %c-hyphen; }
%ss-inbox { @extend %ss-symbolicons-block; @extend %c-inbox; }
%ss-incomingmail { @extend %ss-symbolicons-block; @extend %c-incomingmail; }
%ss-info { @extend %ss-symbolicons-block; @extend %c-info; }
%ss-itunes { @extend %ss-symbolicons-block; @extend %c-itunes; }
%ss-jackolantern { @extend %ss-symbolicons-block; @extend %c-jackolantern; }
%ss-jug { @extend %ss-symbolicons-block; @extend %c-jug; }
%ss-key { @extend %ss-symbolicons-block; @extend %c-key; }
%ss-keyboarddown { @extend %ss-symbolicons-block; @extend %c-keyboarddown; }
%ss-keyboardup { @extend %ss-symbolicons-block; @extend %c-keyboardup; }
%ss-laptop { @extend %ss-symbolicons-block; @extend %c-laptop; }
%ss-lastquartermoon { @extend %ss-symbolicons-block; @extend %c-lastquartermoon; }
%ss-layers { @extend %ss-symbolicons-block; @extend %c-layers; }
%ss-leaf { @extend %ss-symbolicons-block; @extend %c-leaf; }
%ss-ledger { @extend %ss-symbolicons-block; @extend %c-ledger; }
%ss-left { @extend %ss-symbolicons-block; @extend %c-left; }
%ss-lifepreserver { @extend %ss-symbolicons-block; @extend %c-lifepreserver; }
%ss-lightbulb { @extend %ss-symbolicons-block; @extend %c-lightbulb; }
%ss-lightning { @extend %ss-symbolicons-block; @extend %c-lightning; }
%ss-like { @extend %ss-symbolicons-block; @extend %c-like; }
%ss-link { @extend %ss-symbolicons-block; @extend %c-link; }
%ss-list { @extend %ss-symbolicons-block; @extend %c-list; }
%ss-location { @extend %ss-symbolicons-block; @extend %c-location; }
%ss-lock { @extend %ss-symbolicons-block; @extend %c-lock; }
%ss-lodging { @extend %ss-symbolicons-block; @extend %c-lodging; }
%ss-magicwand { @extend %ss-symbolicons-block; @extend %c-magicwand; }
%ss-mail { @extend %ss-symbolicons-block; @extend %c-mail; }
%ss-mailbox { @extend %ss-symbolicons-block; @extend %c-mailbox; }
%ss-malefemale { @extend %ss-symbolicons-block; @extend %c-malefemale; }
%ss-males { @extend %ss-symbolicons-block; @extend %c-males; }
%ss-map { @extend %ss-symbolicons-block; @extend %c-map; }
%ss-medal { @extend %ss-symbolicons-block; @extend %c-medal; }
%ss-medicalbag { @extend %ss-symbolicons-block; @extend %c-medicalbag; }
%ss-medicalcross { @extend %ss-symbolicons-block; @extend %c-medicalcross; }
%ss-mediumbattery { @extend %ss-symbolicons-block; @extend %c-mediumbattery; }
%ss-meeting { @extend %ss-symbolicons-block; @extend %c-meeting; }
%ss-megaphone { @extend %ss-symbolicons-block; @extend %c-megaphone; }
%ss-menorah { @extend %ss-symbolicons-block; @extend %c-menorah; }
%ss-mic { @extend %ss-symbolicons-block; @extend %c-mic; }
%ss-moneybag { @extend %ss-symbolicons-block; @extend %c-moneybag; }
%ss-motorcycle { @extend %ss-symbolicons-block; @extend %c-motorcycle; }
%ss-mug { @extend %ss-symbolicons-block; @extend %c-mug; }
%ss-music { @extend %ss-symbolicons-block; @extend %c-music; }
%ss-musichome { @extend %ss-symbolicons-block; @extend %c-musichome; }
%ss-navigatedown { @extend %ss-symbolicons-block; @extend %c-navigatedown; }
%ss-navigateleft { @extend %ss-symbolicons-block; @extend %c-navigateleft; }
%ss-navigateright { @extend %ss-symbolicons-block; @extend %c-navigateright; }
%ss-navigateup { @extend %ss-symbolicons-block; @extend %c-navigateup; }
%ss-needles { @extend %ss-symbolicons-block; @extend %c-needles; }
%ss-networkhdd { @extend %ss-symbolicons-block; @extend %c-networkhdd; }
%ss-newmoon { @extend %ss-symbolicons-block; @extend %c-newmoon; }
%ss-newspaper { @extend %ss-symbolicons-block; @extend %c-newspaper; }
%ss-newtag { @extend %ss-symbolicons-block; @extend %c-newtag; }
%ss-nosmoking { @extend %ss-symbolicons-block; @extend %c-nosmoking; }
%ss-notebook { @extend %ss-symbolicons-block; @extend %c-notebook; }
%ss-notepad { @extend %ss-symbolicons-block; @extend %c-notepad; }
%ss-notice { @extend %ss-symbolicons-block; @extend %c-notice; }
%ss-notifications { @extend %ss-symbolicons-block; @extend %c-notifications; }
%ss-onedie { @extend %ss-symbolicons-block; @extend %c-onedie; }
%ss-openbook { @extend %ss-symbolicons-block; @extend %c-openbook; }
%ss-outbox { @extend %ss-symbolicons-block; @extend %c-outbox; }
%ss-oven { @extend %ss-symbolicons-block; @extend %c-oven; }
%ss-paddles { @extend %ss-symbolicons-block; @extend %c-paddles; }
%ss-pailshovel { @extend %ss-symbolicons-block; @extend %c-pailshovel; }
%ss-paintroller { @extend %ss-symbolicons-block; @extend %c-paintroller; }
%ss-palette { @extend %ss-symbolicons-block; @extend %c-palette; }
%ss-palmtree { @extend %ss-symbolicons-block; @extend %c-palmtree; }
%ss-pancakes { @extend %ss-symbolicons-block; @extend %c-pancakes; }
%ss-paperbag { @extend %ss-symbolicons-block; @extend %c-paperbag; }
%ss-parking { @extend %ss-symbolicons-block; @extend %c-parking; }
%ss-partlycloudy { @extend %ss-symbolicons-block; @extend %c-partlycloudy; }
%ss-pause { @extend %ss-symbolicons-block; @extend %c-pause; }
%ss-pen { @extend %ss-symbolicons-block; @extend %c-pen; }
%ss-pencilbrush { @extend %ss-symbolicons-block; @extend %c-pencilbrush; }
%ss-pencilbrushpen { @extend %ss-symbolicons-block; @extend %c-pencilbrushpen; }
%ss-pencilmobile { @extend %ss-symbolicons-block; @extend %c-pencilmobile; }
%ss-phone { @extend %ss-symbolicons-block; @extend %c-phone; }
%ss-phonebook { @extend %ss-symbolicons-block; @extend %c-phonebook; }
%ss-phonograph { @extend %ss-symbolicons-block; @extend %c-phonograph; }
%ss-picnictable { @extend %ss-symbolicons-block; @extend %c-picnictable; }
%ss-picture { @extend %ss-symbolicons-block; @extend %c-picture; }
%ss-pictures { @extend %ss-symbolicons-block; @extend %c-pictures; }
%ss-piechart { @extend %ss-symbolicons-block; @extend %c-piechart; }
%ss-pig { @extend %ss-symbolicons-block; @extend %c-pig; }
%ss-pixels { @extend %ss-symbolicons-block; @extend %c-pixels; }
%ss-pizza { @extend %ss-symbolicons-block; @extend %c-pizza; }
%ss-plane { @extend %ss-symbolicons-block; @extend %c-plane; }
%ss-play { @extend %ss-symbolicons-block; @extend %c-play; }
%ss-playfilm { @extend %ss-symbolicons-block; @extend %c-playfilm; }
%ss-playlist { @extend %ss-symbolicons-block; @extend %c-playlist; }
%ss-playscript { @extend %ss-symbolicons-block; @extend %c-playscript; }
%ss-plus { @extend %ss-symbolicons-block; @extend %c-plus; }
%ss-podcast { @extend %ss-symbolicons-block; @extend %c-podcast; }
%ss-power { @extend %ss-symbolicons-block; @extend %c-power; }
%ss-print { @extend %ss-symbolicons-block; @extend %c-print; }
%ss-projector { @extend %ss-symbolicons-block; @extend %c-projector; }
%ss-pushpin { @extend %ss-symbolicons-block; @extend %c-pushpin; }
%ss-puzzle { @extend %ss-symbolicons-block; @extend %c-puzzle; }
%ss-questionchat { @extend %ss-symbolicons-block; @extend %c-questionchat; }
%ss-questionframe { @extend %ss-symbolicons-block; @extend %c-questionframe; }
%ss-quote { @extend %ss-symbolicons-block; @extend %c-quote; }
%ss-radio { @extend %ss-symbolicons-block; @extend %c-radio; }
%ss-radioactive { @extend %ss-symbolicons-block; @extend %c-radioactive; }
%ss-rainbow { @extend %ss-symbolicons-block; @extend %c-rainbow; }
%ss-raisedhand { @extend %ss-symbolicons-block; @extend %c-raisedhand; }
%ss-rattle { @extend %ss-symbolicons-block; @extend %c-rattle; }
%ss-record { @extend %ss-symbolicons-block; @extend %c-record; }
%ss-recordscript { @extend %ss-symbolicons-block; @extend %c-recordscript; }
%ss-redirect { @extend %ss-symbolicons-block; @extend %c-redirect-alt; }
%ss-redo { @extend %ss-symbolicons-block; @extend %c-redo; }
%ss-refresh { @extend %ss-symbolicons-block; @extend %c-refresh; }
%ss-removefile { @extend %ss-symbolicons-block; @extend %c-removefile; }
%ss-removefolder { @extend %ss-symbolicons-block; @extend %c-removefolder; }
%ss-removeuser { @extend %ss-symbolicons-block; @extend %c-removeuser; }
%ss-restroom { @extend %ss-symbolicons-block; @extend %c-restroom; }
%ss-rewind { @extend %ss-symbolicons-block; @extend %c-rewind; }
%ss-right { @extend %ss-symbolicons-block; @extend %c-right; }
%ss-rings { @extend %ss-symbolicons-block; @extend %c-rings; }
%ss-robot { @extend %ss-symbolicons-block; @extend %c-robot; }
%ss-rocket { @extend %ss-symbolicons-block; @extend %c-rocket; }
%ss-rotaryphone { @extend %ss-symbolicons-block; @extend %c-rotaryphone; }
%ss-rss { @extend %ss-symbolicons-block; @extend %c-rss; }
%ss-rulerpencil { @extend %ss-symbolicons-block; @extend %c-rulerpencil; }
%ss-rules { @extend %ss-symbolicons-block; @extend %c-rules; }
%ss-runner { @extend %ss-symbolicons-block; @extend %c-runner; }
%ss-safe { @extend %ss-symbolicons-block; @extend %c-safe; }
%ss-sample { @extend %ss-symbolicons-block; @extend %c-sample; }
%ss-scaledown { @extend %ss-symbolicons-block; @extend %c-scaledown; }
%ss-scaleup { @extend %ss-symbolicons-block; @extend %c-scaleup; }
%ss-scissorsneedles { @extend %ss-symbolicons-block; @extend %c-scissorsneedles; }
%ss-screwdrivermobile { @extend %ss-symbolicons-block; @extend %c-screwdrivermobile; }
%ss-screwdriverpencil { @extend %ss-symbolicons-block; @extend %c-screwdriverpencil; }
%ss-script { @extend %ss-symbolicons-block; @extend %c-script; }
%ss-search { @extend %ss-symbolicons-block; @extend %c-search-left; }
%ss-searchfile { @extend %ss-symbolicons-block; @extend %c-searchfile; }
%ss-searchpicture { @extend %ss-symbolicons-block; @extend %c-searchpicture; }
%ss-send { @extend %ss-symbolicons-block; @extend %c-send; }
%ss-settings { @extend %ss-symbolicons-block; @extend %c-settings; }
%ss-share { @extend %ss-symbolicons-block; @extend %c-share; }
%ss-sheep { @extend %ss-symbolicons-block; @extend %c-sheep; }
%ss-shoppingbag { @extend %ss-symbolicons-block; @extend %c-shoppingbag; }
%ss-shredder { @extend %ss-symbolicons-block; @extend %c-shredder; }
%ss-shuffle { @extend %ss-symbolicons-block; @extend %c-shuffle; }
%ss-signpost { @extend %ss-symbolicons-block; @extend %c-signpost; }
%ss-sixdie { @extend %ss-symbolicons-block; @extend %c-sixdie; }
%ss-skiboot { @extend %ss-symbolicons-block; @extend %c-skiboot; }
%ss-skipback { @extend %ss-symbolicons-block; @extend %c-skipback; }
%ss-skipforward { @extend %ss-symbolicons-block; @extend %c-skipforward; }
%ss-skis { @extend %ss-symbolicons-block; @extend %c-skis; }
%ss-skull { @extend %ss-symbolicons-block; @extend %c-skull; }
%ss-smile { @extend %ss-symbolicons-block; @extend %c-smile; }
%ss-soccer { @extend %ss-symbolicons-block; @extend %c-soccer; }
%ss-soda { @extend %ss-symbolicons-block; @extend %c-soda; }
%ss-spiralbound { @extend %ss-symbolicons-block; @extend %c-spiralbound; }
%ss-squarekey { @extend %ss-symbolicons-block; @extend %c-squarekey; }
%ss-stamp { @extend %ss-symbolicons-block; @extend %c-stamp; }
%ss-star { @extend %ss-symbolicons-block; @extend %c-star; }
%ss-starframe { @extend %ss-symbolicons-block; @extend %c-starframe; }
%ss-stop { @extend %ss-symbolicons-block; @extend %c-stop; }
%ss-stopscript { @extend %ss-symbolicons-block; @extend %c-stopscript; }
%ss-stopsign { @extend %ss-symbolicons-block; @extend %c-stopsign; }
%ss-stopwatch { @extend %ss-symbolicons-block; @extend %c-stopwatch; }
%ss-storagebox { @extend %ss-symbolicons-block; @extend %c-storagebox; }
%ss-store { @extend %ss-symbolicons-block; @extend %c-store; }
%ss-stroke { @extend %ss-symbolicons-block; @extend %c-stroke; }
%ss-sun { @extend %ss-symbolicons-block; @extend %c-sun; }
%ss-swaddledbaby { @extend %ss-symbolicons-block; @extend %c-swaddledbaby; }
%ss-swatch { @extend %ss-symbolicons-block; @extend %c-swatch; }
%ss-sweep { @extend %ss-symbolicons-block; @extend %c-sweep; }
%ss-switch { @extend %ss-symbolicons-block; @extend %c-switch; }
%ss-switchoff { @extend %ss-symbolicons-block; @extend %c-switchoff; }
%ss-sync { @extend %ss-symbolicons-block; @extend %c-sync; }
%ss-tablet { @extend %ss-symbolicons-block; @extend %c-tablet; }
%ss-tag { @extend %ss-symbolicons-block; @extend %c-tag; }
%ss-takeout { @extend %ss-symbolicons-block; @extend %c-takeout; }
%ss-tapemeasure { @extend %ss-symbolicons-block; @extend %c-tapemeasure; }
%ss-target { @extend %ss-symbolicons-block; @extend %c-target; }
%ss-taxi { @extend %ss-symbolicons-block; @extend %c-taxi; }
%ss-teddy { @extend %ss-symbolicons-block; @extend %c-teddy; }
%ss-tennis { @extend %ss-symbolicons-block; @extend %c-tennis; }
%ss-testtube { @extend %ss-symbolicons-block; @extend %c-testtube; }
%ss-textchat { @extend %ss-symbolicons-block; @extend %c-textchat; }
%ss-theatre { @extend %ss-symbolicons-block; @extend %c-theatre; }
%ss-thread { @extend %ss-symbolicons-block; @extend %c-thread; }
%ss-threedie { @extend %ss-symbolicons-block; @extend %c-threedie; }
%ss-thumbnails { @extend %ss-symbolicons-block; @extend %c-thumbnails; }
%ss-ticket { @extend %ss-symbolicons-block; @extend %c-ticket; }
%ss-tire { @extend %ss-symbolicons-block; @extend %c-tire; }
%ss-toggles { @extend %ss-symbolicons-block; @extend %c-toggles; }
%ss-toilet { @extend %ss-symbolicons-block; @extend %c-toilet; }
%ss-toiletpaper { @extend %ss-symbolicons-block; @extend %c-toiletpaper; }
%ss-toolbox { @extend %ss-symbolicons-block; @extend %c-toolbox; }
%ss-tools { @extend %ss-symbolicons-block; @extend %c-tools; }
%ss-tooth { @extend %ss-symbolicons-block; @extend %c-tooth; }
%ss-toothlesssmile { @extend %ss-symbolicons-block; @extend %c-toothlesssmile; }
%ss-toothsmile { @extend %ss-symbolicons-block; @extend %c-toothsmile; }
%ss-touchtonephone { @extend %ss-symbolicons-block; @extend %c-touchtonephone; }
%ss-trailer { @extend %ss-symbolicons-block; @extend %c-trailer; }
%ss-trailerdump { @extend %ss-symbolicons-block; @extend %c-trailerdump; }
%ss-train { @extend %ss-symbolicons-block; @extend %c-train; }
%ss-transfer { @extend %ss-symbolicons-block; @extend %c-transfer; }
%ss-trash { @extend %ss-symbolicons-block; @extend %c-trash; }
%ss-tree { @extend %ss-symbolicons-block; @extend %c-treeevergreen; }
%ss-treeframe { @extend %ss-symbolicons-block; @extend %c-treeframe; }
%ss-trophy { @extend %ss-symbolicons-block; @extend %c-trophy; }
%ss-truck { @extend %ss-symbolicons-block; @extend %c-truck; }
%ss-tshirt { @extend %ss-symbolicons-block; @extend %c-tshirt; }
%ss-tv { @extend %ss-symbolicons-block; @extend %c-tv; }
%ss-twodie { @extend %ss-symbolicons-block; @extend %c-twodie; }
%ss-typewriter { @extend %ss-symbolicons-block; @extend %c-typewriter; }
%ss-ufo { @extend %ss-symbolicons-block; @extend %c-ufo; }
%ss-umbrella { @extend %ss-symbolicons-block; @extend %c-umbrella; }
%ss-undo { @extend %ss-symbolicons-block; @extend %c-undo; }
%ss-unlock { @extend %ss-symbolicons-block; @extend %c-unlock; }
%ss-up { @extend %ss-symbolicons-block; @extend %c-up; }
%ss-upload { @extend %ss-symbolicons-block; @extend %c-upload-alt; }
%ss-uploadbox { @extend %ss-symbolicons-block; @extend %c-uploadbox; }
%ss-uploadcrate { @extend %ss-symbolicons-block; @extend %c-uploadcrate; }
%ss-uploadfolder { @extend %ss-symbolicons-block; @extend %c-uploadfolder; }
%ss-usb { @extend %ss-symbolicons-block; @extend %c-usb; }
%ss-user { @extend %ss-symbolicons-block; @extend %c-user; }
%ss-userframe { @extend %ss-symbolicons-block; @extend %c-userframe; }
%ss-userportrait { @extend %ss-symbolicons-block; @extend %c-userportrait; }
%ss-users { @extend %ss-symbolicons-block; @extend %c-users; }
%ss-usersframe { @extend %ss-symbolicons-block; @extend %c-usersframe; }
%ss-utensils { @extend %ss-symbolicons-block; @extend %c-utensils; }
%ss-utensilsframe { @extend %ss-symbolicons-block; @extend %c-utensilsframe; }
%ss-video { @extend %ss-symbolicons-block; @extend %c-video; }
%ss-videogame { @extend %ss-symbolicons-block; @extend %c-videogame; }
%ss-voicemail { @extend %ss-symbolicons-block; @extend %c-voicemail; }
%ss-volume { @extend %ss-symbolicons-block; @extend %c-volume; }
%ss-waningcrescentmoon { @extend %ss-symbolicons-block; @extend %c-waningcrescentmoon; }
%ss-waninggibbousmoon { @extend %ss-symbolicons-block; @extend %c-waninggibbousmoon; }
%ss-washer { @extend %ss-symbolicons-block; @extend %c-washer; }
%ss-waxingcrescentmoon { @extend %ss-symbolicons-block; @extend %c-waxingcrescentmoon; }
%ss-waxinggibbousmoon { @extend %ss-symbolicons-block; @extend %c-waxinggibbousmoon; }
%ss-weave { @extend %ss-symbolicons-block; @extend %c-weave; }
%ss-wheelchair { @extend %ss-symbolicons-block; @extend %c-wheelchair; }
%ss-wifi { @extend %ss-symbolicons-block; @extend %c-wifi; }
%ss-window { @extend %ss-symbolicons-block; @extend %c-window; }
%ss-wine { @extend %ss-symbolicons-block; @extend %c-wine; }
%ss-wineglass { @extend %ss-symbolicons-block; @extend %c-wineglass; }
%ss-wrench { @extend %ss-symbolicons-block; @extend %c-wrench; }
%ss-wrenches { @extend %ss-symbolicons-block; @extend %c-wrenches; }
%ss-wrenchpencil { @extend %ss-symbolicons-block; @extend %c-wrenchpencil; }
%ss-write { @extend %ss-symbolicons-block; @extend %c-write; }
%ss-yarn { @extend %ss-symbolicons-block; @extend %c-yarn; }
%ss-zipper { @extend %ss-symbolicons-block; @extend %c-zipper; }
%ss-zoomin { @extend %ss-symbolicons-block; @extend %c-zoomin; }
%ss-zoomout { @extend %ss-symbolicons-block; @extend %c-zoomout; }
