@font-face {
  font-family: "SSSocial-Circle";
  src: url('#{$ss-social-circle-dir}ss-social-circle.eot');
  src: url('#{$ss-social-circle-dir}ss-social-circle.eot?#iefix') format('embedded-opentype'),
       url('#{$ss-social-circle-dir}ss-social-circle.woff') format('woff'),
       url('#{$ss-social-circle-dir}ss-social-circle.ttf') format('truetype'),
       url('#{$ss-social-circle-dir}ss-social-circle.svg#SSSocialCircle') format('svg');
  font-weight: bold;
  font-style: normal;
}

%ss-social-circle {
  @extend %ss-icon;
  font-family: "SSSocial-Circle";
  font-weight: bold;
}

%ss-android-circle { @extend %ss-social-circle; @extend %c-android; }
%ss-appdotnet-circle { @extend %ss-social-circle; @extend %c-appdotnet; }
%ss-apple-circle { @extend %ss-social-circle; @extend %c-apple; }
%ss-behance-circle { @extend %ss-social-circle; @extend %c-behance; }
%ss-blackberry-circle { @extend %ss-social-circle; @extend %c-blackberry; }
%ss-blogger-circle { @extend %ss-social-circle; @extend %c-blogger; }
%ss-dribbble-circle { @extend %ss-social-circle; @extend %c-dribbble; }
%ss-dropbox-circle { @extend %ss-social-circle; @extend %c-dropbox; }
%ss-facebook-circle { @extend %ss-social-circle; @extend %c-facebook; }
%ss-fivehundredpx-circle { @extend %ss-social-circle; @extend %c-fivehundredpx; }
%ss-flickr-circle { @extend %ss-social-circle; @extend %c-flickr; }
%ss-foursquare-circle { @extend %ss-social-circle; @extend %c-foursquare; }
%ss-github-circle { @extend %ss-social-circle; @extend %c-github; }
%ss-googleplus-circle { @extend %ss-social-circle; @extend %c-googleplus; }
%ss-instagram-circle { @extend %ss-social-circle; @extend %c-instagram; }
%ss-kickstarter-circle { @extend %ss-social-circle; @extend %c-kickstarter; }
%ss-lastfm-circle { @extend %ss-social-circle; @extend %c-lastfm; }
%ss-like-circle { @extend %ss-social-circle; @extend %c-like; }
%ss-linkedin-circle { @extend %ss-social-circle; @extend %c-linkedin; }
%ss-mail-circle { @extend %ss-social-circle; @extend %c-mail; }
%ss-microsoft-circle { @extend %ss-social-circle; @extend %c-microsoft; }
%ss-octocat-circle { @extend %ss-social-circle; @extend %c-octocat; }
%ss-paypal-circle { @extend %ss-social-circle; @extend %c-paypal; }
%ss-pinboard-circle { @extend %ss-social-circle; @extend %c-pinboard; }
%ss-pinterest-circle { @extend %ss-social-circle; @extend %c-pinterest; }
%ss-posterous-circle { @extend %ss-social-circle; @extend %c-posterous; }
%ss-rdio-circle { @extend %ss-social-circle; @extend %c-rdio; }
%ss-readmill-circle { @extend %ss-social-circle; @extend %c-readmill; }
%ss-reddit-circle { @extend %ss-social-circle; @extend %c-reddit; }
%ss-rss-circle { @extend %ss-social-circle; @extend %c-rss; }
%ss-share-circle { @extend %ss-social-circle; @extend %c-share; }
%ss-skype-circle { @extend %ss-social-circle; @extend %c-skype; }
%ss-soundcloud-circle { @extend %ss-social-circle; @extend %c-soundcloud; }
%ss-spotify-circle { @extend %ss-social-circle; @extend %c-spotify; }
%ss-stackoverflow-circle { @extend %ss-social-circle; @extend %c-stackoverflow; }
%ss-svpply-circle { @extend %ss-social-circle; @extend %c-svpply; }
%ss-tumblr-circle { @extend %ss-social-circle; @extend %c-tumblr; }
%ss-twitter-circle { @extend %ss-social-circle; @extend %c-twitter; }
%ss-vimeo-circle { @extend %ss-social-circle; @extend %c-vimeo; }
%ss-windows-circle { @extend %ss-social-circle; @extend %c-windows; }
%ss-wordpress-circle { @extend %ss-social-circle; @extend %c-wordpress; }
%ss-yelp-circle { @extend %ss-social-circle; @extend %c-yelp; }
%ss-youtube-circle { @extend %ss-social-circle; @extend %c-youtube; }
%ss-zerply-circle { @extend %ss-social-circle; @extend %c-zerply; }
