@charset "UTF-8";

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*/

%ss-icon {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  // This triggers a redraw in IE to Fix IE8's :before content rendering.
  // If you're not using :before, or not supporting IE8, remove this as it can
  // potentially generate a lot of CSS.
  html:hover & {
    -ms-zoom: 1;
  }
}

// Variables
//------------------------------------------------------------------------------

$ss-standard-directory: '../fonts/ss-standard/webfonts/' !default;
$ss-social-directory: '../fonts/ss-social/webfonts/' !default;
