@charset "UTF-8";

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*/

// Variables
// Based on the structure of the Symbolset download.
//------------------------------------------------------------------------------

$ss-pika-directory: '../fonts/ss-pika/webfonts/' !default;
$ss-social-directory: '../fonts/ss-social/webfonts/' !default;
$ss-standard-directory: '../fonts/ss-standard/webfonts/' !default;
$ss-symbolicons-block-directory: '../fonts/ss-symbolicons-block/webfonts/' !default;
$ss-symbolicons-line-directory: '../fonts/ss-symbolicons-line/webfonts/' !default;


// Default styles, applied to each icon.
//------------------------------------------------------------------------------

%ss-icon {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  // -webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22.
  // Falls back to text-rendering. Safari is unaffected.
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

// This triggers a redraw in IE to Fix IE8's :before content rendering. If
// you're not using :before, or not supporting IE8, remove this as it can
// potentially generate a lot of CSS.
html:hover %ss-icon {
  -ms-zoom: 1;
}


// Characters
//------------------------------------------------------------------------------

// Duplicates (with different unicode characters across sets) to look out for.
// - apple: one is a green apple; renamed to apple-alt.
// - download: no information exists on character; renamed one to download-alt.
// - globe: one has meridians; renamed to globe-alt.
// - redirect: also same character as redo; renamed to redirect-alt.
// - search: one points left, one points right; renamed to search-left/right.
// - store: one is a convenience store; renamed to store-alt;
// - tree: one is evergreen, one is deciduous; renamed one to treeevergreen.

%c-action { content: ''; } // &#xEE00;
%c-activity { content: '📈'; } // &#x1F4C8;
%c-addcalendar { content: ''; } // &#xF070;
%c-addcart { content: ''; } // &#xE501;
%c-adddatabase { content: ''; } // &#xE7A2;
%c-addfile { content: ''; } // &#xEC01;
%c-addfolder { content: ''; } // &#xEC71;
%c-addheart { content: ''; } // &#xE1A2;
%c-address { content: ''; } // &#xE611;
%c-addressbook { content: '📑'; } // &#x1F4D1;
%c-adduser { content: ''; } // &#xE401;
%c-airplay { content: ''; } // &#xE800;
%c-alarmclock { content: '⏰'; } // &#x23F0;
%c-album { content: ''; } // &#xE970;
%c-alert { content: '⚠'; } // &#x26A0;
%c-alien { content: '👽'; } // &#x1F47D;
%c-ambulance { content: '🚑'; } // &#x1F691;
%c-analytics { content: ''; } // &#xE575;
%c-anatomicalheart { content: ''; } // &#xF4D0;
%c-anchor { content: ''; } // &#xED10;
%c-android { content: ''; } // &#xF6F3;
%c-appdotnet { content: ''; } // &#xF614;
%c-apple { content: ''; } // &#xF8FF;
%c-apple-alt { content: '🍏'; } // &#x1F34F;
%c-apron { content: ''; } // &#xF170;
%c-arrival { content: ''; } // &#xF325;
%c-atm { content: '🏧'; } // &#x1F3E7;
%c-atom { content: '⚛'; } // &#x269B;
%c-attach { content: '📎'; } // &#x1F4CE;
%c-award { content: ''; } // &#xE1C0;
%c-baby { content: '👶'; } // &#x1F476;
%c-babybottle { content: '🍼'; } // &#x1F37C;
%c-backspace { content: '⌫'; } // &#x232B;
%c-badge { content: '📛'; } // &#x1F4DB;
%c-badminton { content: ''; } // &#xF403;
%c-balloon { content: '🎈'; } // &#x1F388;
%c-balloons { content: '🎈'; } // &#x1F388;
%c-ban { content: '🚫'; } // &#x1F6AB;
%c-bandage { content: ''; } // &#xF4B2;
%c-bank { content: '🏦'; } // &#x1F3E6;
%c-bankcheck { content: ''; } // &#xE544;
%c-banknote { content: '💵'; } // &#x1F4B5;
%c-bankonline { content: ''; } // &#xEA32;
%c-barchart { content: '📊'; } // &#x1F4CA;
%c-barn { content: ''; } // &#xE604;
%c-baseball { content: '⚾'; } // &#x26BE;
%c-baseballglove { content: ''; } // &#xF404;
%c-basket { content: ''; } // &#xE510;
%c-basketball { content: '🏀'; } // &#x1F3C0;
%c-bathroomscale { content: ''; } // &#xF4B7;
%c-battery { content: '🔋'; } // &#x1F50B;
%c-batterymobile { content: ''; } // &#xEA2B;
%c-bbq { content: ''; } // &#xF142;
%c-bbqapron { content: ''; } // &#xF171;
%c-bearface { content: '🐻'; } // &#x1F43B;
%c-beer { content: '🍺'; } // &#x1F37A;
%c-behance { content: ''; } // &#xF661;
%c-bezier { content: ''; } // &#xE2A0;
%c-bike { content: '🚲'; } // &#x1F6B2;
%c-bill { content: ''; } // &#xE550;
%c-billiards { content: '🎱'; } // &#x1F3B1;
%c-binoculars { content: ''; } // &#xE010;
%c-bird { content: '🐦'; } // &#x1F426;
%c-birthdaycake { content: '🎂'; } // &#x1F382;
%c-blackberry { content: ''; } // &#xF6F4;
%c-blocks { content: ''; } // &#xEAA1;
%c-blogger { content: ''; } // &#xF622;
%c-boat { content: '🚢'; } // &#x1F6A2;
%c-bone { content: ''; } // &#xEF60;
%c-bonfire { content: ''; } // &#xEAB3;
%c-book { content: '📕'; } // &#x1F4D5;
%c-bookinsert { content: ''; } // &#xE961;
%c-bookmark { content: '🔖'; } // &#x1F516;
%c-books { content: '📚'; } // &#x1F4DA;
%c-bookspencil { content: ''; } // &#xE960;
%c-bottle { content: ''; } // &#xF122;
%c-bowling { content: ''; } // &#xF406;
%c-box { content: '📦'; } // &#x1F4E6;
%c-boxing { content: ''; } // &#xF405;
%c-bridge { content: ''; } // &#xE603;
%c-briefcase { content: '💼'; } // &#x1F4BC;
%c-brightness { content: '🔆'; } // &#x1F506;
%c-brokenbone { content: ''; } // &#xF4E1;
%c-browseonline { content: ''; } // &#xEA30;
%c-brush { content: ''; } // &#xE224;
%c-brushmobile { content: ''; } // &#xEA21;
%c-bug { content: '🐛'; } // &#x1F41B;
%c-building { content: '🏢'; } // &#x1F3E2;
%c-buildings { content: '🏢'; } // &#x1F3E2;
%c-bullseye { content: '🎯'; } // &#x1F3AF;
%c-burger { content: '🍔'; } // &#x1F354;
%c-bus { content: '🚍'; } // &#x1F68D;
%c-businessuser { content: ''; } // &#xE407;
%c-button { content: ''; } // &#xF1F8;
%c-calculator { content: ''; } // &#xE551;
%c-calendar { content: '📅'; } // &#x1F4C5;
%c-callbell { content: ''; } // &#xF424;
%c-camera { content: '📷'; } // &#x1F4F7;
%c-campfire { content: '🔥'; } // &#x1F525;
%c-candle { content: ''; } // &#xEAB0;
%c-car { content: '🚘'; } // &#x1F698;
%c-caravan { content: '🚐'; } // &#x1F690;
%c-cargoship { content: ''; } // &#xE5E3;
%c-carrepair { content: ''; } // &#xF300;
%c-carrot { content: ''; } // &#xF111;
%c-cart { content: ''; } // &#xE500;
%c-cashregister { content: ''; } // &#xE530;
%c-catface { content: '🐱'; } // &#x1F431;
%c-caution { content: '⛔'; } // &#x26D4;
%c-cell { content: '📱'; } // &#x1F4F1;
%c-cellbars { content: '📶'; } // &#x1F4F6;
%c-cfl { content: ''; } // &#xEA85;
%c-chargingbattery { content: ''; } // &#xEA14;
%c-chat { content: '💬'; } // &#x1F4AC;
%c-chats { content: ''; } // &#xE390;
%c-check { content: '✓'; } // &#x2713;
%c-checkcalendar { content: ''; } // &#xF072;
%c-checkclipboard { content: ''; } // &#xE2B3;
%c-checkheart { content: ''; } // &#xF4D1;
%c-cheese { content: ''; } // &#xF101;
%c-chef { content: ''; } // &#xF172;
%c-chess { content: '♞'; } // &#x265E;
%c-christmastree { content: '🎄'; } // &#x1F384;
%c-clapboard { content: '🎬'; } // &#x1F3AC;
%c-clipboard { content: '📋'; } // &#x1F4CB;
%c-clock { content: '⏲'; } // &#x23F2;
%c-clockwise { content: '⥁'; } // &#x2941;
%c-cloud { content: '☁'; } // &#x2601;
%c-cloudfolder { content: ''; } // &#xEC80;
%c-coal { content: ''; } // &#xF136;
%c-cocktail { content: '🍸'; } // &#x1F378;
%c-coffee { content: ''; } // &#xF120;
%c-coins { content: ''; } // &#xE543;
%c-colander { content: ''; } // &#xF163;
%c-columns { content: ''; } // &#xE9A2;
%c-compass { content: ''; } // &#xE671;
%c-compassarrow { content: ''; } // &#xE681;
%c-compassnavigate { content: ''; } // &#xE680;
%c-compose { content: '📝'; } // &#x1F4DD;
%c-connection { content: ''; } // &#xEB85;
%c-contacts { content: '📇'; } // &#x1F4C7;
%c-containers { content: ''; } // &#xE5E6;
%c-contract { content: ''; } // &#xEE01;
%c-cook { content: '🍳'; } // &#x1F373;
%c-cookingutensils { content: ''; } // &#xF151;
%c-corn { content: ''; } // &#xF110;
%c-crate { content: ''; } // &#xE5D8;
%c-crayons { content: ''; } // &#xE242;
%c-creditcard { content: '💳'; } // &#x1F4B3;
%c-crescentmoon { content: '🌙'; } // &#x1F319;
%c-crochet { content: ''; } // &#xF1F5;
%c-crop { content: ''; } // &#xE201;
%c-crosshair { content: '⌖'; } // &#x2316;
%c-crown { content: '👑'; } // &#x1F451;
%c-cup { content: ''; } // &#xF125;
%c-cursor { content: ''; } // &#xE001;
%c-cut { content: '✂'; } // &#x2702;
%c-cutpaste { content: ''; } // &#xE204;
%c-dashboard { content: ''; } // &#xF000;
%c-database { content: ''; } // &#xE7A0;
%c-delete { content: '␡'; } // &#x2421;
%c-deletecalendar { content: ''; } // &#xF073;
%c-deletecart { content: ''; } // &#xE504;
%c-deletedatabase { content: ''; } // &#xE7A5;
%c-deletefile { content: ''; } // &#xEC04;
%c-deletefolder { content: ''; } // &#xEC74;
%c-deleteheart { content: '💔'; } // &#x1F494;
%c-deleteuser { content: ''; } // &#xE404;
%c-deliverytruck { content: ''; } // &#xE5E1;
%c-deliveryvan { content: ''; } // &#xE5E0;
%c-departure { content: ''; } // &#xF324;
%c-desktop { content: '💻'; } // &#x1F4BB;
%c-dial { content: ''; } // &#xF004;
%c-diaper { content: ''; } // &#xEAA3;
%c-digitalsafe { content: ''; } // &#xE541;
%c-directleft { content: '◃'; } // &#x25C3;
%c-directright { content: '▹'; } // &#x25B9;
%c-directup { content: '▴'; } // &#x25B4;
%c-disc { content: '💿'; } // &#x1F4BF;
%c-discs { content: ''; } // &#xE811;
%c-dislike { content: '👎'; } // &#x1F44E;
%c-dispensecash { content: ''; } // &#xE542;
%c-dna { content: ''; } // &#xF4C2;
%c-doc { content: ''; } // &#xEC32;
%c-dog { content: '🐕'; } // &#x1F415;
%c-dogface { content: '🐶'; } // &#x1F436;
%c-dollarmobile { content: ''; } // &#xEA27;
%c-dollarsign { content: '💲'; } // &#x1F4B2;
%c-donotdisturb { content: ''; } // &#xE422;
%c-door { content: '🚪'; } // &#x1F6AA;
%c-down { content: '⬇'; } // &#x2B07;
%c-downleft { content: '⬋'; } // &#x2B0B;
%c-download { content: ''; } // &#xEB00;
%c-download-alt { content: ''; } // &#xEB01;
%c-downloadbook { content: ''; } // &#xE963;
%c-downloadbox { content: ''; } // &#xEB02;
%c-downloadcart { content: ''; } // &#xE505;
%c-downloadcloud { content: ''; } // &#xEB00;
%c-downloadcrate { content: ''; } // &#xEB03;
%c-downloadfile { content: ''; } // &#xEC06;
%c-downloadfolder { content: ''; } // &#xEC76;
%c-downloadhdd { content: ''; } // &#xE7B7;
%c-downright { content: '⬊'; } // &#x2B0A;
%c-downwardsbarchart { content: ''; } // &#xE573;
%c-downwardslinechart { content: '📉'; } // &#x1F4C9;
%c-draw { content: '✏'; } // &#x270F;
%c-dribbble { content: ''; } // &#xF660;
%c-dropbox { content: ''; } // &#xF653;
%c-dropdown { content: '▾'; } // &#x25BE;
%c-droplet { content: '💧'; } // &#x1F4A7;
%c-dryer { content: ''; } // &#xEA81;
%c-dumbbell { content: ''; } // &#xF416;
%c-earth { content: '🌎'; } // &#x1F30E;
%c-easteregg { content: ''; } // &#xEAE0;
%c-ebook { content: ''; } // &#xEA05;
%c-effects { content: ''; } // &#xE280;
%c-egg { content: ''; } // &#xF100;
%c-eggtimer { content: ''; } // &#xF165;
%c-eighthnote { content: '♪'; } // &#x266A;
%c-eject { content: '⏏'; } // &#x23CF;
%c-elevator { content: ''; } // &#xF380;
%c-ellipsis { content: '…'; } // &#x2026;
%c-ellipsischat { content: ''; } // &#xE399;
%c-emptybattery { content: ''; } // &#xEA13;
%c-emptycart { content: ''; } // &#xE507;
%c-emptyheart { content: '♡'; } // &#x2661;
%c-erase { content: '✐'; } // &#x2710;
%c-ereader { content: ''; } // &#xEA04;
%c-euromobile { content: ''; } // &#xEA28;
%c-evergreen { content: '🌲'; } // &#x1F332;
%c-exclamationchat { content: ''; } // &#xE397;
%c-exe { content: ''; } // &#xEC30;
%c-exercise { content: ''; } // &#xF414;
%c-exercisebike { content: ''; } // &#xF415;
%c-expand { content: '⤢'; } // &#x2922;
%c-exportfile { content: ''; } // &#xEC09;
%c-eyesurgery { content: ''; } // &#xF4E0;
%c-fabric { content: ''; } // &#xF1F0;
%c-facebook { content: ''; } // &#xF610;
%c-facetime { content: ''; } // &#xE320;
%c-fan { content: ''; } // &#xF280;
%c-fastforward { content: '⏩'; } // &#x23E9;
%c-fax { content: '📠'; } // &#x1F4E0;
%c-feather { content: ''; } // &#xE220;
%c-females { content: '👭'; } // &#x1F46D;
%c-femaleuser { content: '👧'; } // &#x1F467;
%c-fence { content: ''; } // &#xE601;
%c-file { content: '📄'; } // &#x1F4C4;
%c-filecabinet { content: ''; } // &#xE900;
%c-files { content: ''; } // &#xEC00;
%c-fill { content: ''; } // &#xE240;
%c-film { content: ''; } // &#xE8B0;
%c-filter { content: ''; } // &#xE9B0;
%c-fireplace { content: ''; } // &#xEA82;
%c-firewall { content: ''; } // &#xE720;
%c-firstquartermoon { content: '🌓'; } // &#x1F313;
%c-fish { content: '🐟'; } // &#x1F41F;
%c-fishes { content: ''; } // &#xEF20;
%c-fivedie { content: '⚄'; } // &#x2684;
%c-fivehundredpx { content: ''; } // &#xF642;
%c-flag { content: '⚑'; } // &#x2691;
%c-flaginhole { content: '⛳'; } // &#x26F3;
%c-flame { content: ''; } // &#xEAB2;
%c-flash { content: '⌁'; } // &#x2301;
%c-flashlight { content: '🔦'; } // &#x1F526;
%c-flashoff { content: ''; } // &#xF011;
%c-flask { content: ''; } // &#xF4C0;
%c-flatscreen { content: ''; } // &#xE8C0;
%c-flickr { content: ''; } // &#xF640;
%c-fliphorizontally { content: ''; } // &#xE260;
%c-flipvertically { content: ''; } // &#xE261;
%c-floorplan { content: ''; } // &#xE610;
%c-floppydisk { content: '💾'; } // &#x1F4BE;
%c-flowchart { content: ''; } // &#xE577;
%c-flower { content: '⚘'; } // &#x2698;
%c-flowerframe { content: ''; } // &#xEA93;
%c-flowertag { content: ''; } // &#xE103;
%c-fluxcapacitor { content: ''; } // &#xEAD0;
%c-fog { content: ''; } // &#xF211;
%c-folder { content: '📁'; } // &#x1F4C1;
%c-font { content: ''; } // &#xED01;
%c-football { content: '🏈'; } // &#x1F3C8;
%c-footsteps { content: '👣'; } // &#x1F463;
%c-fork { content: ''; } // &#xEB80;
%c-forklift { content: ''; } // &#xE5E2;
%c-form { content: ''; } // &#xE582;
%c-fourdie { content: '⚃'; } // &#x2683;
%c-foursquare { content: ''; } // &#xF690;
%c-fragile { content: ''; } // &#xE5E7;
%c-frame { content: ''; } // &#xEA90;
%c-frenchfries { content: '🍟'; } // &#x1F35F;
%c-frown { content: '☹'; } // &#x2639;
%c-fuel { content: '⛽'; } // &#x26FD;
%c-fullmoon { content: '🌕'; } // &#x1F315;
%c-fuzzydice { content: ''; } // &#xEA87;
%c-garage { content: ''; } // &#xE600;
%c-gavel { content: '🔨'; } // &#x1F528;
%c-ghost { content: '👻'; } // &#x1F47B;
%c-gift { content: '🎁'; } // &#x1F381;
%c-github { content: ''; } // &#xF670;
%c-globe { content: '🌎'; } // &#x1F30E;
%c-globe-alt { content: '🌐'; } // &#x1F310;
%c-globelocation { content: ''; } // &#xE6D2;
%c-golf { content: ''; } // &#xF400;
%c-googleplus { content: ''; } // &#xF613;
%c-gps { content: ''; } // &#xE674;
%c-graduationcap { content: '🎓'; } // &#x1F393;
%c-grass { content: ''; } // &#xEF70;
%c-grid { content: ''; } // &#xE9A0;
%c-gridlines { content: ''; } // &#xE206;
%c-growler { content: ''; } // &#xF121;
%c-hairdryer { content: ''; } // &#xEA88;
%c-halfheart { content: ''; } // &#xE1A0;
%c-halfstar { content: ''; } // &#xE1A1;
%c-hammerscrewdriver { content: ''; } // &#xF035;
%c-handbag { content: '👜'; } // &#x1F45C;
%c-hanger { content: ''; } // &#xF1A0;
%c-happyrobot { content: ''; } // &#xE441;
%c-hdd { content: ''; } // &#xE7B0;
%c-headphones { content: '🎧'; } // &#x1F3A7;
%c-headset { content: ''; } // &#xE302;
%c-headstone { content: '⛼'; } // &#x26FC;
%c-heart { content: '♥'; } // &#x2665;
%c-heartbook { content: ''; } // &#xE962;
%c-heartframe { content: '💟'; } // &#x1F49F;
%c-heartmobile { content: ''; } // &#xEA23;
%c-heartuser { content: ''; } // &#xE405;
%c-heavyasterisk { content: '✱'; } // &#x2731;
%c-helicopter { content: '🚁'; } // &#x1F681;
%c-help { content: '❓'; } // &#x2753;
%c-highbattery { content: ''; } // &#xEA10;
%c-highlight { content: ''; } // &#xED11;
%c-highvolume { content: '🔊'; } // &#x1F50A;
%c-highway { content: ''; } // &#xF320;
%c-hiker { content: ''; } // &#xF410;
%c-hockey { content: ''; } // &#xF401;
%c-home { content: '⌂'; } // &#x2302;
%c-hook { content: ''; } // &#xE5E4;
%c-horizontalbarchart { content: ''; } // &#xE574;
%c-hospital { content: '⛨'; } // &#x26E8;
%c-hotdog { content: ''; } // &#xF102;
%c-hotsauce { content: ''; } // &#xF133;
%c-hottub { content: ''; } // &#xF411;
%c-hourglass { content: '⏳'; } // &#x23F3;
%c-housesale { content: ''; } // &#xE613;
%c-hyphen { content: '-'; } // &#x002D;
%c-icecream { content: '🍨'; } // &#x1F368;
%c-iceskate { content: '⛸'; } // &#x26F8;
%c-importfile { content: ''; } // &#xEC08;
%c-inbox { content: '📥'; } // &#x1F4E5;
%c-incomingmail { content: '📩'; } // &#x1F4E9;
%c-index { content: ''; } // &#xE902;
%c-info { content: 'ℹ'; } // &#x2139;
%c-instagram { content: ''; } // &#xF641;
%c-intersection { content: ''; } // &#xF322;
%c-itunes { content: ''; } // &#xE822;
%c-jackolantern { content: '🎃'; } // &#x1F383;
%c-jerrycan { content: ''; } // &#xF315;
%c-jpg { content: ''; } // &#xEC35;
%c-jug { content: ''; } // &#xF126;
%c-jumprope { content: ''; } // &#xF417;
%c-key { content: '🔑'; } // &#x1F511;
%c-keyboarddown { content: ''; } // &#xF0D1;
%c-keyboardup { content: ''; } // &#xF0D0;
%c-kickstarter { content: ''; } // &#xF681;
%c-knife { content: '🔪'; } // &#x1F52A;
%c-laptop { content: ''; } // &#xEA00;
%c-lastfm { content: ''; } // &#xF6B2;
%c-lastquartermoon { content: '🌗'; } // &#x1F317;
%c-layers { content: ''; } // &#xE202;
%c-layout { content: ''; } // &#xEDA0;
%c-leaf { content: '🍂'; } // &#x1F342;
%c-ledger { content: '📒'; } // &#x1F4D2;
%c-left { content: '⬅'; } // &#x2B05;
%c-leftright { content: '⬌'; } // &#x2B0C;
%c-leftward { content: ''; } // &#xF505;
%c-lifepreserver { content: ''; } // &#xEE11;
%c-lightbulb { content: '💡'; } // &#x1F4A1;
%c-lightbulbon { content: ''; } // &#xEA83;
%c-lightning { content: '☇'; } // &#x2607;
%c-like { content: '👍'; } // &#x1F44D;
%c-linechartclipboard { content: ''; } // &#xE2B5;
%c-linecharts { content: ''; } // &#xE576;
%c-link { content: '🔗'; } // &#x1F517;
%c-linkedin { content: ''; } // &#xF612;
%c-list { content: ''; } // &#xED50;
%c-loading { content: ''; } // &#xEB83;
%c-location { content: ''; } // &#xE6D0;
%c-lock { content: '🔒'; } // &#x1F512;
%c-lockfile { content: ''; } // &#xEC11;
%c-lockfolder { content: ''; } // &#xEC81;
%c-lockmobile { content: ''; } // &#xEA25;
%c-locomotive { content: '🚂'; } // &#x1F682;
%c-lodging { content: '🏨'; } // &#x1F3E8;
%c-login { content: ''; } // &#xEE03;
%c-logout { content: ''; } // &#xEE02;
%c-lowbattery { content: ''; } // &#xEA12;
%c-lowvolume { content: '🔉'; } // &#x1F509;
%c-luggage { content: ''; } // &#xE421;
%c-magicwand { content: ''; } // &#xE203;
%c-mail { content: '✉'; } // &#x2709;
%c-mailbox { content: '📫'; } // &#x1F4EB;
%c-malefemale { content: '👫'; } // &#x1F46B;
%c-males { content: '👬'; } // &#x1F46C;
%c-map { content: ''; } // &#xE673;
%c-maplocation { content: ''; } // &#xE6D1;
%c-measuringcup { content: ''; } // &#xF162;
%c-medal { content: ''; } // &#xE1C1;
%c-medicalbag { content: ''; } // &#xF4B1;
%c-medicalcross { content: ''; } // &#xF4B0;
%c-medicalthermometer { content: ''; } // &#xF4B3;
%c-mediumbattery { content: ''; } // &#xEA11;
%c-meeting { content: ''; } // &#xE581;
%c-megaphone { content: '📢'; } // &#x1F4E2;
%c-menorah { content: ''; } // &#xEAE1;
%c-merge { content: ''; } // &#xEB81;
%c-mic { content: '🎤'; } // &#x1F3A4;
%c-microsoft { content: ''; } // &#xF6F1;
%c-moneybag { content: '💰'; } // &#x1F4B0;
%c-motorcycle { content: ''; } // &#xF303;
%c-move { content: ''; } // &#xE070;
%c-moviefolder { content: ''; } // &#xEC88;
%c-mug { content: '☕'; } // &#x2615;
%c-music { content: '♫'; } // &#x266B;
%c-musichome { content: ''; } // &#xE821;
%c-musicopenbook { content: ''; } // &#xE966;
%c-navigate { content: ''; } // &#xE670;
%c-navigatedown { content: ''; } // &#xF501;
%c-navigateleft { content: '◅'; } // &#x25C5;
%c-navigateright { content: '▻'; } // &#x25BB;
%c-navigateup { content: ''; } // &#xF500;
%c-navigationmobile { content: ''; } // &#xEA2A;
%c-needles { content: ''; } // &#xF1F6;
%c-networkhdd { content: ''; } // &#xE7B6;
%c-new { content: '🆕'; } // &#x1F195;
%c-newmoon { content: '🌑'; } // &#x1F311;
%c-newspaper { content: '📰'; } // &#x1F4F0;
%c-newtag { content: ''; } // &#xE101;
%c-nextpage { content: '⎘'; } // &#x2398;
%c-noodles { content: '🍜'; } // &#x1F35C;
%c-nosmoking { content: '🚭'; } // &#x1F6AD;
%c-notebook { content: '📓'; } // &#x1F4D3;
%c-notepad { content: ''; } // &#xE972;
%c-notice { content: ''; } // &#xE973;
%c-notifications { content: '🔔'; } // &#x1F514;
%c-notificationsdisabled { content: '🔕'; } // &#x1F515;
%c-octocat { content: ''; } // &#xF671;
%c-oliveoil { content: ''; } // &#xF132;
%c-onedie { content: '⚀'; } // &#x2680;
%c-openbook { content: '📖'; } // &#x1F4D6;
%c-openfolder { content: '📂'; } // &#x1F4C2;
%c-outbox { content: '📤'; } // &#x1F4E4;
%c-outlet { content: ''; } // &#xF282;
%c-oven { content: ''; } // &#xF140;
%c-paddles { content: ''; } // &#xF407;
%c-page { content: ''; } // &#xE903;
%c-pagecurl { content: ''; } // &#xE9B0;
%c-pailshovel { content: ''; } // &#xEAA4;
%c-paintroller { content: ''; } // &#xE225;
%c-palette { content: '🎨'; } // &#x1F3A8;
%c-palmtree { content: '🌴'; } // &#x1F334;
%c-pancakes { content: ''; } // &#xF113;
%c-paperbag { content: ''; } // &#xF161;
%c-parking { content: ''; } // &#xF312;
%c-partlycloudy { content: '⛅'; } // &#x26C5;
%c-passport { content: ''; } // &#xF316;
%c-pause { content: ''; } // &#xE8A0;
%c-paypal { content: ''; } // &#xF680;
%c-pdf { content: ''; } // &#xEC34;
%c-pen { content: '✒'; } // &#x2712;
%c-pencilbrush { content: ''; } // &#xE222;
%c-pencilbrushpen { content: ''; } // &#xE223;
%c-pencilmobile { content: ''; } // &#xEA22;
%c-pepper { content:''; } // &#xF131;
%c-percent { content: '%'; } // &#x0025;
%c-phone { content: '📞'; } // &#x1F4DE;
%c-phonebook { content: ''; } // &#xE301;
%c-phonedisabled { content: ''; } // &#xE300;
%c-phonemobile { content: ''; } // &#xEA24;
%c-phonograph { content: ''; } // &#xE802;
%c-picnictable { content: ''; } // &#xEAB1;
%c-picture { content: '🌄'; } // &#x1F304;
%c-picturefile { content: ''; } // &#xEC17;
%c-picturefolder { content: ''; } // &#xEC87;
%c-pictures { content: ''; } // &#xE851;
%c-piechart { content: ''; } // &#xE570;
%c-piechartthirds { content: ''; } // &#xE571;
%c-pig { content: '🐖'; } // &#x1F416;
%c-piggybank { content: ''; } // &#xE545;
%c-pill { content: '💊'; } // &#x1F48A;
%c-pillbottle { content: ''; } // &#xF4B5;
%c-pin { content: '📍'; } // &#x1F4CD;
%c-pinboard { content: ''; } // &#xF654;
%c-pinterest { content: ''; } // &#xF650;
%c-pixels { content: ''; } // &#xE2A1;
%c-pizza { content: '🍕'; } // &#x1F355;
%c-plane { content: '✈'; } // &#x2708;
%c-platter { content: ''; } // &#xF166;
%c-play { content: '▶'; } // &#x25B6;
%c-playfilm { content: ''; } // &#xE8B1;
%c-playlist { content: ''; } // &#xE820;
%c-playscript { content: ''; } // &#xE701;
%c-playvideo { content: ''; } // &#xE8A1;
%c-plug { content:'🔌'; } // &#x1F50C;
%c-plus { content: '+'; } // &#x002B;
%c-png { content: ''; } // &#xEC36;
%c-podcast { content: ''; } // &#xE311;
%c-pool { content: ''; } // &#xE412;
%c-posterous { content: ''; } // &#xF623;
%c-power { content: ''; } // &#xEE10;
%c-powermobile { content: ''; } // &#xEA2C;
%c-ppt { content: ''; } // &#xEC33;
%c-previouspage { content: '⎗'; } // &#x2397;
%c-pricetag { content: ''; } // &#xE102;
%c-print { content: '⎙'; } // &#x2399;
%c-projector { content: ''; } // &#xE8C1;
%c-pushpin { content: '📌'; } // &#x1F4CC;
%c-puzzle { content: ''; } // &#xE710;
%c-questionchat { content: ''; } // &#xE398;
%c-questionframe { content: ''; } // &#xEA94;
%c-quote { content: '“'; } // &#x201C;
%c-radio { content: '📻'; } // &#x1F4FB;
%c-radioactive { content: '☢'; } // &#x2622;
%c-rain { content: '☔'; } // &#x2614;
%c-rainbow { content: '🌈'; } // &#x1F308;
%c-raisedhand { content: '✋'; } // &#x270B;
%c-rattle { content: ''; } // &#xEAA2;
%c-rdio { content: ''; } // &#xF6B0;
%c-readmill { content: ''; } // &#xF652;
%c-readonline { content: ''; } // &#xEA34;
%c-realtyonline { content: ''; } // &#xEA33;
%c-record { content: '●'; } // &#x25CF;
%c-recordscript { content: ''; } // &#xE703;
%c-reddit { content: ''; } // &#xF616;
%c-redirect { content: '↪'; } // &#x21AA;
%c-redirect-alt { content: '↗'; } // &#x2197;
%c-redo { content: '↪'; } // &#x21AA;
%c-refresh { content: '↻'; } // &#x21BB;
%c-reload { content: ''; } // &#xEB87;
%c-removecalendar { content: ''; } // &#xF071;
%c-removecart { content: ''; } // &#xE502;
%c-removefile { content: ''; } // &#xEC02;
%c-removefolder { content: ''; } // &#xEC72;
%c-removeuser { content: ''; } // &#xE402;
%c-repeat { content: '🔁'; } // &#x1F501;
%c-replay { content: '↺'; } // &#x21BA;
%c-reply { content: '↩'; } // &#x21A9;
%c-restroom { content: '🚻'; } // &#x1F6BB;
%c-retweet { content: ''; } // &#xF600;
%c-rewind { content: '⏪'; } // &#x23EA;
%c-ribbon { content: '🎀'; } // &#x1F380;
%c-right { content: '➡'; } // &#x27A1;
%c-rightward { content: ''; } // &#xF503;
%c-rings { content: '💍'; } // &#x1F48D;
%c-road { content: ''; } // &#xF321;
%c-robot { content: ''; } // &#xE440;
%c-rocket { content: '🚀'; } // &#x1F680;
%c-rotaryphone { content: '☎'; } // &#x260E;
%c-rows { content: ''; } // &#xE9A1;
%c-rss { content: ''; } // &#xE310;
%c-rssmobile { content: ''; } // &#xEA29;
%c-rubbereraser { content: ''; } // &#xE221;
%c-rubberstamp { content: ''; } // &#xE226;
%c-rulerpencil { content: ''; } // &#xE205;
%c-rules { content: '📏'; } // &#x1F4CF;
%c-runner { content: '🏃'; } // &#x1F3C3;
%c-safe { content: ''; } // &#xE540;
%c-sailboat { content: '⛵'; } // &#x26F5;
%c-salt { content: ''; } // &#xF130;
%c-sample { content: ''; } // &#xE200;
%c-sausage { content: ''; } // &#xF103;
%c-scale { content: ''; } // &#xF164;
%c-scaledown { content: ''; } // &#xEE05;
%c-scales { content: '⚖'; } // &#x2696;
%c-scaleup { content: ''; } // &#xEE04;
%c-scatterchart { content: ''; } // &#xE578;
%c-schooner { content: ''; } // &#xF305;
%c-scissorsneedles { content: ''; } // &#xF1F7;
%c-screenshot { content: ''; } // &#xE004;
%c-screwdrivermobile { content: ''; } // &#xEA20;
%c-screwdriverpencil { content: ''; } // &#xF034;
%c-script { content: ''; } // &#xE700;
%c-search-left { content: '🔍'; } // &#x1F50D;
%c-search-right { content: '🔎'; } // &#x1F50E;
%c-searchbarcode { content: ''; } // &#xE531;
%c-searchbook { content: ''; } // &#xE967;
%c-searchfile { content: ''; } // &#xEC05;
%c-searchhouse { content: ''; } // &#xE612;
%c-searchpicture { content: ''; } // &#xE856;
%c-securefolder { content: ''; } // &#xEC83;
%c-seedling { content: '🌱'; } // &#x1F331;
%c-send { content: ''; } // &#xE350;
%c-settings { content: '⚙'; } // &#x2699;
%c-settingsfile { content: ''; } // &#xEC0A;
%c-share { content: ''; } // &#xF601;
%c-sheep { content: '🐑'; } // &#x1F411;
%c-shoponline { content: ''; } // &#xEA31;
%c-shoppingbag { content: ''; } // &#xE520;
%c-shower { content: '🚿'; } // &#x1F6BF;
%c-shredder { content: ''; } // &#xED40;
%c-shrimp { content: '🍤'; } // &#x1F364;
%c-shuffle { content: '🔀'; } // &#x1F500;
%c-sidedish { content: '🍚'; } // &#x1F35A;
%c-signpost { content: ''; } // &#xE672;
%c-sixdie { content: '⚅'; } // &#x2685;
%c-skiboot { content: ''; } // &#xF408;
%c-skipback { content: '⏮'; } // &#x23EE;
%c-skipforward { content: '⏭'; } // &#x23ED;
%c-skis { content: '🎿'; } // &#x1F3BF;
%c-skull { content: '💀'; } // &#x1F480;
%c-skylift { content: '🚡'; } // &#x1F6A1;
%c-skype { content: ''; } // &#xF6A0;
%c-smartphone { content: ''; } // &#xEA02;
%c-smile { content: '☻'; } // &#x263B;
%c-snowflake { content: '❄'; } // &#x2744;
%c-soccer { content: '⚽'; } // &#x26BD;
%c-soda { content: ''; } // &#xF124;
%c-solarpanel { content: ''; } // &#xF281;
%c-soundcloud { content: ''; } // &#xF6B3;
%c-spaghetti { content: '🍝'; } // &#x1F35D;
%c-spiralbound { content: ''; } // &#xE971;
%c-spoonfork { content: ''; } // &#xF150;
%c-spotify { content: ''; } // &#xF6B1;
%c-squarekey { content: ''; } // &#xF310;
%c-stackoverflow { content: ''; } // &#xF672;
%c-stamp { content: ''; } // &#xE351;
%c-star { content: '⋆'; } // &#x22C6;
%c-starframe { content: ''; } // &#xEA91;
%c-steak { content: ''; } // &#xF106;
%c-steeringwheel { content: ''; } // &#xF313;
%c-stereo { content: ''; } // &#xE801;
%c-stethoscope { content: ''; } // &#xF4B4;
%c-stock { content: ''; } // &#xE579;
%c-stop { content: '■'; } // &#x25A0;
%c-stopscript { content: ''; } // &#xE702;
%c-stopsign { content: ''; } // &#xE0D1;
%c-stopwatch { content: '⏱'; } // &#x23F1;
%c-storagebox { content: ''; } // &#xE901;
%c-store { content: '🏪'; } // &#x1F3EA;
%c-store-alt { content: '🏬'; } // &#x1F3EC;
%c-stove { content: ''; } // &#xF141;
%c-stroke { content: ''; } // &#xE241;
%c-suitcase { content: ''; } // &#xE420;
%c-sun { content: '☀'; } // &#x2600;
%c-sunscreen { content: ''; } // &#xF423;
%c-supplements { content: ''; } // &#xF4B6;
%c-svpply { content: ''; } // &#xF651;
%c-swaddledbaby { content: ''; } // &#xE430;
%c-swatch { content: ''; } // &#xF1F1;
%c-sweep { content: ''; } // &#xEA86;
%c-switch { content: ''; } // &#xF002;
%c-switchoff { content: ''; } // &#xF003;
%c-sync { content: ''; } // &#xEB82;
%c-syringe { content: '💉'; } // &#x1F489;
%c-tablet { content: ''; } // &#xEA01;
%c-tabletennis { content: ''; } // &#xF402;
%c-tag { content: ''; } // &#xE100;
%c-takeout { content: ''; } // &#xF160;
%c-tapemeasure { content: ''; } // &#xF036;
%c-target { content: '◎'; } // &#x25CE;
%c-taxi { content: '🚖'; } // &#x1F696;
%c-tea { content: '🍵'; } // &#x1F375;
%c-teapot { content: ''; } // &#xF127;
%c-teddy { content: ''; } // &#xEAA0;
%c-tennis { content: '🎾'; } // &#x1F3BE;
%c-testtube { content: ''; } // &#xF4C1;
%c-text { content: ''; } // &#xED00;
%c-textchat { content: ''; } // &#xE396;
%c-textfile { content: ''; } // &#xEC19;
%c-textmobile { content: ''; } // &#xEA26;
%c-theatre { content: '🎭'; } // &#x1F3AD;
%c-thermometer { content: ''; } // &#xF201;
%c-thissideup { content: ''; } // &#xE5E8;
%c-thread { content: ''; } // &#xF1F3;
%c-threedie { content: '⚂'; } // &#x2682;
%c-thumbnails { content: ''; } // &#xE9A3;
%c-thunderstorm { content: '⛈'; } // &#x26C8;
%c-ticket { content: '🎫'; } // &#x1F3AB;
%c-tip { content: ''; } // &#xE546;
%c-tire { content: ''; } // &#xF311;
%c-toggles { content: ''; } // &#xF001;
%c-toilet { content: '🚽'; } // &#x1F6BD;
%c-toiletpaper { content: ''; } // &#xEA84;
%c-toolbox { content: ''; } // &#xF030;
%c-tools { content: ''; } // &#xF031;
%c-tooth { content: ''; } // &#xEF61;
%c-toothlesssmile { content: '😀'; } // &#x1F600;
%c-toothsmile { content: '😃'; } // &#x1F603;
%c-tornado { content: ''; } // &#xF213;
%c-touchtonephone { content: '☏'; } // &#x260F;
%c-tractor { content: '🚜'; } // &#x1F69C;
%c-trafficcamera { content: ''; } // &#xF314;
%c-trafficlight { content: '🚦'; } // &#x1F6A6;
%c-trailer { content: ''; } // &#xF301;
%c-trailerdump { content: ''; } // &#xF302;
%c-train { content: '🚆'; } // &#x1F686;
%c-traintunnel { content: '🚇'; } // &#x1F687;
%c-transfer { content: '⇆'; } // &#x21C6;
%c-trash { content: ''; } // &#xE0D0;
%c-treeevergreen { content: '🌲'; } // &#x1F332;
%c-tree { content: '🌳'; } // &#x1F333;
%c-treeframe { content: ''; } // &#xEA92;
%c-trophy { content: '🏆'; } // &#x1F3C6;
%c-tropicalfish { content: ''; } // &#xEF21;
%c-truck { content: '🚚'; } // &#x1F69A;
%c-tshirt { content: '👕'; } // &#x1F455;
%c-tumblr { content: ''; } // &#xF620;
%c-tunnel { content: ''; } // &#xF323;
%c-turkey { content: ''; } // &#xF105;
%c-tv { content: '📺'; } // &#x1F4FA;
%c-twitter { content: ''; } // &#xF611;
%c-twodie { content: '⚁'; } // &#x2681;
%c-typewriter { content: ''; } // &#xED41;
%c-ufo { content: ''; } // &#xF304;
%c-umbrella { content: '☂'; } // &#x2602;
%c-undo { content: '↩'; } // &#x21A9;
%c-unlock { content: '🔓'; } // &#x1F513;
%c-up { content: '⬆'; } // &#x2B06;
%c-upleft { content: '⬉'; } // &#x2B09;
%c-upload { content: ''; } // &#xEB41;
%c-upload-alt { content: ''; } // &#xEB40;
%c-uploadbox { content: ''; } // &#xEB42;
%c-uploadcloud { content: ''; } // &#xEB40;
%c-uploadcrate { content: ''; } // &#xEB43;
%c-uploadfile { content: ''; } // &#xEC07;
%c-uploadfolder { content: ''; } // &#xEC77;
%c-upright { content: '⬈'; } // &#x2B08;
%c-upwardsbarchart { content: ''; } // &#xE572;
%c-upwardslinechart { content: '📈'; } // &#x1F4C8;
%c-usb { content: ''; } // &#xEB86;
%c-user { content: '👤'; } // &#x1F464;
%c-userfile { content: ''; } // &#xEC15;
%c-userframe { content: ''; } // &#xE421;
%c-usergroup { content: ''; } // &#xE400;
%c-userportrait { content: ''; } // &#xE420;
%c-userprofile { content: ''; } // &#xE406;
%c-users { content: '👥'; } // &#x1F465;
%c-usersframe { content: ''; } // &#xE422;
%c-utensils { content: '🍴'; } // &#x1F374;
%c-utensilsframe { content: ''; } // &#xEA95;
%c-video { content: '📹'; } // &#x1F4F9;
%c-videogame { content: '🎮'; } // &#x1F3AE;
%c-view { content: '👀'; } // &#x1F440;
%c-vimeo { content: ''; } // &#xF631;
%c-vinylrecord { content: ''; } // &#xE810;
%c-voicemail { content: '⌕'; } // &#x2315;
%c-volume { content: '🔈'; } // &#x1F508;
%c-walkytalky { content: ''; } // &#xEA03;
%c-waningcrescentmoon { content: '🌘'; } // &#x1F318;
%c-waninggibbousmoon { content: '🌖'; } // &#x1F316;
%c-warehouse { content: ''; } // &#xE602;
%c-washer { content: ''; } // &#xEA80;
%c-watch { content: '⌚'; } // &#x231A;
%c-waterbottle { content: ''; } // &#xF128;
%c-waxingcrescentmoon { content: '🌒'; } // &#x1F312;
%c-waxinggibbousmoon { content: '🌔'; } // &#x1F314;
%c-weather { content: ''; } // &#xF210;
%c-weatheronline { content: ''; } // &#xEA35;
%c-weathervane { content: ''; } // &#xF200;
%c-weave { content: ''; } // &#xF1F2;
%c-weight { content: ''; } // &#xE5E5;
%c-wheelchair { content: '♿'; } // &#x267F;
%c-wifi { content: ''; } // &#xEB84;
%c-wifibook { content: ''; } // &#xE968;
%c-wifimail { content: ''; } // &#xE352;
%c-wifiopenbook { content: ''; } // &#xE969;
%c-wind { content: ''; } // &#xF212;
%c-window { content: ''; } // &#xE714;
%c-windows { content: ''; } // &#xF6F2;
%c-wine { content: ''; } // &#xF123;
%c-wineglass { content: '🍷'; } // &#x1F377;
%c-wineglasssparkle { content: ''; } // &#xF129;
%c-wordpress { content: ''; } // &#xF621;
%c-wrench { content: '🔧'; } // &#x1F527;
%c-wrenches { content: ''; } // &#xF032;
%c-wrenchpencil { content: ''; } // &#xF033;
%c-write { content: '✎'; } // &#x270E;
%c-writingdisabled { content: ''; } // &#xE071;
%c-yarn { content: ''; } // &#xF1F4;
%c-yelp { content: ''; } // &#xF691;
%c-yoga { content: ''; } // &#xF418;
%c-youtube { content: ''; } // &#xF630;
%c-zerply { content: ''; } // &#xF615;
%c-zip { content: ''; } // &#xEC31;
%c-zipper { content: ''; } // &#xF1F9;
%c-zoomin { content: ''; } // &#xE002;
%c-zoomout { content: ''; } // &#xE003;
