@charset "UTF-8";
/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*/
.action:after, .addcalendar:after, .addcart:after, .addfile:after, .address:after, .adduser:after, .airplay:after, .alarmclock:after, .alert:after, .ambulance:after, .analytics:after, .anatomicalheart:after, .apple:after, .apron:after, .arrival:after, .atm:after, .attach:after, .backspace:after, .badminton:after, .balloon:after, .ban:after, .bandage:after, .bank:after, .bankcheck:after, .banknote:after, .bankonline:after, .barchart:after, .baseballglove:after, .basket:after, .bathroomscale:after, .battery:after, .batterymobile:after, .bbq:after, .bbqapron:after, .bearface:after, .beer:after, .bike:after, .billiards:after, .binoculars:after, .bird:after, .boat:after, .bonfire:after, .book:after, .bookmark:after, .books:after, .bottle:after, .bowling:after, .box:after, .boxing:after, .briefcase:after, .brokenbone:after, .browseonline:after, .building:after, .bullseye:after, .burger:after, .bus:after, .businessuser:after, .calculator:after, .calendar:after, .callbell:after, .camera:after, .campfire:after, .car:after, .caravan:after, .cargoship:after, .carrot:after, .cart:after, .cashregister:after, .caution:after, .cell:after, .cfl:after, .chargingbattery:after, .chat:after, .check:after, .checkcalendar:after, .checkclipboard:after, .checkheart:after, .chef:after, .chess:after, .christmastree:after, .clock:after, .clockwise:after, .cloud:after, .cloudfolder:after, .coal:after, .cocktail:after, .coins:after, .colander:after, .columns:after, .compass:after, .compassarrow:after, .compassnavigate:after, .compose:after, .connection:after, .containers:after, .contract:after, .cook:after, .cookingutensils:after, .corn:after, .crate:after, .creditcard:after, .crop:after, .crosshair:after, .cursor:after, .dashboard:after, .database:after, .delete:after, .deletecalendar:after, .deletecart:after, .deletefile:after, .deleteuser:after, .deliverytruck:after, .deliveryvan:after, .departure:after, .desktop:after, .dial:after, .digitalsafe:after, .directleft:after, .directright:after, .directup:after, .disc:after, .dislike:after, .dispensecash:after, .dna:after, .doc:after, .dollarmobile:after, .donotdisturb:after, .down:after, .downleft:after, .download:after, .downloadbook:after, .downloadbox:after, .downloadcart:after, .downloadcloud:after, .downloadcrate:after, .downloadfile:after, .downloadfolder:after, .downright:after, .downwardsbarchart:after, .downwardslinechart:after, .draw:after, .dropdown:after, .droplet:after, .dumbbell:after, .earth:after, .ebook:after, .eggtimer:after, .eighthnote:after, .eject:after, .elevator:after, .emptybattery:after, .emptycart:after, .emptyheart:after, .erase:after, .ereader:after, .euromobile:after, .evergreen:after, .exe:after, .exercise:after, .exercisebike:after, .expand:after, .exportfile:after, .eyesurgery:after, .facetime:after, .fan:after, .fastforward:after, .fax:after, .feather:after, .femaleuser:after, .file:after, .firewall:after, .fish:after, .fishes:after, .fivedie:after, .flag:after, .flame:after, .flash:after, .floorplan:after, .floppydisk:after, .flowertag:after, .fog:after, .folder:after, .font:after, .football:after, .fork:after, .forklift:after, .form:after, .fourdie:after, .fragile:after, .fuel:after, .garage:after, .gift:after, .globe:after, .globelocation:after, .golf:after, .gps:after, .grass:after, .gridlines:after, .hairdryer:after, .halfheart:after, .halfstar:after, .handbag:after, .hanger:after, .hdd:after, .headset:after, .heart:after, .heartbook:after, .heartmobile:after, .helicopter:after, .help:after, .highbattery:after, .highlight:after, .highvolume:after, .highway:after, .hiker:after, .hockey:after, .home:after, .hook:after, .horizontalbarchart:after, .hospital:after, .hotsauce:after, .housesale:after, .hyphen:after, .icecream:after, .iceskate:after, .importfile:after, .inbox:after, .index:after, .info:after, .intersection:after, .jerrycan:after, .jpg:after, .jumprope:after, .key:after, .knife:after, .laptop:after, .layers:after, .layout:after, .leaf:after, .left:after, .leftright:after, .leftward:after, .lightbulb:after, .lightbulbon:after, .like:after, .linechartclipboard:after, .linecharts:after, .link:after, .list:after, .loading:after, .location:after, .lock:after, .lockfile:after, .lockfolder:after, .lockmobile:after, .locomotive:after, .lodging:after, .login:after, .logout:after, .lowbattery:after, .lowvolume:after, .luggage:after, .mail:after, .map:after, .maplocation:after, .measuringcup:after, .medal:after, .medicalcross:after, .medicalthermometer:after, .mediumbattery:after, .megaphone:after, .merge:after, .mic:after, .moneybag:after, .motorcycle:after, .move:after, .moviefolder:after, .mug:after, .music:after, .musicopenbook:after, .navigate:after, .navigatedown:after, .navigateleft:after, .navigateright:after, .navigateup:after, .navigationmobile:after, .new:after, .newspaper:after, .nextpage:after, .noodles:after, .nosmoking:after, .notebook:after, .notepad:after, .notice:after, .notifications:after, .notificationsdisabled:after, .oliveoil:after, .onedie:after, .openbook:after, .openfolder:after, .outbox:after, .outlet:after, .oven:after, .page:after, .pagecurl:after, .paintroller:after, .palmtree:after, .partlycloudy:after, .passport:after, .pause:after, .pdf:after, .pen:after, .pepper:after, .percent:after, .phone:after, .phonedisabled:after, .phonemobile:after, .picnictable:after, .picture:after, .picturefile:after, .picturefolder:after, .piechart:after, .piechartthirds:after, .piggybank:after, .pill:after, .pillbottle:after, .pin:after, .pizza:after, .plane:after, .platter:after, .play:after, .playvideo:after, .plug:after, .plus:after, .png:after, .pool:after, .powermobile:after, .ppt:after, .previouspage:after, .pricetag:after, .print:after, .pushpin:after, .puzzle:after, .quote:after, .radio:after, .rain:after, .rainbow:after, .readonline:after, .realtyonline:after, .record:after, .redirect:after, .refresh:after, .reload:after, .removecalendar:after, .removecart:after, .removefile:after, .removeuser:after, .repeat:after, .replay:after, .reply:after, .retweet:after, .rewind:after, .ribbon:after, .right:after, .rightward:after, .road:after, .rocket:after, .rows:after, .rss:after, .rssmobile:after, .rubbereraser:after, .rubberstamp:after, .safe:after, .sailboat:after, .salt:after, .sample:after, .sausage:after, .scale:after, .scaledown:after, .scales:after, .scaleup:after, .scatterchart:after, .schooner:after, .screenshot:after, .search:after, .searchbarcode:after, .searchbook:after, .searchhouse:after, .securefolder:after, .seedling:after, .send:after, .settings:after, .settingsfile:after, .share:after, .shoponline:after, .shower:after, .shrimp:after, .shuffle:after, .sidedish:after, .signpost:after, .sixdie:after, .skipback:after, .skipforward:after, .skylift:after, .smartphone:after, .snowflake:after, .soccer:after, .solarpanel:after, .spaghetti:after, .spoonfork:after, .star:after, .steak:after, .steeringwheel:after, .stereo:after, .stethoscope:after, .stock:after, .stop:after, .stopwatch:after, .store:after, .stove:after, .suitcase:after, .sun:after, .sunscreen:after, .supplements:after, .sweep:after, .sync:after, .syringe:after, .tablet:after, .tabletennis:after, .tag:after, .tapemeasure:after, .target:after, .taxi:after, .tea:after, .teapot:after, .tennis:after, .text:after, .textfile:after, .textmobile:after, .thermometer:after, .thissideup:after, .threedie:after, .thumbnails:after, .thunderstorm:after, .tip:after, .tornado:after, .tractor:after, .trafficcamera:after, .trafficlight:after, .train:after, .traintunnel:after, .trash:after, .tree:after, .tropicalfish:after, .truck:after, .tunnel:after, .turkey:after, .twodie:after, .umbrella:after, .unlock:after, .up:after, .upleft:after, .upload:after, .uploadbox:after, .uploadcloud:after, .uploadcrate:after, .uploadfile:after, .uploadfolder:after, .upright:after, .upwardsbarchart:after, .upwardslinechart:after, .user:after, .userfile:after, .usergroup:after, .userprofile:after, .users:after, .utensils:after, .video:after, .view:after, .vinylrecord:after, .volume:after, .walkytalky:after, .warehouse:after, .watch:after, .waterbottle:after, .weather:after, .weatheronline:after, .weathervane:after, .weight:after, .wheelchair:after, .wifi:after, .wifibook:after, .wifimail:after, .wifiopenbook:after, .wind:after, .wineglass:after, .wineglasssparkle:after, .wrench:after, .write:after, .writingdisabled:after, .yoga:after, .zip:after, .zoomin:after, .zoomout:after, i {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

html:hover .action:after, html:hover .addcalendar:after, html:hover .addcart:after, html:hover .addfile:after, html:hover .address:after, html:hover .adduser:after, html:hover .airplay:after, html:hover .alarmclock:after, html:hover .alert:after, html:hover .ambulance:after, html:hover .analytics:after, html:hover .anatomicalheart:after, html:hover .apple:after, html:hover .apron:after, html:hover .arrival:after, html:hover .atm:after, html:hover .attach:after, html:hover .backspace:after, html:hover .badminton:after, html:hover .balloon:after, html:hover .ban:after, html:hover .bandage:after, html:hover .bank:after, html:hover .bankcheck:after, html:hover .banknote:after, html:hover .bankonline:after, html:hover .barchart:after, html:hover .baseballglove:after, html:hover .basket:after, html:hover .bathroomscale:after, html:hover .battery:after, html:hover .batterymobile:after, html:hover .bbq:after, html:hover .bbqapron:after, html:hover .bearface:after, html:hover .beer:after, html:hover .bike:after, html:hover .billiards:after, html:hover .binoculars:after, html:hover .bird:after, html:hover .boat:after, html:hover .bonfire:after, html:hover .book:after, html:hover .bookmark:after, html:hover .books:after, html:hover .bottle:after, html:hover .bowling:after, html:hover .box:after, html:hover .boxing:after, html:hover .briefcase:after, html:hover .brokenbone:after, html:hover .browseonline:after, html:hover .building:after, html:hover .bullseye:after, html:hover .burger:after, html:hover .bus:after, html:hover .businessuser:after, html:hover .calculator:after, html:hover .calendar:after, html:hover .callbell:after, html:hover .camera:after, html:hover .campfire:after, html:hover .car:after, html:hover .caravan:after, html:hover .cargoship:after, html:hover .carrot:after, html:hover .cart:after, html:hover .cashregister:after, html:hover .caution:after, html:hover .cell:after, html:hover .cfl:after, html:hover .chargingbattery:after, html:hover .chat:after, html:hover .check:after, html:hover .checkcalendar:after, html:hover .checkclipboard:after, html:hover .checkheart:after, html:hover .chef:after, html:hover .chess:after, html:hover .christmastree:after, html:hover .clock:after, html:hover .clockwise:after, html:hover .cloud:after, html:hover .cloudfolder:after, html:hover .coal:after, html:hover .cocktail:after, html:hover .coins:after, html:hover .colander:after, html:hover .columns:after, html:hover .compass:after, html:hover .compassarrow:after, html:hover .compassnavigate:after, html:hover .compose:after, html:hover .connection:after, html:hover .containers:after, html:hover .contract:after, html:hover .cook:after, html:hover .cookingutensils:after, html:hover .corn:after, html:hover .crate:after, html:hover .creditcard:after, html:hover .crop:after, html:hover .crosshair:after, html:hover .cursor:after, html:hover .dashboard:after, html:hover .database:after, html:hover .delete:after, html:hover .deletecalendar:after, html:hover .deletecart:after, html:hover .deletefile:after, html:hover .deleteuser:after, html:hover .deliverytruck:after, html:hover .deliveryvan:after, html:hover .departure:after, html:hover .desktop:after, html:hover .dial:after, html:hover .digitalsafe:after, html:hover .directleft:after, html:hover .directright:after, html:hover .directup:after, html:hover .disc:after, html:hover .dislike:after, html:hover .dispensecash:after, html:hover .dna:after, html:hover .doc:after, html:hover .dollarmobile:after, html:hover .donotdisturb:after, html:hover .down:after, html:hover .downleft:after, html:hover .download:after, html:hover .downloadbook:after, html:hover .downloadbox:after, html:hover .downloadcart:after, html:hover .downloadcloud:after, html:hover .downloadcrate:after, html:hover .downloadfile:after, html:hover .downloadfolder:after, html:hover .downright:after, html:hover .downwardsbarchart:after, html:hover .downwardslinechart:after, html:hover .draw:after, html:hover .dropdown:after, html:hover .droplet:after, html:hover .dumbbell:after, html:hover .earth:after, html:hover .ebook:after, html:hover .eggtimer:after, html:hover .eighthnote:after, html:hover .eject:after, html:hover .elevator:after, html:hover .emptybattery:after, html:hover .emptycart:after, html:hover .emptyheart:after, html:hover .erase:after, html:hover .ereader:after, html:hover .euromobile:after, html:hover .evergreen:after, html:hover .exe:after, html:hover .exercise:after, html:hover .exercisebike:after, html:hover .expand:after, html:hover .exportfile:after, html:hover .eyesurgery:after, html:hover .facetime:after, html:hover .fan:after, html:hover .fastforward:after, html:hover .fax:after, html:hover .feather:after, html:hover .femaleuser:after, html:hover .file:after, html:hover .firewall:after, html:hover .fish:after, html:hover .fishes:after, html:hover .fivedie:after, html:hover .flag:after, html:hover .flame:after, html:hover .flash:after, html:hover .floorplan:after, html:hover .floppydisk:after, html:hover .flowertag:after, html:hover .fog:after, html:hover .folder:after, html:hover .font:after, html:hover .football:after, html:hover .fork:after, html:hover .forklift:after, html:hover .form:after, html:hover .fourdie:after, html:hover .fragile:after, html:hover .fuel:after, html:hover .garage:after, html:hover .gift:after, html:hover .globe:after, html:hover .globelocation:after, html:hover .golf:after, html:hover .gps:after, html:hover .grass:after, html:hover .gridlines:after, html:hover .hairdryer:after, html:hover .halfheart:after, html:hover .halfstar:after, html:hover .handbag:after, html:hover .hanger:after, html:hover .hdd:after, html:hover .headset:after, html:hover .heart:after, html:hover .heartbook:after, html:hover .heartmobile:after, html:hover .helicopter:after, html:hover .help:after, html:hover .highbattery:after, html:hover .highlight:after, html:hover .highvolume:after, html:hover .highway:after, html:hover .hiker:after, html:hover .hockey:after, html:hover .home:after, html:hover .hook:after, html:hover .horizontalbarchart:after, html:hover .hospital:after, html:hover .hotsauce:after, html:hover .housesale:after, html:hover .hyphen:after, html:hover .icecream:after, html:hover .iceskate:after, html:hover .importfile:after, html:hover .inbox:after, html:hover .index:after, html:hover .info:after, html:hover .intersection:after, html:hover .jerrycan:after, html:hover .jpg:after, html:hover .jumprope:after, html:hover .key:after, html:hover .knife:after, html:hover .laptop:after, html:hover .layers:after, html:hover .layout:after, html:hover .leaf:after, html:hover .left:after, html:hover .leftright:after, html:hover .leftward:after, html:hover .lightbulb:after, html:hover .lightbulbon:after, html:hover .like:after, html:hover .linechartclipboard:after, html:hover .linecharts:after, html:hover .link:after, html:hover .list:after, html:hover .loading:after, html:hover .location:after, html:hover .lock:after, html:hover .lockfile:after, html:hover .lockfolder:after, html:hover .lockmobile:after, html:hover .locomotive:after, html:hover .lodging:after, html:hover .login:after, html:hover .logout:after, html:hover .lowbattery:after, html:hover .lowvolume:after, html:hover .luggage:after, html:hover .mail:after, html:hover .map:after, html:hover .maplocation:after, html:hover .measuringcup:after, html:hover .medal:after, html:hover .medicalcross:after, html:hover .medicalthermometer:after, html:hover .mediumbattery:after, html:hover .megaphone:after, html:hover .merge:after, html:hover .mic:after, html:hover .moneybag:after, html:hover .motorcycle:after, html:hover .move:after, html:hover .moviefolder:after, html:hover .mug:after, html:hover .music:after, html:hover .musicopenbook:after, html:hover .navigate:after, html:hover .navigatedown:after, html:hover .navigateleft:after, html:hover .navigateright:after, html:hover .navigateup:after, html:hover .navigationmobile:after, html:hover .new:after, html:hover .newspaper:after, html:hover .nextpage:after, html:hover .noodles:after, html:hover .nosmoking:after, html:hover .notebook:after, html:hover .notepad:after, html:hover .notice:after, html:hover .notifications:after, html:hover .notificationsdisabled:after, html:hover .oliveoil:after, html:hover .onedie:after, html:hover .openbook:after, html:hover .openfolder:after, html:hover .outbox:after, html:hover .outlet:after, html:hover .oven:after, html:hover .page:after, html:hover .pagecurl:after, html:hover .paintroller:after, html:hover .palmtree:after, html:hover .partlycloudy:after, html:hover .passport:after, html:hover .pause:after, html:hover .pdf:after, html:hover .pen:after, html:hover .pepper:after, html:hover .percent:after, html:hover .phone:after, html:hover .phonedisabled:after, html:hover .phonemobile:after, html:hover .picnictable:after, html:hover .picture:after, html:hover .picturefile:after, html:hover .picturefolder:after, html:hover .piechart:after, html:hover .piechartthirds:after, html:hover .piggybank:after, html:hover .pill:after, html:hover .pillbottle:after, html:hover .pin:after, html:hover .pizza:after, html:hover .plane:after, html:hover .platter:after, html:hover .play:after, html:hover .playvideo:after, html:hover .plug:after, html:hover .plus:after, html:hover .png:after, html:hover .pool:after, html:hover .powermobile:after, html:hover .ppt:after, html:hover .previouspage:after, html:hover .pricetag:after, html:hover .print:after, html:hover .pushpin:after, html:hover .puzzle:after, html:hover .quote:after, html:hover .radio:after, html:hover .rain:after, html:hover .rainbow:after, html:hover .readonline:after, html:hover .realtyonline:after, html:hover .record:after, html:hover .redirect:after, html:hover .refresh:after, html:hover .reload:after, html:hover .removecalendar:after, html:hover .removecart:after, html:hover .removefile:after, html:hover .removeuser:after, html:hover .repeat:after, html:hover .replay:after, html:hover .reply:after, html:hover .retweet:after, html:hover .rewind:after, html:hover .ribbon:after, html:hover .right:after, html:hover .rightward:after, html:hover .road:after, html:hover .rocket:after, html:hover .rows:after, html:hover .rss:after, html:hover .rssmobile:after, html:hover .rubbereraser:after, html:hover .rubberstamp:after, html:hover .safe:after, html:hover .sailboat:after, html:hover .salt:after, html:hover .sample:after, html:hover .sausage:after, html:hover .scale:after, html:hover .scaledown:after, html:hover .scales:after, html:hover .scaleup:after, html:hover .scatterchart:after, html:hover .schooner:after, html:hover .screenshot:after, html:hover .search:after, html:hover .searchbarcode:after, html:hover .searchbook:after, html:hover .searchhouse:after, html:hover .securefolder:after, html:hover .seedling:after, html:hover .send:after, html:hover .settings:after, html:hover .settingsfile:after, html:hover .share:after, html:hover .shoponline:after, html:hover .shower:after, html:hover .shrimp:after, html:hover .shuffle:after, html:hover .sidedish:after, html:hover .signpost:after, html:hover .sixdie:after, html:hover .skipback:after, html:hover .skipforward:after, html:hover .skylift:after, html:hover .smartphone:after, html:hover .snowflake:after, html:hover .soccer:after, html:hover .solarpanel:after, html:hover .spaghetti:after, html:hover .spoonfork:after, html:hover .star:after, html:hover .steak:after, html:hover .steeringwheel:after, html:hover .stereo:after, html:hover .stethoscope:after, html:hover .stock:after, html:hover .stop:after, html:hover .stopwatch:after, html:hover .store:after, html:hover .stove:after, html:hover .suitcase:after, html:hover .sun:after, html:hover .sunscreen:after, html:hover .supplements:after, html:hover .sweep:after, html:hover .sync:after, html:hover .syringe:after, html:hover .tablet:after, html:hover .tabletennis:after, html:hover .tag:after, html:hover .tapemeasure:after, html:hover .target:after, html:hover .taxi:after, html:hover .tea:after, html:hover .teapot:after, html:hover .tennis:after, html:hover .text:after, html:hover .textfile:after, html:hover .textmobile:after, html:hover .thermometer:after, html:hover .thissideup:after, html:hover .threedie:after, html:hover .thumbnails:after, html:hover .thunderstorm:after, html:hover .tip:after, html:hover .tornado:after, html:hover .tractor:after, html:hover .trafficcamera:after, html:hover .trafficlight:after, html:hover .train:after, html:hover .traintunnel:after, html:hover .trash:after, html:hover .tree:after, html:hover .tropicalfish:after, html:hover .truck:after, html:hover .tunnel:after, html:hover .turkey:after, html:hover .twodie:after, html:hover .umbrella:after, html:hover .unlock:after, html:hover .up:after, html:hover .upleft:after, html:hover .upload:after, html:hover .uploadbox:after, html:hover .uploadcloud:after, html:hover .uploadcrate:after, html:hover .uploadfile:after, html:hover .uploadfolder:after, html:hover .upright:after, html:hover .upwardsbarchart:after, html:hover .upwardslinechart:after, html:hover .user:after, html:hover .userfile:after, html:hover .usergroup:after, html:hover .userprofile:after, html:hover .users:after, html:hover .utensils:after, html:hover .video:after, html:hover .view:after, html:hover .vinylrecord:after, html:hover .volume:after, html:hover .walkytalky:after, html:hover .warehouse:after, html:hover .watch:after, html:hover .waterbottle:after, html:hover .weather:after, html:hover .weatheronline:after, html:hover .weathervane:after, html:hover .weight:after, html:hover .wheelchair:after, html:hover .wifi:after, html:hover .wifibook:after, html:hover .wifimail:after, html:hover .wifiopenbook:after, html:hover .wind:after, html:hover .wineglass:after, html:hover .wineglasssparkle:after, html:hover .wrench:after, html:hover .write:after, html:hover .writingdisabled:after, html:hover .yoga:after, html:hover .zip:after, html:hover .zoomin:after, html:hover .zoomout:after, html:hover i {
  -ms-zoom: 1;
}

.action:after {
  content: '';
}

.addcalendar:after {
  content: '';
}

.addcart:after {
  content: '';
}

.addfile:after {
  content: '';
}

.address:after {
  content: '';
}

.adduser:after {
  content: '';
}

.airplay:after {
  content: '';
}

.alarmclock:after {
  content: '⏰';
}

.alert:after {
  content: '⚠';
}

.ambulance:after {
  content: '🚑';
}

.analytics:after {
  content: '';
}

.anatomicalheart:after {
  content: '';
}

.apple:after {
  content: '';
}

.apron:after {
  content: '';
}

.arrival:after {
  content: '';
}

.atm:after {
  content: '🏧';
}

.attach:after {
  content: '📎';
}

.backspace:after {
  content: '⌫';
}

.badminton:after {
  content: '';
}

.balloon:after {
  content: '🎈';
}

.ban:after {
  content: '🚫';
}

.bandage:after {
  content: '';
}

.bank:after {
  content: '🏦';
}

.bankcheck:after {
  content: '';
}

.banknote:after {
  content: '💵';
}

.bankonline:after {
  content: '';
}

.barchart:after {
  content: '📊';
}

.baseballglove:after {
  content: '';
}

.basket:after {
  content: '';
}

.bathroomscale:after {
  content: '';
}

.battery:after {
  content: '🔋';
}

.batterymobile:after {
  content: '';
}

.bbq:after {
  content: '';
}

.bbqapron:after {
  content: '';
}

.bearface:after {
  content: '🐻';
}

.beer:after {
  content: '🍺';
}

.bike:after {
  content: '🚲';
}

.billiards:after {
  content: '🎱';
}

.binoculars:after {
  content: '';
}

.bird:after {
  content: '🐦';
}

.boat:after {
  content: '🚢';
}

.bonfire:after {
  content: '';
}

.book:after {
  content: '📕';
}

.bookmark:after {
  content: '🔖';
}

.books:after {
  content: '📚';
}

.bottle:after {
  content: '';
}

.bowling:after {
  content: '';
}

.box:after {
  content: '📦';
}

.boxing:after {
  content: '';
}

.briefcase:after {
  content: '💼';
}

.brokenbone:after {
  content: '';
}

.browseonline:after {
  content: '';
}

.building:after {
  content: '🏢';
}

.bullseye:after {
  content: '🎯';
}

.burger:after {
  content: '🍔';
}

.bus:after {
  content: '🚍';
}

.businessuser:after {
  content: '';
}

.calculator:after {
  content: '';
}

.calendar:after {
  content: '📅';
}

.callbell:after {
  content: '';
}

.camera:after {
  content: '📷';
}

.campfire:after {
  content: '🔥';
}

.car:after {
  content: '🚘';
}

.caravan:after {
  content: '🚐';
}

.cargoship:after {
  content: '';
}

.carrot:after {
  content: '';
}

.cart:after {
  content: '';
}

.cashregister:after {
  content: '';
}

.caution:after {
  content: '⛔';
}

.cell:after {
  content: '📱';
}

.cfl:after {
  content: '';
}

.chargingbattery:after {
  content: '';
}

.chat:after {
  content: '💬';
}

.check:after {
  content: '✓';
}

.checkcalendar:after {
  content: '';
}

.checkclipboard:after {
  content: '';
}

.checkheart:after {
  content: '';
}

.chef:after {
  content: '';
}

.chess:after {
  content: '♞';
}

.christmastree:after {
  content: '🎄';
}

.clock:after {
  content: '⏲';
}

.clockwise:after {
  content: '⥁';
}

.cloud:after {
  content: '☁';
}

.cloudfolder:after {
  content: '';
}

.coal:after {
  content: '';
}

.cocktail:after {
  content: '🍸';
}

.coins:after {
  content: '';
}

.colander:after {
  content: '';
}

.columns:after {
  content: '';
}

.compass:after {
  content: '';
}

.compassarrow:after {
  content: '';
}

.compassnavigate:after {
  content: '';
}

.compose:after {
  content: '📝';
}

.connection:after {
  content: '';
}

.containers:after {
  content: '';
}

.contract:after {
  content: '';
}

.cook:after {
  content: '🍳';
}

.cookingutensils:after {
  content: '';
}

.corn:after {
  content: '';
}

.crate:after {
  content: '';
}

.creditcard:after {
  content: '💳';
}

.crop:after {
  content: '';
}

.crosshair:after {
  content: '⌖';
}

.cursor:after {
  content: '';
}

.dashboard:after {
  content: '';
}

.database:after {
  content: '';
}

.delete:after {
  content: '␡';
}

.deletecalendar:after {
  content: '';
}

.deletecart:after {
  content: '';
}

.deletefile:after {
  content: '';
}

.deleteuser:after {
  content: '';
}

.deliverytruck:after {
  content: '';
}

.deliveryvan:after {
  content: '';
}

.departure:after {
  content: '';
}

.desktop:after {
  content: '💻';
}

.dial:after {
  content: '';
}

.digitalsafe:after {
  content: '';
}

.directleft:after {
  content: '◃';
}

.directright:after {
  content: '▹';
}

.directup:after {
  content: '▴';
}

.disc:after {
  content: '💿';
}

.dislike:after {
  content: '👎';
}

.dispensecash:after {
  content: '';
}

.dna:after {
  content: '';
}

.doc:after {
  content: '';
}

.dollarmobile:after {
  content: '';
}

.donotdisturb:after {
  content: '';
}

.down:after {
  content: '⬇';
}

.downleft:after {
  content: '⬋';
}

.download:after {
  content: '';
}

.downloadbook:after {
  content: '';
}

.downloadbox:after {
  content: '';
}

.downloadcart:after {
  content: '';
}

.downloadcloud:after {
  content: '';
}

.downloadcrate:after {
  content: '';
}

.downloadfile:after {
  content: '';
}

.downloadfolder:after {
  content: '';
}

.downright:after {
  content: '⬊';
}

.downwardsbarchart:after {
  content: '';
}

.downwardslinechart:after {
  content: '📉';
}

.draw:after {
  content: '✏';
}

.dropdown:after {
  content: '▾';
}

.droplet:after {
  content: '💧';
}

.dumbbell:after {
  content: '';
}

.earth:after {
  content: '🌎';
}

.ebook:after {
  content: '';
}

.eggtimer:after {
  content: '';
}

.eighthnote:after {
  content: '♪';
}

.eject:after {
  content: '⏏';
}

.elevator:after {
  content: '';
}

.emptybattery:after {
  content: '';
}

.emptycart:after {
  content: '';
}

.emptyheart:after {
  content: '♡';
}

.erase:after {
  content: '✐';
}

.ereader:after {
  content: '';
}

.euromobile:after {
  content: '';
}

.evergreen:after {
  content: '🌲';
}

.exe:after {
  content: '';
}

.exercise:after {
  content: '';
}

.exercisebike:after {
  content: '';
}

.expand:after {
  content: '⤢';
}

.exportfile:after {
  content: '';
}

.eyesurgery:after {
  content: '';
}

.facetime:after {
  content: '';
}

.fan:after {
  content: '';
}

.fastforward:after {
  content: '⏩';
}

.fax:after {
  content: '📠';
}

.feather:after {
  content: '';
}

.femaleuser:after {
  content: '👧';
}

.file:after {
  content: '📄';
}

.firewall:after {
  content: '';
}

.fish:after {
  content: '🐟';
}

.fishes:after {
  content: '';
}

.fivedie:after {
  content: '⚄';
}

.flag:after {
  content: '⚑';
}

.flame:after {
  content: '';
}

.flash:after {
  content: '⌁';
}

.floorplan:after {
  content: '';
}

.floppydisk:after {
  content: '💾';
}

.flowertag:after {
  content: '';
}

.fog:after {
  content: '';
}

.folder:after {
  content: '📁';
}

.font:after {
  content: '';
}

.football:after {
  content: '🏈';
}

.fork:after {
  content: '';
}

.forklift:after {
  content: '';
}

.form:after {
  content: '';
}

.fourdie:after {
  content: '⚃';
}

.fragile:after {
  content: '';
}

.fuel:after {
  content: '⛽';
}

.garage:after {
  content: '';
}

.gift:after {
  content: '🎁';
}

.globe:after {
  content: '🌎';
}

.globelocation:after {
  content: '';
}

.golf:after {
  content: '';
}

.gps:after {
  content: '';
}

.grass:after {
  content: '';
}

.gridlines:after {
  content: '';
}

.hairdryer:after {
  content: '';
}

.halfheart:after {
  content: '';
}

.halfstar:after {
  content: '';
}

.handbag:after {
  content: '👜';
}

.hanger:after {
  content: '';
}

.hdd:after {
  content: '';
}

.headset:after {
  content: '';
}

.heart:after {
  content: '♥';
}

.heartbook:after {
  content: '';
}

.heartmobile:after {
  content: '';
}

.helicopter:after {
  content: '🚁';
}

.help:after {
  content: '❓';
}

.highbattery:after {
  content: '';
}

.highlight:after {
  content: '';
}

.highvolume:after {
  content: '🔊';
}

.highway:after {
  content: '';
}

.hiker:after {
  content: '';
}

.hockey:after {
  content: '';
}

.home:after {
  content: '⌂';
}

.hook:after {
  content: '';
}

.horizontalbarchart:after {
  content: '';
}

.hospital:after {
  content: '⛨';
}

.hotsauce:after {
  content: '';
}

.housesale:after {
  content: '';
}

.hyphen:after {
  content: '-';
}

.icecream:after {
  content: '🍨';
}

.iceskate:after {
  content: '⛸';
}

.importfile:after {
  content: '';
}

.inbox:after {
  content: '📥';
}

.index:after {
  content: '';
}

.info:after {
  content: 'ℹ';
}

.intersection:after {
  content: '';
}

.jerrycan:after {
  content: '';
}

.jpg:after {
  content: '';
}

.jumprope:after {
  content: '';
}

.key:after {
  content: '🔑';
}

.knife:after {
  content: '🔪';
}

.laptop:after {
  content: '';
}

.layers:after {
  content: '';
}

.layout:after {
  content: '';
}

.leaf:after {
  content: '🍂';
}

.left:after {
  content: '⬅';
}

.leftright:after {
  content: '⬌';
}

.leftward:after {
  content: '';
}

.lightbulb:after {
  content: '💡';
}

.lightbulbon:after {
  content: '';
}

.like:after {
  content: '👍';
}

.linechartclipboard:after {
  content: '';
}

.linecharts:after {
  content: '';
}

.link:after {
  content: '🔗';
}

.list:after {
  content: '';
}

.loading:after {
  content: '';
}

.location:after {
  content: '';
}

.lock:after {
  content: '🔒';
}

.lockfile:after {
  content: '';
}

.lockfolder:after {
  content: '';
}

.lockmobile:after {
  content: '';
}

.locomotive:after {
  content: '🚂';
}

.lodging:after {
  content: '🏨';
}

.login:after {
  content: '';
}

.logout:after {
  content: '';
}

.lowbattery:after {
  content: '';
}

.lowvolume:after {
  content: '🔉';
}

.luggage:after {
  content: '';
}

.mail:after {
  content: '✉';
}

.map:after {
  content: '';
}

.maplocation:after {
  content: '';
}

.measuringcup:after {
  content: '';
}

.medal:after {
  content: '';
}

.medicalcross:after {
  content: '';
}

.medicalthermometer:after {
  content: '';
}

.mediumbattery:after {
  content: '';
}

.megaphone:after {
  content: '📢';
}

.merge:after {
  content: '';
}

.mic:after {
  content: '🎤';
}

.moneybag:after {
  content: '💰';
}

.motorcycle:after {
  content: '';
}

.move:after {
  content: '';
}

.moviefolder:after {
  content: '';
}

.mug:after {
  content: '☕';
}

.music:after {
  content: '♫';
}

.musicopenbook:after {
  content: '';
}

.navigate:after {
  content: '';
}

.navigatedown:after {
  content: '';
}

.navigateleft:after {
  content: '◅';
}

.navigateright:after {
  content: '▻';
}

.navigateup:after {
  content: '';
}

.navigationmobile:after {
  content: '';
}

.new:after {
  content: '🆕';
}

.newspaper:after {
  content: '📰';
}

.nextpage:after {
  content: '⎘';
}

.noodles:after {
  content: '🍜';
}

.nosmoking:after {
  content: '🚭';
}

.notebook:after {
  content: '📓';
}

.notepad:after {
  content: '';
}

.notice:after {
  content: '';
}

.notifications:after {
  content: '🔔';
}

.notificationsdisabled:after {
  content: '🔕';
}

.oliveoil:after {
  content: '';
}

.onedie:after {
  content: '⚀';
}

.openbook:after {
  content: '📖';
}

.openfolder:after {
  content: '📂';
}

.outbox:after {
  content: '📤';
}

.outlet:after {
  content: '';
}

.oven:after {
  content: '';
}

.page:after {
  content: '';
}

.pagecurl:after {
  content: '';
}

.paintroller:after {
  content: '';
}

.palmtree:after {
  content: '🌴';
}

.partlycloudy:after {
  content: '⛅';
}

.passport:after {
  content: '';
}

.pause:after {
  content: '';
}

.pdf:after {
  content: '';
}

.pen:after {
  content: '✒';
}

.pepper:after {
  content: '';
}

.percent:after {
  content: '%';
}

.phone:after {
  content: '📞';
}

.phonedisabled:after {
  content: '';
}

.phonemobile:after {
  content: '';
}

.picnictable:after {
  content: '';
}

.picture:after {
  content: '🌄';
}

.picturefile:after {
  content: '';
}

.picturefolder:after {
  content: '';
}

.piechart:after {
  content: '';
}

.piechartthirds:after {
  content: '';
}

.piggybank:after {
  content: '';
}

.pill:after {
  content: '💊';
}

.pillbottle:after {
  content: '';
}

.pin:after {
  content: '📍';
}

.pizza:after {
  content: '🍕';
}

.plane:after {
  content: '✈';
}

.platter:after {
  content: '';
}

.play:after {
  content: '▶';
}

.playvideo:after {
  content: '';
}

.plug:after {
  content: '🔌';
}

.plus:after {
  content: '+';
}

.png:after {
  content: '';
}

.pool:after {
  content: '';
}

.powermobile:after {
  content: '';
}

.ppt:after {
  content: '';
}

.previouspage:after {
  content: '⎗';
}

.pricetag:after {
  content: '';
}

.print:after {
  content: '⎙';
}

.pushpin:after {
  content: '📌';
}

.puzzle:after {
  content: '';
}

.quote:after {
  content: '“';
}

.radio:after {
  content: '📻';
}

.rain:after {
  content: '☔';
}

.rainbow:after {
  content: '🌈';
}

.readonline:after {
  content: '';
}

.realtyonline:after {
  content: '';
}

.record:after {
  content: '●';
}

.redirect:after {
  content: '↪';
}

.refresh:after {
  content: '↻';
}

.reload:after {
  content: '';
}

.removecalendar:after {
  content: '';
}

.removecart:after {
  content: '';
}

.removefile:after {
  content: '';
}

.removeuser:after {
  content: '';
}

.repeat:after {
  content: '🔁';
}

.replay:after {
  content: '↺';
}

.reply:after {
  content: '↩';
}

.retweet:after {
  content: '';
}

.rewind:after {
  content: '⏪';
}

.ribbon:after {
  content: '🎀';
}

.right:after {
  content: '➡';
}

.rightward:after {
  content: '';
}

.road:after {
  content: '';
}

.rocket:after {
  content: '🚀';
}

.rows:after {
  content: '';
}

.rss:after {
  content: '';
}

.rssmobile:after {
  content: '';
}

.rubbereraser:after {
  content: '';
}

.rubberstamp:after {
  content: '';
}

.safe:after {
  content: '';
}

.sailboat:after {
  content: '⛵';
}

.salt:after {
  content: '';
}

.sample:after {
  content: '';
}

.sausage:after {
  content: '';
}

.scale:after {
  content: '';
}

.scaledown:after {
  content: '';
}

.scales:after {
  content: '⚖';
}

.scaleup:after {
  content: '';
}

.scatterchart:after {
  content: '';
}

.schooner:after {
  content: '';
}

.screenshot:after {
  content: '';
}

.search:after {
  content: '🔎';
}

.searchbarcode:after {
  content: '';
}

.searchbook:after {
  content: '';
}

.searchhouse:after {
  content: '';
}

.securefolder:after {
  content: '';
}

.seedling:after {
  content: '🌱';
}

.send:after {
  content: '';
}

.settings:after {
  content: '⚙';
}

.settingsfile:after {
  content: '';
}

.share:after {
  content: '';
}

.shoponline:after {
  content: '';
}

.shower:after {
  content: '🚿';
}

.shrimp:after {
  content: '🍤';
}

.shuffle:after {
  content: '🔀';
}

.sidedish:after {
  content: '🍚';
}

.signpost:after {
  content: '';
}

.sixdie:after {
  content: '⚅';
}

.skipback:after {
  content: '⏮';
}

.skipforward:after {
  content: '⏭';
}

.skylift:after {
  content: '🚡';
}

.smartphone:after {
  content: '';
}

.snowflake:after {
  content: '❄';
}

.soccer:after {
  content: '⚽';
}

.solarpanel:after {
  content: '';
}

.spaghetti:after {
  content: '🍝';
}

.spoonfork:after {
  content: '';
}

.star:after {
  content: '⋆';
}

.steak:after {
  content: '';
}

.steeringwheel:after {
  content: '';
}

.stereo:after {
  content: '';
}

.stethoscope:after {
  content: '';
}

.stock:after {
  content: '';
}

.stop:after {
  content: '■';
}

.stopwatch:after {
  content: '⏱';
}

.store:after {
  content: '🏪';
}

.stove:after {
  content: '';
}

.suitcase:after {
  content: '';
}

.sun:after {
  content: '☀';
}

.sunscreen:after {
  content: '';
}

.supplements:after {
  content: '';
}

.sweep:after {
  content: '';
}

.sync:after {
  content: '';
}

.syringe:after {
  content: '💉';
}

.tablet:after {
  content: '';
}

.tabletennis:after {
  content: '';
}

.tag:after {
  content: '';
}

.tapemeasure:after {
  content: '';
}

.target:after {
  content: '◎';
}

.taxi:after {
  content: '🚖';
}

.tea:after {
  content: '🍵';
}

.teapot:after {
  content: '';
}

.tennis:after {
  content: '🎾';
}

.text:after {
  content: '';
}

.textfile:after {
  content: '';
}

.textmobile:after {
  content: '';
}

.thermometer:after {
  content: '';
}

.thissideup:after {
  content: '';
}

.threedie:after {
  content: '⚂';
}

.thumbnails:after {
  content: '';
}

.thunderstorm:after {
  content: '⛈';
}

.tip:after {
  content: '';
}

.tornado:after {
  content: '';
}

.tractor:after {
  content: '🚜';
}

.trafficcamera:after {
  content: '';
}

.trafficlight:after {
  content: '🚦';
}

.train:after {
  content: '🚆';
}

.traintunnel:after {
  content: '🚇';
}

.trash:after {
  content: '';
}

.tree:after {
  content: '🌳';
}

.tropicalfish:after {
  content: '';
}

.truck:after {
  content: '🚚';
}

.tunnel:after {
  content: '';
}

.turkey:after {
  content: '';
}

.twodie:after {
  content: '⚁';
}

.umbrella:after {
  content: '☂';
}

.unlock:after {
  content: '🔓';
}

.up:after {
  content: '⬆';
}

.upleft:after {
  content: '⬉';
}

.upload:after {
  content: '';
}

.uploadbox:after {
  content: '';
}

.uploadcloud:after {
  content: '';
}

.uploadcrate:after {
  content: '';
}

.uploadfile:after {
  content: '';
}

.uploadfolder:after {
  content: '';
}

.upright:after {
  content: '⬈';
}

.upwardsbarchart:after {
  content: '';
}

.upwardslinechart:after {
  content: '📈';
}

.user:after {
  content: '👤';
}

.userfile:after {
  content: '';
}

.usergroup:after {
  content: '';
}

.userprofile:after {
  content: '';
}

.users:after {
  content: '👥';
}

.utensils:after {
  content: '🍴';
}

.video:after {
  content: '📹';
}

.view:after {
  content: '👀';
}

.vinylrecord:after {
  content: '';
}

.volume:after {
  content: '🔈';
}

.walkytalky:after {
  content: '';
}

.warehouse:after {
  content: '';
}

.watch:after {
  content: '⌚';
}

.waterbottle:after {
  content: '';
}

.weather:after {
  content: '';
}

.weatheronline:after {
  content: '';
}

.weathervane:after {
  content: '';
}

.weight:after {
  content: '';
}

.wheelchair:after {
  content: '♿';
}

.wifi:after {
  content: '';
}

.wifibook:after {
  content: '';
}

.wifimail:after {
  content: '';
}

.wifiopenbook:after {
  content: '';
}

.wind:after {
  content: '';
}

.wineglass:after {
  content: '🍷';
}

.wineglasssparkle:after {
  content: '';
}

.wrench:after {
  content: '🔧';
}

.write:after {
  content: '✎';
}

.writingdisabled:after {
  content: '';
}

.yoga:after {
  content: '';
}

.zip:after {
  content: '';
}

.zoomin:after {
  content: '';
}

.zoomout:after {
  content: '';
}

@font-face {
  font-family: "SSPika";
  src: url("../../fonts/ss-pika/webfonts/ss-pika.eot");
  src: url("../../fonts/ss-pika/webfonts/ss-pika.eot?#iefix") format("embedded-opentype"), url("../../fonts/ss-pika/webfonts/ss-pika.woff") format("woff"), url("../../fonts/ss-pika/webfonts/ss-pika.ttf") format("truetype"), url("../../fonts/ss-pika/webfonts/ss-pika.svg#SSPika") format("svg");
  font-weight: normal;
  font-style: normal;
}

.action:after, .addcalendar:after, .addcart:after, .addfile:after, .address:after, .adduser:after, .airplay:after, .alarmclock:after, .alert:after, .ambulance:after, .analytics:after, .anatomicalheart:after, .apple:after, .apron:after, .arrival:after, .atm:after, .attach:after, .backspace:after, .badminton:after, .balloon:after, .ban:after, .bandage:after, .bank:after, .bankcheck:after, .banknote:after, .bankonline:after, .barchart:after, .baseballglove:after, .basket:after, .bathroomscale:after, .battery:after, .batterymobile:after, .bbq:after, .bbqapron:after, .bearface:after, .beer:after, .bike:after, .billiards:after, .binoculars:after, .bird:after, .boat:after, .bonfire:after, .book:after, .bookmark:after, .books:after, .bottle:after, .bowling:after, .box:after, .boxing:after, .briefcase:after, .brokenbone:after, .browseonline:after, .building:after, .bullseye:after, .burger:after, .bus:after, .businessuser:after, .calculator:after, .calendar:after, .callbell:after, .camera:after, .campfire:after, .car:after, .caravan:after, .cargoship:after, .carrot:after, .cart:after, .cashregister:after, .caution:after, .cell:after, .cfl:after, .chargingbattery:after, .chat:after, .check:after, .checkcalendar:after, .checkclipboard:after, .checkheart:after, .chef:after, .chess:after, .christmastree:after, .clock:after, .clockwise:after, .cloud:after, .cloudfolder:after, .coal:after, .cocktail:after, .coins:after, .colander:after, .columns:after, .compass:after, .compassarrow:after, .compassnavigate:after, .compose:after, .connection:after, .containers:after, .contract:after, .cook:after, .cookingutensils:after, .corn:after, .crate:after, .creditcard:after, .crop:after, .crosshair:after, .cursor:after, .dashboard:after, .database:after, .delete:after, .deletecalendar:after, .deletecart:after, .deletefile:after, .deleteuser:after, .deliverytruck:after, .deliveryvan:after, .departure:after, .desktop:after, .dial:after, .digitalsafe:after, .directleft:after, .directright:after, .directup:after, .disc:after, .dislike:after, .dispensecash:after, .dna:after, .doc:after, .dollarmobile:after, .donotdisturb:after, .down:after, .downleft:after, .download:after, .downloadbook:after, .downloadbox:after, .downloadcart:after, .downloadcloud:after, .downloadcrate:after, .downloadfile:after, .downloadfolder:after, .downright:after, .downwardsbarchart:after, .downwardslinechart:after, .draw:after, .dropdown:after, .droplet:after, .dumbbell:after, .earth:after, .ebook:after, .eggtimer:after, .eighthnote:after, .eject:after, .elevator:after, .emptybattery:after, .emptycart:after, .emptyheart:after, .erase:after, .ereader:after, .euromobile:after, .evergreen:after, .exe:after, .exercise:after, .exercisebike:after, .expand:after, .exportfile:after, .eyesurgery:after, .facetime:after, .fan:after, .fastforward:after, .fax:after, .feather:after, .femaleuser:after, .file:after, .firewall:after, .fish:after, .fishes:after, .fivedie:after, .flag:after, .flame:after, .flash:after, .floorplan:after, .floppydisk:after, .flowertag:after, .fog:after, .folder:after, .font:after, .football:after, .fork:after, .forklift:after, .form:after, .fourdie:after, .fragile:after, .fuel:after, .garage:after, .gift:after, .globe:after, .globelocation:after, .golf:after, .gps:after, .grass:after, .gridlines:after, .hairdryer:after, .halfheart:after, .halfstar:after, .handbag:after, .hanger:after, .hdd:after, .headset:after, .heart:after, .heartbook:after, .heartmobile:after, .helicopter:after, .help:after, .highbattery:after, .highlight:after, .highvolume:after, .highway:after, .hiker:after, .hockey:after, .home:after, .hook:after, .horizontalbarchart:after, .hospital:after, .hotsauce:after, .housesale:after, .hyphen:after, .icecream:after, .iceskate:after, .importfile:after, .inbox:after, .index:after, .info:after, .intersection:after, .jerrycan:after, .jpg:after, .jumprope:after, .key:after, .knife:after, .laptop:after, .layers:after, .layout:after, .leaf:after, .left:after, .leftright:after, .leftward:after, .lightbulb:after, .lightbulbon:after, .like:after, .linechartclipboard:after, .linecharts:after, .link:after, .list:after, .loading:after, .location:after, .lock:after, .lockfile:after, .lockfolder:after, .lockmobile:after, .locomotive:after, .lodging:after, .login:after, .logout:after, .lowbattery:after, .lowvolume:after, .luggage:after, .mail:after, .map:after, .maplocation:after, .measuringcup:after, .medal:after, .medicalcross:after, .medicalthermometer:after, .mediumbattery:after, .megaphone:after, .merge:after, .mic:after, .moneybag:after, .motorcycle:after, .move:after, .moviefolder:after, .mug:after, .music:after, .musicopenbook:after, .navigate:after, .navigatedown:after, .navigateleft:after, .navigateright:after, .navigateup:after, .navigationmobile:after, .new:after, .newspaper:after, .nextpage:after, .noodles:after, .nosmoking:after, .notebook:after, .notepad:after, .notice:after, .notifications:after, .notificationsdisabled:after, .oliveoil:after, .onedie:after, .openbook:after, .openfolder:after, .outbox:after, .outlet:after, .oven:after, .page:after, .pagecurl:after, .paintroller:after, .palmtree:after, .partlycloudy:after, .passport:after, .pause:after, .pdf:after, .pen:after, .pepper:after, .percent:after, .phone:after, .phonedisabled:after, .phonemobile:after, .picnictable:after, .picture:after, .picturefile:after, .picturefolder:after, .piechart:after, .piechartthirds:after, .piggybank:after, .pill:after, .pillbottle:after, .pin:after, .pizza:after, .plane:after, .platter:after, .play:after, .playvideo:after, .plug:after, .plus:after, .png:after, .pool:after, .powermobile:after, .ppt:after, .previouspage:after, .pricetag:after, .print:after, .pushpin:after, .puzzle:after, .quote:after, .radio:after, .rain:after, .rainbow:after, .readonline:after, .realtyonline:after, .record:after, .redirect:after, .refresh:after, .reload:after, .removecalendar:after, .removecart:after, .removefile:after, .removeuser:after, .repeat:after, .replay:after, .reply:after, .retweet:after, .rewind:after, .ribbon:after, .right:after, .rightward:after, .road:after, .rocket:after, .rows:after, .rss:after, .rssmobile:after, .rubbereraser:after, .rubberstamp:after, .safe:after, .sailboat:after, .salt:after, .sample:after, .sausage:after, .scale:after, .scaledown:after, .scales:after, .scaleup:after, .scatterchart:after, .schooner:after, .screenshot:after, .search:after, .searchbarcode:after, .searchbook:after, .searchhouse:after, .securefolder:after, .seedling:after, .send:after, .settings:after, .settingsfile:after, .share:after, .shoponline:after, .shower:after, .shrimp:after, .shuffle:after, .sidedish:after, .signpost:after, .sixdie:after, .skipback:after, .skipforward:after, .skylift:after, .smartphone:after, .snowflake:after, .soccer:after, .solarpanel:after, .spaghetti:after, .spoonfork:after, .star:after, .steak:after, .steeringwheel:after, .stereo:after, .stethoscope:after, .stock:after, .stop:after, .stopwatch:after, .store:after, .stove:after, .suitcase:after, .sun:after, .sunscreen:after, .supplements:after, .sweep:after, .sync:after, .syringe:after, .tablet:after, .tabletennis:after, .tag:after, .tapemeasure:after, .target:after, .taxi:after, .tea:after, .teapot:after, .tennis:after, .text:after, .textfile:after, .textmobile:after, .thermometer:after, .thissideup:after, .threedie:after, .thumbnails:after, .thunderstorm:after, .tip:after, .tornado:after, .tractor:after, .trafficcamera:after, .trafficlight:after, .train:after, .traintunnel:after, .trash:after, .tree:after, .tropicalfish:after, .truck:after, .tunnel:after, .turkey:after, .twodie:after, .umbrella:after, .unlock:after, .up:after, .upleft:after, .upload:after, .uploadbox:after, .uploadcloud:after, .uploadcrate:after, .uploadfile:after, .uploadfolder:after, .upright:after, .upwardsbarchart:after, .upwardslinechart:after, .user:after, .userfile:after, .usergroup:after, .userprofile:after, .users:after, .utensils:after, .video:after, .view:after, .vinylrecord:after, .volume:after, .walkytalky:after, .warehouse:after, .watch:after, .waterbottle:after, .weather:after, .weatheronline:after, .weathervane:after, .weight:after, .wheelchair:after, .wifi:after, .wifibook:after, .wifimail:after, .wifiopenbook:after, .wind:after, .wineglass:after, .wineglasssparkle:after, .wrench:after, .write:after, .writingdisabled:after, .yoga:after, .zip:after, .zoomin:after, .zoomout:after, i {
  font-family: "SSPika";
}
