@charset "UTF-8";
/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*/
.action:after, .addcalendar:after, .airplay:after, .alert:after, .attach:after, .backspace:after, .ban:after, .barchart:after, .battery:after, .book:after, .bookmark:after, .box:after, .briefcase:after, .buildings:after, .calendar:after, .camera:after, .cart:after, .caution:after, .cell:after, .chat:after, .check:after, .checkcalendar:after, .clock:after, .cloud:after, .columns:after, .compass:after, .compose:after, .connection:after, .contract:after, .creditcard:after, .crop:after, .crosshair:after, .cursor:after, .dashboard:after, .database:after, .delete:after, .deletecalendar:after, .desktop:after, .directleft:after, .directright:after, .directup:after, .dislike:after, .dollarsign:after, .down:after, .downleft:after, .download:after, .downloadcloud:after, .downright:after, .dropdown:after, .droplet:after, .eject:after, .ellipsis:after, .ellipsischat:after, .emptybattery:after, .erase:after, .expand:after, .facetime:after, .fastforward:after, .fax:after, .femaleuser:after, .file:after, .fill:after, .filter:after, .flag:after, .flask:after, .folder:after, .font:after, .fork:after, .globe:after, .grid:after, .halfheart:after, .halfstar:after, .hdd:after, .heart:after, .help:after, .highbattery:after, .highvolume:after, .home:after, .hyphen:after, .inbox:after, .info:after, .key:after, .laptop:after, .layers:after, .layout:after, .left:after, .lightbulb:after, .like:after, .link:after, .list:after, .loading:after, .location:after, .lock:after, .logout:after, .lowbattery:after, .lowvolume:after, .mail:after, .map:after, .mediumbattery:after, .merge:after, .mic:after, .move:after, .music:after, .navigate:after, .navigatedown:after, .navigateleft:after, .navigateright:after, .navigateup:after, .newspaper:after, .notebook:after, .notifications:after, .notificationsdisabled:after, .openbook:after, .pause:after, .phone:after, .phonedisabled:after, .picture:after, .piechart:after, .pin:after, .play:after, .plus:after, .print:after, .quote:after, .record:after, .redirect:after, .refresh:after, .removecalendar:after, .repeat:after, .replay:after, .reply:after, .retweet:after, .rewind:after, .right:after, .rows:after, .rss:after, .sample:after, .search:after, .send:after, .settings:after, .shuffle:after, .signpost:after, .skipback:after, .skipforward:after, .star:after, .stop:after, .stopwatch:after, .stroke:after, .sync:after, .tablet:after, .tag:after, .target:after, .text:after, .thumbnails:after, .transfer:after, .trash:after, .unlock:after, .up:after, .upleft:after, .upload:after, .uploadcloud:after, .upright:after, .user:after, .users:after, .video:after, .view:after, .volume:after, .warehouse:after, .wifi:after, .write:after, .writingdisabled:after, .zoomin:after, .zoomout:after, i {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

html:hover .action:after, html:hover .addcalendar:after, html:hover .airplay:after, html:hover .alert:after, html:hover .attach:after, html:hover .backspace:after, html:hover .ban:after, html:hover .barchart:after, html:hover .battery:after, html:hover .book:after, html:hover .bookmark:after, html:hover .box:after, html:hover .briefcase:after, html:hover .buildings:after, html:hover .calendar:after, html:hover .camera:after, html:hover .cart:after, html:hover .caution:after, html:hover .cell:after, html:hover .chat:after, html:hover .check:after, html:hover .checkcalendar:after, html:hover .clock:after, html:hover .cloud:after, html:hover .columns:after, html:hover .compass:after, html:hover .compose:after, html:hover .connection:after, html:hover .contract:after, html:hover .creditcard:after, html:hover .crop:after, html:hover .crosshair:after, html:hover .cursor:after, html:hover .dashboard:after, html:hover .database:after, html:hover .delete:after, html:hover .deletecalendar:after, html:hover .desktop:after, html:hover .directleft:after, html:hover .directright:after, html:hover .directup:after, html:hover .dislike:after, html:hover .dollarsign:after, html:hover .down:after, html:hover .downleft:after, html:hover .download:after, html:hover .downloadcloud:after, html:hover .downright:after, html:hover .dropdown:after, html:hover .droplet:after, html:hover .eject:after, html:hover .ellipsis:after, html:hover .ellipsischat:after, html:hover .emptybattery:after, html:hover .erase:after, html:hover .expand:after, html:hover .facetime:after, html:hover .fastforward:after, html:hover .fax:after, html:hover .femaleuser:after, html:hover .file:after, html:hover .fill:after, html:hover .filter:after, html:hover .flag:after, html:hover .flask:after, html:hover .folder:after, html:hover .font:after, html:hover .fork:after, html:hover .globe:after, html:hover .grid:after, html:hover .halfheart:after, html:hover .halfstar:after, html:hover .hdd:after, html:hover .heart:after, html:hover .help:after, html:hover .highbattery:after, html:hover .highvolume:after, html:hover .home:after, html:hover .hyphen:after, html:hover .inbox:after, html:hover .info:after, html:hover .key:after, html:hover .laptop:after, html:hover .layers:after, html:hover .layout:after, html:hover .left:after, html:hover .lightbulb:after, html:hover .like:after, html:hover .link:after, html:hover .list:after, html:hover .loading:after, html:hover .location:after, html:hover .lock:after, html:hover .logout:after, html:hover .lowbattery:after, html:hover .lowvolume:after, html:hover .mail:after, html:hover .map:after, html:hover .mediumbattery:after, html:hover .merge:after, html:hover .mic:after, html:hover .move:after, html:hover .music:after, html:hover .navigate:after, html:hover .navigatedown:after, html:hover .navigateleft:after, html:hover .navigateright:after, html:hover .navigateup:after, html:hover .newspaper:after, html:hover .notebook:after, html:hover .notifications:after, html:hover .notificationsdisabled:after, html:hover .openbook:after, html:hover .pause:after, html:hover .phone:after, html:hover .phonedisabled:after, html:hover .picture:after, html:hover .piechart:after, html:hover .pin:after, html:hover .play:after, html:hover .plus:after, html:hover .print:after, html:hover .quote:after, html:hover .record:after, html:hover .redirect:after, html:hover .refresh:after, html:hover .removecalendar:after, html:hover .repeat:after, html:hover .replay:after, html:hover .reply:after, html:hover .retweet:after, html:hover .rewind:after, html:hover .right:after, html:hover .rows:after, html:hover .rss:after, html:hover .sample:after, html:hover .search:after, html:hover .send:after, html:hover .settings:after, html:hover .shuffle:after, html:hover .signpost:after, html:hover .skipback:after, html:hover .skipforward:after, html:hover .star:after, html:hover .stop:after, html:hover .stopwatch:after, html:hover .stroke:after, html:hover .sync:after, html:hover .tablet:after, html:hover .tag:after, html:hover .target:after, html:hover .text:after, html:hover .thumbnails:after, html:hover .transfer:after, html:hover .trash:after, html:hover .unlock:after, html:hover .up:after, html:hover .upleft:after, html:hover .upload:after, html:hover .uploadcloud:after, html:hover .upright:after, html:hover .user:after, html:hover .users:after, html:hover .video:after, html:hover .view:after, html:hover .volume:after, html:hover .warehouse:after, html:hover .wifi:after, html:hover .write:after, html:hover .writingdisabled:after, html:hover .zoomin:after, html:hover .zoomout:after, html:hover i {
  -ms-zoom: 1;
}

.action:after {
  content: '';
}

.addcalendar:after {
  content: '';
}

.airplay:after {
  content: '';
}

.alert:after {
  content: '⚠';
}

.attach:after {
  content: '📎';
}

.backspace:after {
  content: '⌫';
}

.ban:after {
  content: '🚫';
}

.barchart:after {
  content: '📊';
}

.battery:after {
  content: '🔋';
}

.book:after {
  content: '📕';
}

.bookmark:after {
  content: '🔖';
}

.box:after {
  content: '📦';
}

.briefcase:after {
  content: '💼';
}

.buildings:after {
  content: '🏢';
}

.calendar:after {
  content: '📅';
}

.camera:after {
  content: '📷';
}

.cart:after {
  content: '';
}

.caution:after {
  content: '⛔';
}

.cell:after {
  content: '📱';
}

.chat:after {
  content: '💬';
}

.check:after {
  content: '✓';
}

.checkcalendar:after {
  content: '';
}

.clock:after {
  content: '⏲';
}

.cloud:after {
  content: '☁';
}

.columns:after {
  content: '';
}

.compass:after {
  content: '';
}

.compose:after {
  content: '📝';
}

.connection:after {
  content: '';
}

.contract:after {
  content: '';
}

.creditcard:after {
  content: '💳';
}

.crop:after {
  content: '';
}

.crosshair:after {
  content: '⌖';
}

.cursor:after {
  content: '';
}

.dashboard:after {
  content: '';
}

.database:after {
  content: '';
}

.delete:after {
  content: '␡';
}

.deletecalendar:after {
  content: '';
}

.desktop:after {
  content: '💻';
}

.directleft:after {
  content: '◃';
}

.directright:after {
  content: '▹';
}

.directup:after {
  content: '▴';
}

.dislike:after {
  content: '👎';
}

.dollarsign:after {
  content: '💲';
}

.down:after {
  content: '⬇';
}

.downleft:after {
  content: '⬋';
}

.download:after {
  content: '';
}

.downloadcloud:after {
  content: '';
}

.downright:after {
  content: '⬊';
}

.dropdown:after {
  content: '▾';
}

.droplet:after {
  content: '💧';
}

.eject:after {
  content: '⏏';
}

.ellipsis:after {
  content: '…';
}

.ellipsischat:after {
  content: '';
}

.emptybattery:after {
  content: '';
}

.erase:after {
  content: '✐';
}

.expand:after {
  content: '⤢';
}

.facetime:after {
  content: '';
}

.fastforward:after {
  content: '⏩';
}

.fax:after {
  content: '📠';
}

.femaleuser:after {
  content: '👧';
}

.file:after {
  content: '📄';
}

.fill:after {
  content: '';
}

.filter:after {
  content: '';
}

.flag:after {
  content: '⚑';
}

.flask:after {
  content: '';
}

.folder:after {
  content: '📁';
}

.font:after {
  content: '';
}

.fork:after {
  content: '';
}

.globe:after {
  content: '🌎';
}

.grid:after {
  content: '';
}

.halfheart:after {
  content: '';
}

.halfstar:after {
  content: '';
}

.hdd:after {
  content: '';
}

.heart:after {
  content: '♥';
}

.help:after {
  content: '❓';
}

.highbattery:after {
  content: '';
}

.highvolume:after {
  content: '🔊';
}

.home:after {
  content: '⌂';
}

.hyphen:after {
  content: '-';
}

.inbox:after {
  content: '📥';
}

.info:after {
  content: 'ℹ';
}

.key:after {
  content: '🔑';
}

.laptop:after {
  content: '';
}

.layers:after {
  content: '';
}

.layout:after {
  content: '';
}

.left:after {
  content: '⬅';
}

.lightbulb:after {
  content: '💡';
}

.like:after {
  content: '👍';
}

.link:after {
  content: '🔗';
}

.list:after {
  content: '';
}

.loading:after {
  content: '';
}

.location:after {
  content: '';
}

.lock:after {
  content: '🔒';
}

.logout:after {
  content: '';
}

.lowbattery:after {
  content: '';
}

.lowvolume:after {
  content: '🔉';
}

.mail:after {
  content: '✉';
}

.map:after {
  content: '';
}

.mediumbattery:after {
  content: '';
}

.merge:after {
  content: '';
}

.mic:after {
  content: '🎤';
}

.move:after {
  content: '';
}

.music:after {
  content: '♫';
}

.navigate:after {
  content: '';
}

.navigatedown:after {
  content: '';
}

.navigateleft:after {
  content: '◅';
}

.navigateright:after {
  content: '▻';
}

.navigateup:after {
  content: '';
}

.newspaper:after {
  content: '📰';
}

.notebook:after {
  content: '📓';
}

.notifications:after {
  content: '🔔';
}

.notificationsdisabled:after {
  content: '🔕';
}

.openbook:after {
  content: '📖';
}

.pause:after {
  content: '';
}

.phone:after {
  content: '📞';
}

.phonedisabled:after {
  content: '';
}

.picture:after {
  content: '🌄';
}

.piechart:after {
  content: '';
}

.pin:after {
  content: '📍';
}

.play:after {
  content: '▶';
}

.plus:after {
  content: '+';
}

.print:after {
  content: '⎙';
}

.quote:after {
  content: '“';
}

.record:after {
  content: '●';
}

.redirect:after {
  content: '↪';
}

.refresh:after {
  content: '↻';
}

.removecalendar:after {
  content: '';
}

.repeat:after {
  content: '🔁';
}

.replay:after {
  content: '↺';
}

.reply:after {
  content: '↩';
}

.retweet:after {
  content: '';
}

.rewind:after {
  content: '⏪';
}

.right:after {
  content: '➡';
}

.rows:after {
  content: '';
}

.rss:after {
  content: '';
}

.sample:after {
  content: '';
}

.search:after {
  content: '🔎';
}

.send:after {
  content: '';
}

.settings:after {
  content: '⚙';
}

.shuffle:after {
  content: '🔀';
}

.signpost:after {
  content: '';
}

.skipback:after {
  content: '⏮';
}

.skipforward:after {
  content: '⏭';
}

.star:after {
  content: '⋆';
}

.stop:after {
  content: '■';
}

.stopwatch:after {
  content: '⏱';
}

.stroke:after {
  content: '';
}

.sync:after {
  content: '';
}

.tablet:after {
  content: '';
}

.tag:after {
  content: '';
}

.target:after {
  content: '◎';
}

.text:after {
  content: '';
}

.thumbnails:after {
  content: '';
}

.transfer:after {
  content: '⇆';
}

.trash:after {
  content: '';
}

.unlock:after {
  content: '🔓';
}

.up:after {
  content: '⬆';
}

.upleft:after {
  content: '⬉';
}

.upload:after {
  content: '';
}

.uploadcloud:after {
  content: '';
}

.upright:after {
  content: '⬈';
}

.user:after {
  content: '👤';
}

.users:after {
  content: '👥';
}

.video:after {
  content: '📹';
}

.view:after {
  content: '👀';
}

.volume:after {
  content: '🔈';
}

.warehouse:after {
  content: '';
}

.wifi:after {
  content: '';
}

.write:after {
  content: '✎';
}

.writingdisabled:after {
  content: '';
}

.zoomin:after {
  content: '';
}

.zoomout:after {
  content: '';
}

@font-face {
  font-family: "SSStandard";
  src: url("../../fonts/ss-standard/webfonts/ss-standard.eot");
  src: url("../../fonts/ss-standard/webfonts/ss-standard.eot?#iefix") format("embedded-opentype"), url("../../fonts/ss-standard/webfonts/ss-standard.woff") format("woff"), url("../../fonts/ss-standard/webfonts/ss-standard.ttf") format("truetype"), url("../../fonts/ss-standard/webfonts/ss-standard.svg#SSStandard") format("svg");
  font-weight: normal;
  font-style: normal;
}

.action:after, .addcalendar:after, .airplay:after, .alert:after, .attach:after, .backspace:after, .ban:after, .barchart:after, .battery:after, .book:after, .bookmark:after, .box:after, .briefcase:after, .buildings:after, .calendar:after, .camera:after, .cart:after, .caution:after, .cell:after, .chat:after, .check:after, .checkcalendar:after, .clock:after, .cloud:after, .columns:after, .compass:after, .compose:after, .connection:after, .contract:after, .creditcard:after, .crop:after, .crosshair:after, .cursor:after, .dashboard:after, .database:after, .delete:after, .deletecalendar:after, .desktop:after, .directleft:after, .directright:after, .directup:after, .dislike:after, .dollarsign:after, .down:after, .downleft:after, .download:after, .downloadcloud:after, .downright:after, .dropdown:after, .droplet:after, .eject:after, .ellipsis:after, .ellipsischat:after, .emptybattery:after, .erase:after, .expand:after, .facetime:after, .fastforward:after, .fax:after, .femaleuser:after, .file:after, .fill:after, .filter:after, .flag:after, .flask:after, .folder:after, .font:after, .fork:after, .globe:after, .grid:after, .halfheart:after, .halfstar:after, .hdd:after, .heart:after, .help:after, .highbattery:after, .highvolume:after, .home:after, .hyphen:after, .inbox:after, .info:after, .key:after, .laptop:after, .layers:after, .layout:after, .left:after, .lightbulb:after, .like:after, .link:after, .list:after, .loading:after, .location:after, .lock:after, .logout:after, .lowbattery:after, .lowvolume:after, .mail:after, .map:after, .mediumbattery:after, .merge:after, .mic:after, .move:after, .music:after, .navigate:after, .navigatedown:after, .navigateleft:after, .navigateright:after, .navigateup:after, .newspaper:after, .notebook:after, .notifications:after, .notificationsdisabled:after, .openbook:after, .pause:after, .phone:after, .phonedisabled:after, .picture:after, .piechart:after, .pin:after, .play:after, .plus:after, .print:after, .quote:after, .record:after, .redirect:after, .refresh:after, .removecalendar:after, .repeat:after, .replay:after, .reply:after, .retweet:after, .rewind:after, .right:after, .rows:after, .rss:after, .sample:after, .search:after, .send:after, .settings:after, .shuffle:after, .signpost:after, .skipback:after, .skipforward:after, .star:after, .stop:after, .stopwatch:after, .stroke:after, .sync:after, .tablet:after, .tag:after, .target:after, .text:after, .thumbnails:after, .transfer:after, .trash:after, .unlock:after, .up:after, .upleft:after, .upload:after, .uploadcloud:after, .upright:after, .user:after, .users:after, .video:after, .view:after, .volume:after, .warehouse:after, .wifi:after, .write:after, .writingdisabled:after, .zoomin:after, .zoomout:after, i {
  font-family: "SSStandard";
}
