@charset "UTF-8";
/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*/
.action:after, .activity:after, .adddatabase:after, .addfile:after, .addfolder:after, .addheart:after, .addressbook:after, .adduser:after, .airplay:after, .alarmclock:after, .album:after, .alert:after, .alien:after, .anchor:after, .apple:after, .atom:after, .award:after, .baby:after, .babybottle:after, .backspace:after, .badge:after, .balloons:after, .ban:after, .bandage:after, .bank:after, .banknote:after, .barchart:after, .barn:after, .baseball:after, .basketball:after, .battery:after, .bearface:after, .beer:after, .bezier:after, .bike:after, .bill:after, .billiards:after, .binoculars:after, .bird:after, .birthdaycake:after, .blocks:after, .boat:after, .bone:after, .bookinsert:after, .books:after, .bookspencil:after, .bottle:after, .box:after, .bridge:after, .briefcase:after, .brightness:after, .brush:after, .brushmobile:after, .bug:after, .buildings:after, .bullseye:after, .burger:after, .bus:after, .button:after, .calculator:after, .calendar:after, .camera:after, .campfire:after, .candle:after, .car:after, .carrepair:after, .cart:after, .catface:after, .caution:after, .cell:after, .cellbars:after, .cfl:after, .chargingbattery:after, .chat:after, .chats:after, .check:after, .cheese:after, .christmastree:after, .clapboard:after, .clipboard:after, .clock:after, .cocktail:after, .coffee:after, .compass:after, .compose:after, .connection:after, .contacts:after, .contract:after, .crate:after, .crayons:after, .creditcard:after, .crescentmoon:after, .crochet:after, .crop:after, .crosshair:after, .crown:after, .cup:after, .cut:after, .cutpaste:after, .dashboard:after, .database:after, .delete:after, .deletedatabase:after, .deletefile:after, .deletefolder:after, .deleteheart:after, .deleteuser:after, .desktop:after, .diaper:after, .disc:after, .discs:after, .dislike:after, .dog:after, .dogface:after, .door:after, .down:after, .download:after, .downloadbox:after, .downloadcrate:after, .downloadfolder:after, .downloadhdd:after, .dryer:after, .earth:after, .easteregg:after, .effects:after, .egg:after, .eject:after, .elevator:after, .ellipsischat:after, .emptybattery:after, .exclamationchat:after, .exercise:after, .expand:after, .fabric:after, .fastforward:after, .fax:after, .females:after, .fence:after, .filecabinet:after, .files:after, .fill:after, .film:after, .filter:after, .fireplace:after, .firstquartermoon:after, .fivedie:after, .flag:after, .flaginhole:after, .flashlight:after, .flashoff:after, .flask:after, .flatscreen:after, .fliphorizontally:after, .flipvertically:after, .flowchart:after, .flower:after, .flowerframe:after, .fluxcapacitor:after, .folder:after, .font:after, .football:after, .footsteps:after, .fourdie:after, .frame:after, .frenchfries:after, .frown:after, .fuel:after, .fullmoon:after, .fuzzydice:after, .gavel:after, .ghost:after, .gift:after, .globe:after, .golf:after, .graduationcap:after, .grid:after, .gridlines:after, .growler:after, .hammerscrewdriver:after, .happyrobot:after, .hdd:after, .headphones:after, .headstone:after, .heart:after, .heartframe:after, .heartuser:after, .heavyasterisk:after, .help:after, .hiker:after, .home:after, .hospital:after, .hotdog:after, .hottub:after, .hourglass:after, .hyphen:after, .inbox:after, .incomingmail:after, .info:after, .itunes:after, .jackolantern:after, .jug:after, .key:after, .keyboarddown:after, .keyboardup:after, .laptop:after, .lastquartermoon:after, .layers:after, .leaf:after, .ledger:after, .left:after, .lifepreserver:after, .lightbulb:after, .lightning:after, .like:after, .link:after, .list:after, .location:after, .lock:after, .lodging:after, .magicwand:after, .mail:after, .mailbox:after, .malefemale:after, .males:after, .map:after, .medal:after, .medicalbag:after, .medicalcross:after, .mediumbattery:after, .meeting:after, .megaphone:after, .menorah:after, .mic:after, .moneybag:after, .motorcycle:after, .mug:after, .music:after, .musichome:after, .navigatedown:after, .navigateleft:after, .navigateright:after, .navigateup:after, .needles:after, .networkhdd:after, .newmoon:after, .newspaper:after, .newtag:after, .nosmoking:after, .notebook:after, .notepad:after, .notice:after, .notifications:after, .onedie:after, .openbook:after, .outbox:after, .oven:after, .paddles:after, .pailshovel:after, .paintroller:after, .palette:after, .palmtree:after, .pancakes:after, .paperbag:after, .parking:after, .partlycloudy:after, .pause:after, .pen:after, .pencilbrush:after, .pencilbrushpen:after, .pencilmobile:after, .phone:after, .phonebook:after, .phonograph:after, .picnictable:after, .picture:after, .pictures:after, .piechart:after, .pig:after, .pixels:after, .pizza:after, .plane:after, .play:after, .playfilm:after, .playlist:after, .playscript:after, .plus:after, .podcast:after, .power:after, .print:after, .projector:after, .pushpin:after, .puzzle:after, .questionchat:after, .questionframe:after, .quote:after, .radio:after, .radioactive:after, .rainbow:after, .raisedhand:after, .rattle:after, .record:after, .recordscript:after, .redirect:after, .redo:after, .refresh:after, .removefile:after, .removefolder:after, .removeuser:after, .restroom:after, .rewind:after, .right:after, .rings:after, .robot:after, .rocket:after, .rotaryphone:after, .rss:after, .rulerpencil:after, .rules:after, .runner:after, .safe:after, .sample:after, .scaledown:after, .scaleup:after, .scissorsneedles:after, .screwdrivermobile:after, .screwdriverpencil:after, .script:after, .search:after, .searchfile:after, .searchpicture:after, .send:after, .settings:after, .share:after, .sheep:after, .shoppingbag:after, .shredder:after, .shuffle:after, .signpost:after, .sixdie:after, .skiboot:after, .skipback:after, .skipforward:after, .skis:after, .skull:after, .smile:after, .soccer:after, .soda:after, .spiralbound:after, .squarekey:after, .stamp:after, .star:after, .starframe:after, .stop:after, .stopscript:after, .stopsign:after, .stopwatch:after, .storagebox:after, .store:after, .stroke:after, .sun:after, .swaddledbaby:after, .swatch:after, .sweep:after, .switch:after, .switchoff:after, .sync:after, .tablet:after, .tag:after, .takeout:after, .tapemeasure:after, .target:after, .taxi:after, .teddy:after, .tennis:after, .testtube:after, .textchat:after, .theatre:after, .thread:after, .threedie:after, .thumbnails:after, .ticket:after, .tire:after, .toggles:after, .toilet:after, .toiletpaper:after, .toolbox:after, .tools:after, .tooth:after, .toothlesssmile:after, .toothsmile:after, .touchtonephone:after, .trailer:after, .trailerdump:after, .train:after, .transfer:after, .trash:after, .tree:after, .treeframe:after, .trophy:after, .truck:after, .tshirt:after, .tv:after, .twodie:after, .typewriter:after, .ufo:after, .umbrella:after, .undo:after, .unlock:after, .up:after, .upload:after, .uploadbox:after, .uploadcrate:after, .uploadfolder:after, .usb:after, .user:after, .userframe:after, .userportrait:after, .users:after, .usersframe:after, .utensils:after, .utensilsframe:after, .video:after, .videogame:after, .voicemail:after, .volume:after, .waningcrescentmoon:after, .waninggibbousmoon:after, .washer:after, .waxingcrescentmoon:after, .waxinggibbousmoon:after, .weave:after, .wheelchair:after, .wifi:after, .window:after, .wine:after, .wineglass:after, .wrench:after, .wrenches:after, .wrenchpencil:after, .write:after, .yarn:after, .zipper:after, .zoomin:after, .zoomout:after, i {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

html:hover .action:after, html:hover .activity:after, html:hover .adddatabase:after, html:hover .addfile:after, html:hover .addfolder:after, html:hover .addheart:after, html:hover .addressbook:after, html:hover .adduser:after, html:hover .airplay:after, html:hover .alarmclock:after, html:hover .album:after, html:hover .alert:after, html:hover .alien:after, html:hover .anchor:after, html:hover .apple:after, html:hover .atom:after, html:hover .award:after, html:hover .baby:after, html:hover .babybottle:after, html:hover .backspace:after, html:hover .badge:after, html:hover .balloons:after, html:hover .ban:after, html:hover .bandage:after, html:hover .bank:after, html:hover .banknote:after, html:hover .barchart:after, html:hover .barn:after, html:hover .baseball:after, html:hover .basketball:after, html:hover .battery:after, html:hover .bearface:after, html:hover .beer:after, html:hover .bezier:after, html:hover .bike:after, html:hover .bill:after, html:hover .billiards:after, html:hover .binoculars:after, html:hover .bird:after, html:hover .birthdaycake:after, html:hover .blocks:after, html:hover .boat:after, html:hover .bone:after, html:hover .bookinsert:after, html:hover .books:after, html:hover .bookspencil:after, html:hover .bottle:after, html:hover .box:after, html:hover .bridge:after, html:hover .briefcase:after, html:hover .brightness:after, html:hover .brush:after, html:hover .brushmobile:after, html:hover .bug:after, html:hover .buildings:after, html:hover .bullseye:after, html:hover .burger:after, html:hover .bus:after, html:hover .button:after, html:hover .calculator:after, html:hover .calendar:after, html:hover .camera:after, html:hover .campfire:after, html:hover .candle:after, html:hover .car:after, html:hover .carrepair:after, html:hover .cart:after, html:hover .catface:after, html:hover .caution:after, html:hover .cell:after, html:hover .cellbars:after, html:hover .cfl:after, html:hover .chargingbattery:after, html:hover .chat:after, html:hover .chats:after, html:hover .check:after, html:hover .cheese:after, html:hover .christmastree:after, html:hover .clapboard:after, html:hover .clipboard:after, html:hover .clock:after, html:hover .cocktail:after, html:hover .coffee:after, html:hover .compass:after, html:hover .compose:after, html:hover .connection:after, html:hover .contacts:after, html:hover .contract:after, html:hover .crate:after, html:hover .crayons:after, html:hover .creditcard:after, html:hover .crescentmoon:after, html:hover .crochet:after, html:hover .crop:after, html:hover .crosshair:after, html:hover .crown:after, html:hover .cup:after, html:hover .cut:after, html:hover .cutpaste:after, html:hover .dashboard:after, html:hover .database:after, html:hover .delete:after, html:hover .deletedatabase:after, html:hover .deletefile:after, html:hover .deletefolder:after, html:hover .deleteheart:after, html:hover .deleteuser:after, html:hover .desktop:after, html:hover .diaper:after, html:hover .disc:after, html:hover .discs:after, html:hover .dislike:after, html:hover .dog:after, html:hover .dogface:after, html:hover .door:after, html:hover .down:after, html:hover .download:after, html:hover .downloadbox:after, html:hover .downloadcrate:after, html:hover .downloadfolder:after, html:hover .downloadhdd:after, html:hover .dryer:after, html:hover .earth:after, html:hover .easteregg:after, html:hover .effects:after, html:hover .egg:after, html:hover .eject:after, html:hover .elevator:after, html:hover .ellipsischat:after, html:hover .emptybattery:after, html:hover .exclamationchat:after, html:hover .exercise:after, html:hover .expand:after, html:hover .fabric:after, html:hover .fastforward:after, html:hover .fax:after, html:hover .females:after, html:hover .fence:after, html:hover .filecabinet:after, html:hover .files:after, html:hover .fill:after, html:hover .film:after, html:hover .filter:after, html:hover .fireplace:after, html:hover .firstquartermoon:after, html:hover .fivedie:after, html:hover .flag:after, html:hover .flaginhole:after, html:hover .flashlight:after, html:hover .flashoff:after, html:hover .flask:after, html:hover .flatscreen:after, html:hover .fliphorizontally:after, html:hover .flipvertically:after, html:hover .flowchart:after, html:hover .flower:after, html:hover .flowerframe:after, html:hover .fluxcapacitor:after, html:hover .folder:after, html:hover .font:after, html:hover .football:after, html:hover .footsteps:after, html:hover .fourdie:after, html:hover .frame:after, html:hover .frenchfries:after, html:hover .frown:after, html:hover .fuel:after, html:hover .fullmoon:after, html:hover .fuzzydice:after, html:hover .gavel:after, html:hover .ghost:after, html:hover .gift:after, html:hover .globe:after, html:hover .golf:after, html:hover .graduationcap:after, html:hover .grid:after, html:hover .gridlines:after, html:hover .growler:after, html:hover .hammerscrewdriver:after, html:hover .happyrobot:after, html:hover .hdd:after, html:hover .headphones:after, html:hover .headstone:after, html:hover .heart:after, html:hover .heartframe:after, html:hover .heartuser:after, html:hover .heavyasterisk:after, html:hover .help:after, html:hover .hiker:after, html:hover .home:after, html:hover .hospital:after, html:hover .hotdog:after, html:hover .hottub:after, html:hover .hourglass:after, html:hover .hyphen:after, html:hover .inbox:after, html:hover .incomingmail:after, html:hover .info:after, html:hover .itunes:after, html:hover .jackolantern:after, html:hover .jug:after, html:hover .key:after, html:hover .keyboarddown:after, html:hover .keyboardup:after, html:hover .laptop:after, html:hover .lastquartermoon:after, html:hover .layers:after, html:hover .leaf:after, html:hover .ledger:after, html:hover .left:after, html:hover .lifepreserver:after, html:hover .lightbulb:after, html:hover .lightning:after, html:hover .like:after, html:hover .link:after, html:hover .list:after, html:hover .location:after, html:hover .lock:after, html:hover .lodging:after, html:hover .magicwand:after, html:hover .mail:after, html:hover .mailbox:after, html:hover .malefemale:after, html:hover .males:after, html:hover .map:after, html:hover .medal:after, html:hover .medicalbag:after, html:hover .medicalcross:after, html:hover .mediumbattery:after, html:hover .meeting:after, html:hover .megaphone:after, html:hover .menorah:after, html:hover .mic:after, html:hover .moneybag:after, html:hover .motorcycle:after, html:hover .mug:after, html:hover .music:after, html:hover .musichome:after, html:hover .navigatedown:after, html:hover .navigateleft:after, html:hover .navigateright:after, html:hover .navigateup:after, html:hover .needles:after, html:hover .networkhdd:after, html:hover .newmoon:after, html:hover .newspaper:after, html:hover .newtag:after, html:hover .nosmoking:after, html:hover .notebook:after, html:hover .notepad:after, html:hover .notice:after, html:hover .notifications:after, html:hover .onedie:after, html:hover .openbook:after, html:hover .outbox:after, html:hover .oven:after, html:hover .paddles:after, html:hover .pailshovel:after, html:hover .paintroller:after, html:hover .palette:after, html:hover .palmtree:after, html:hover .pancakes:after, html:hover .paperbag:after, html:hover .parking:after, html:hover .partlycloudy:after, html:hover .pause:after, html:hover .pen:after, html:hover .pencilbrush:after, html:hover .pencilbrushpen:after, html:hover .pencilmobile:after, html:hover .phone:after, html:hover .phonebook:after, html:hover .phonograph:after, html:hover .picnictable:after, html:hover .picture:after, html:hover .pictures:after, html:hover .piechart:after, html:hover .pig:after, html:hover .pixels:after, html:hover .pizza:after, html:hover .plane:after, html:hover .play:after, html:hover .playfilm:after, html:hover .playlist:after, html:hover .playscript:after, html:hover .plus:after, html:hover .podcast:after, html:hover .power:after, html:hover .print:after, html:hover .projector:after, html:hover .pushpin:after, html:hover .puzzle:after, html:hover .questionchat:after, html:hover .questionframe:after, html:hover .quote:after, html:hover .radio:after, html:hover .radioactive:after, html:hover .rainbow:after, html:hover .raisedhand:after, html:hover .rattle:after, html:hover .record:after, html:hover .recordscript:after, html:hover .redirect:after, html:hover .redo:after, html:hover .refresh:after, html:hover .removefile:after, html:hover .removefolder:after, html:hover .removeuser:after, html:hover .restroom:after, html:hover .rewind:after, html:hover .right:after, html:hover .rings:after, html:hover .robot:after, html:hover .rocket:after, html:hover .rotaryphone:after, html:hover .rss:after, html:hover .rulerpencil:after, html:hover .rules:after, html:hover .runner:after, html:hover .safe:after, html:hover .sample:after, html:hover .scaledown:after, html:hover .scaleup:after, html:hover .scissorsneedles:after, html:hover .screwdrivermobile:after, html:hover .screwdriverpencil:after, html:hover .script:after, html:hover .search:after, html:hover .searchfile:after, html:hover .searchpicture:after, html:hover .send:after, html:hover .settings:after, html:hover .share:after, html:hover .sheep:after, html:hover .shoppingbag:after, html:hover .shredder:after, html:hover .shuffle:after, html:hover .signpost:after, html:hover .sixdie:after, html:hover .skiboot:after, html:hover .skipback:after, html:hover .skipforward:after, html:hover .skis:after, html:hover .skull:after, html:hover .smile:after, html:hover .soccer:after, html:hover .soda:after, html:hover .spiralbound:after, html:hover .squarekey:after, html:hover .stamp:after, html:hover .star:after, html:hover .starframe:after, html:hover .stop:after, html:hover .stopscript:after, html:hover .stopsign:after, html:hover .stopwatch:after, html:hover .storagebox:after, html:hover .store:after, html:hover .stroke:after, html:hover .sun:after, html:hover .swaddledbaby:after, html:hover .swatch:after, html:hover .sweep:after, html:hover .switch:after, html:hover .switchoff:after, html:hover .sync:after, html:hover .tablet:after, html:hover .tag:after, html:hover .takeout:after, html:hover .tapemeasure:after, html:hover .target:after, html:hover .taxi:after, html:hover .teddy:after, html:hover .tennis:after, html:hover .testtube:after, html:hover .textchat:after, html:hover .theatre:after, html:hover .thread:after, html:hover .threedie:after, html:hover .thumbnails:after, html:hover .ticket:after, html:hover .tire:after, html:hover .toggles:after, html:hover .toilet:after, html:hover .toiletpaper:after, html:hover .toolbox:after, html:hover .tools:after, html:hover .tooth:after, html:hover .toothlesssmile:after, html:hover .toothsmile:after, html:hover .touchtonephone:after, html:hover .trailer:after, html:hover .trailerdump:after, html:hover .train:after, html:hover .transfer:after, html:hover .trash:after, html:hover .tree:after, html:hover .treeframe:after, html:hover .trophy:after, html:hover .truck:after, html:hover .tshirt:after, html:hover .tv:after, html:hover .twodie:after, html:hover .typewriter:after, html:hover .ufo:after, html:hover .umbrella:after, html:hover .undo:after, html:hover .unlock:after, html:hover .up:after, html:hover .upload:after, html:hover .uploadbox:after, html:hover .uploadcrate:after, html:hover .uploadfolder:after, html:hover .usb:after, html:hover .user:after, html:hover .userframe:after, html:hover .userportrait:after, html:hover .users:after, html:hover .usersframe:after, html:hover .utensils:after, html:hover .utensilsframe:after, html:hover .video:after, html:hover .videogame:after, html:hover .voicemail:after, html:hover .volume:after, html:hover .waningcrescentmoon:after, html:hover .waninggibbousmoon:after, html:hover .washer:after, html:hover .waxingcrescentmoon:after, html:hover .waxinggibbousmoon:after, html:hover .weave:after, html:hover .wheelchair:after, html:hover .wifi:after, html:hover .window:after, html:hover .wine:after, html:hover .wineglass:after, html:hover .wrench:after, html:hover .wrenches:after, html:hover .wrenchpencil:after, html:hover .write:after, html:hover .yarn:after, html:hover .zipper:after, html:hover .zoomin:after, html:hover .zoomout:after, html:hover i {
  -ms-zoom: 1;
}

.action:after {
  content: '';
}

.activity:after {
  content: '📈';
}

.adddatabase:after {
  content: '';
}

.addfile:after {
  content: '';
}

.addfolder:after {
  content: '';
}

.addheart:after {
  content: '';
}

.addressbook:after {
  content: '📑';
}

.adduser:after {
  content: '';
}

.airplay:after {
  content: '';
}

.alarmclock:after {
  content: '⏰';
}

.album:after {
  content: '';
}

.alert:after {
  content: '⚠';
}

.alien:after {
  content: '👽';
}

.anchor:after {
  content: '';
}

.apple:after {
  content: '🍏';
}

.atom:after {
  content: '⚛';
}

.award:after {
  content: '';
}

.baby:after {
  content: '👶';
}

.babybottle:after {
  content: '🍼';
}

.backspace:after {
  content: '⌫';
}

.badge:after {
  content: '📛';
}

.balloons:after {
  content: '🎈';
}

.ban:after {
  content: '🚫';
}

.bandage:after {
  content: '';
}

.bank:after {
  content: '🏦';
}

.banknote:after {
  content: '💵';
}

.barchart:after {
  content: '📊';
}

.barn:after {
  content: '';
}

.baseball:after {
  content: '⚾';
}

.basketball:after {
  content: '🏀';
}

.battery:after {
  content: '🔋';
}

.bearface:after {
  content: '🐻';
}

.beer:after {
  content: '🍺';
}

.bezier:after {
  content: '';
}

.bike:after {
  content: '🚲';
}

.bill:after {
  content: '';
}

.billiards:after {
  content: '🎱';
}

.binoculars:after {
  content: '';
}

.bird:after {
  content: '🐦';
}

.birthdaycake:after {
  content: '🎂';
}

.blocks:after {
  content: '';
}

.boat:after {
  content: '🚢';
}

.bone:after {
  content: '';
}

.bookinsert:after {
  content: '';
}

.books:after {
  content: '📚';
}

.bookspencil:after {
  content: '';
}

.bottle:after {
  content: '';
}

.box:after {
  content: '📦';
}

.bridge:after {
  content: '';
}

.briefcase:after {
  content: '💼';
}

.brightness:after {
  content: '🔆';
}

.brush:after {
  content: '';
}

.brushmobile:after {
  content: '';
}

.bug:after {
  content: '🐛';
}

.buildings:after {
  content: '🏢';
}

.bullseye:after {
  content: '🎯';
}

.burger:after {
  content: '🍔';
}

.bus:after {
  content: '🚍';
}

.button:after {
  content: '';
}

.calculator:after {
  content: '';
}

.calendar:after {
  content: '📅';
}

.camera:after {
  content: '📷';
}

.campfire:after {
  content: '🔥';
}

.candle:after {
  content: '';
}

.car:after {
  content: '🚘';
}

.carrepair:after {
  content: '';
}

.cart:after {
  content: '';
}

.catface:after {
  content: '🐱';
}

.caution:after {
  content: '⛔';
}

.cell:after {
  content: '📱';
}

.cellbars:after {
  content: '📶';
}

.cfl:after {
  content: '';
}

.chargingbattery:after {
  content: '';
}

.chat:after {
  content: '💬';
}

.chats:after {
  content: '';
}

.check:after {
  content: '✓';
}

.cheese:after {
  content: '';
}

.christmastree:after {
  content: '🎄';
}

.clapboard:after {
  content: '🎬';
}

.clipboard:after {
  content: '📋';
}

.clock:after {
  content: '⏲';
}

.cocktail:after {
  content: '🍸';
}

.coffee:after {
  content: '';
}

.compass:after {
  content: '';
}

.compose:after {
  content: '📝';
}

.connection:after {
  content: '';
}

.contacts:after {
  content: '📇';
}

.contract:after {
  content: '';
}

.crate:after {
  content: '';
}

.crayons:after {
  content: '';
}

.creditcard:after {
  content: '💳';
}

.crescentmoon:after {
  content: '🌙';
}

.crochet:after {
  content: '';
}

.crop:after {
  content: '';
}

.crosshair:after {
  content: '⌖';
}

.crown:after {
  content: '👑';
}

.cup:after {
  content: '';
}

.cut:after {
  content: '✂';
}

.cutpaste:after {
  content: '';
}

.dashboard:after {
  content: '';
}

.database:after {
  content: '';
}

.delete:after {
  content: '␡';
}

.deletedatabase:after {
  content: '';
}

.deletefile:after {
  content: '';
}

.deletefolder:after {
  content: '';
}

.deleteheart:after {
  content: '💔';
}

.deleteuser:after {
  content: '';
}

.desktop:after {
  content: '💻';
}

.diaper:after {
  content: '';
}

.disc:after {
  content: '💿';
}

.discs:after {
  content: '';
}

.dislike:after {
  content: '👎';
}

.dog:after {
  content: '🐕';
}

.dogface:after {
  content: '🐶';
}

.door:after {
  content: '🚪';
}

.down:after {
  content: '⬇';
}

.download:after {
  content: '';
}

.downloadbox:after {
  content: '';
}

.downloadcrate:after {
  content: '';
}

.downloadfolder:after {
  content: '';
}

.downloadhdd:after {
  content: '';
}

.dryer:after {
  content: '';
}

.earth:after {
  content: '🌎';
}

.easteregg:after {
  content: '';
}

.effects:after {
  content: '';
}

.egg:after {
  content: '';
}

.eject:after {
  content: '⏏';
}

.elevator:after {
  content: '';
}

.ellipsischat:after {
  content: '';
}

.emptybattery:after {
  content: '';
}

.exclamationchat:after {
  content: '';
}

.exercise:after {
  content: '';
}

.expand:after {
  content: '⤢';
}

.fabric:after {
  content: '';
}

.fastforward:after {
  content: '⏩';
}

.fax:after {
  content: '📠';
}

.females:after {
  content: '👭';
}

.fence:after {
  content: '';
}

.filecabinet:after {
  content: '';
}

.files:after {
  content: '';
}

.fill:after {
  content: '';
}

.film:after {
  content: '';
}

.filter:after {
  content: '';
}

.fireplace:after {
  content: '';
}

.firstquartermoon:after {
  content: '🌓';
}

.fivedie:after {
  content: '⚄';
}

.flag:after {
  content: '⚑';
}

.flaginhole:after {
  content: '⛳';
}

.flashlight:after {
  content: '🔦';
}

.flashoff:after {
  content: '';
}

.flask:after {
  content: '';
}

.flatscreen:after {
  content: '';
}

.fliphorizontally:after {
  content: '';
}

.flipvertically:after {
  content: '';
}

.flowchart:after {
  content: '';
}

.flower:after {
  content: '⚘';
}

.flowerframe:after {
  content: '';
}

.fluxcapacitor:after {
  content: '';
}

.folder:after {
  content: '📁';
}

.font:after {
  content: '';
}

.football:after {
  content: '🏈';
}

.footsteps:after {
  content: '👣';
}

.fourdie:after {
  content: '⚃';
}

.frame:after {
  content: '';
}

.frenchfries:after {
  content: '🍟';
}

.frown:after {
  content: '☹';
}

.fuel:after {
  content: '⛽';
}

.fullmoon:after {
  content: '🌕';
}

.fuzzydice:after {
  content: '';
}

.gavel:after {
  content: '🔨';
}

.ghost:after {
  content: '👻';
}

.gift:after {
  content: '🎁';
}

.globe:after {
  content: '🌐';
}

.golf:after {
  content: '';
}

.graduationcap:after {
  content: '🎓';
}

.grid:after {
  content: '';
}

.gridlines:after {
  content: '';
}

.growler:after {
  content: '';
}

.hammerscrewdriver:after {
  content: '';
}

.happyrobot:after {
  content: '';
}

.hdd:after {
  content: '';
}

.headphones:after {
  content: '🎧';
}

.headstone:after {
  content: '⛼';
}

.heart:after {
  content: '♥';
}

.heartframe:after {
  content: '💟';
}

.heartuser:after {
  content: '';
}

.heavyasterisk:after {
  content: '✱';
}

.help:after {
  content: '❓';
}

.hiker:after {
  content: '';
}

.home:after {
  content: '⌂';
}

.hospital:after {
  content: '⛨';
}

.hotdog:after {
  content: '';
}

.hottub:after {
  content: '';
}

.hourglass:after {
  content: '⏳';
}

.hyphen:after {
  content: '-';
}

.inbox:after {
  content: '📥';
}

.incomingmail:after {
  content: '📩';
}

.info:after {
  content: 'ℹ';
}

.itunes:after {
  content: '';
}

.jackolantern:after {
  content: '🎃';
}

.jug:after {
  content: '';
}

.key:after {
  content: '🔑';
}

.keyboarddown:after {
  content: '';
}

.keyboardup:after {
  content: '';
}

.laptop:after {
  content: '';
}

.lastquartermoon:after {
  content: '🌗';
}

.layers:after {
  content: '';
}

.leaf:after {
  content: '🍂';
}

.ledger:after {
  content: '📒';
}

.left:after {
  content: '⬅';
}

.lifepreserver:after {
  content: '';
}

.lightbulb:after {
  content: '💡';
}

.lightning:after {
  content: '☇';
}

.like:after {
  content: '👍';
}

.link:after {
  content: '🔗';
}

.list:after {
  content: '';
}

.location:after {
  content: '';
}

.lock:after {
  content: '🔒';
}

.lodging:after {
  content: '🏨';
}

.magicwand:after {
  content: '';
}

.mail:after {
  content: '✉';
}

.mailbox:after {
  content: '📫';
}

.malefemale:after {
  content: '👫';
}

.males:after {
  content: '👬';
}

.map:after {
  content: '';
}

.medal:after {
  content: '';
}

.medicalbag:after {
  content: '';
}

.medicalcross:after {
  content: '';
}

.mediumbattery:after {
  content: '';
}

.meeting:after {
  content: '';
}

.megaphone:after {
  content: '📢';
}

.menorah:after {
  content: '';
}

.mic:after {
  content: '🎤';
}

.moneybag:after {
  content: '💰';
}

.motorcycle:after {
  content: '';
}

.mug:after {
  content: '☕';
}

.music:after {
  content: '♫';
}

.musichome:after {
  content: '';
}

.navigatedown:after {
  content: '';
}

.navigateleft:after {
  content: '◅';
}

.navigateright:after {
  content: '▻';
}

.navigateup:after {
  content: '';
}

.needles:after {
  content: '';
}

.networkhdd:after {
  content: '';
}

.newmoon:after {
  content: '🌑';
}

.newspaper:after {
  content: '📰';
}

.newtag:after {
  content: '';
}

.nosmoking:after {
  content: '🚭';
}

.notebook:after {
  content: '📓';
}

.notepad:after {
  content: '';
}

.notice:after {
  content: '';
}

.notifications:after {
  content: '🔔';
}

.onedie:after {
  content: '⚀';
}

.openbook:after {
  content: '📖';
}

.outbox:after {
  content: '📤';
}

.oven:after {
  content: '';
}

.paddles:after {
  content: '';
}

.pailshovel:after {
  content: '';
}

.paintroller:after {
  content: '';
}

.palette:after {
  content: '🎨';
}

.palmtree:after {
  content: '🌴';
}

.pancakes:after {
  content: '';
}

.paperbag:after {
  content: '';
}

.parking:after {
  content: '';
}

.partlycloudy:after {
  content: '⛅';
}

.pause:after {
  content: '';
}

.pen:after {
  content: '✒';
}

.pencilbrush:after {
  content: '';
}

.pencilbrushpen:after {
  content: '';
}

.pencilmobile:after {
  content: '';
}

.phone:after {
  content: '📞';
}

.phonebook:after {
  content: '';
}

.phonograph:after {
  content: '';
}

.picnictable:after {
  content: '';
}

.picture:after {
  content: '🌄';
}

.pictures:after {
  content: '';
}

.piechart:after {
  content: '';
}

.pig:after {
  content: '🐖';
}

.pixels:after {
  content: '';
}

.pizza:after {
  content: '🍕';
}

.plane:after {
  content: '✈';
}

.play:after {
  content: '▶';
}

.playfilm:after {
  content: '';
}

.playlist:after {
  content: '';
}

.playscript:after {
  content: '';
}

.plus:after {
  content: '+';
}

.podcast:after {
  content: '';
}

.power:after {
  content: '';
}

.print:after {
  content: '⎙';
}

.projector:after {
  content: '';
}

.pushpin:after {
  content: '📌';
}

.puzzle:after {
  content: '';
}

.questionchat:after {
  content: '';
}

.questionframe:after {
  content: '';
}

.quote:after {
  content: '“';
}

.radio:after {
  content: '📻';
}

.radioactive:after {
  content: '☢';
}

.rainbow:after {
  content: '🌈';
}

.raisedhand:after {
  content: '✋';
}

.rattle:after {
  content: '';
}

.record:after {
  content: '●';
}

.recordscript:after {
  content: '';
}

.redirect:after {
  content: '↗';
}

.redo:after {
  content: '↪';
}

.refresh:after {
  content: '↻';
}

.removefile:after {
  content: '';
}

.removefolder:after {
  content: '';
}

.removeuser:after {
  content: '';
}

.restroom:after {
  content: '🚻';
}

.rewind:after {
  content: '⏪';
}

.right:after {
  content: '➡';
}

.rings:after {
  content: '💍';
}

.robot:after {
  content: '';
}

.rocket:after {
  content: '🚀';
}

.rotaryphone:after {
  content: '☎';
}

.rss:after {
  content: '';
}

.rulerpencil:after {
  content: '';
}

.rules:after {
  content: '📏';
}

.runner:after {
  content: '🏃';
}

.safe:after {
  content: '';
}

.sample:after {
  content: '';
}

.scaledown:after {
  content: '';
}

.scaleup:after {
  content: '';
}

.scissorsneedles:after {
  content: '';
}

.screwdrivermobile:after {
  content: '';
}

.screwdriverpencil:after {
  content: '';
}

.script:after {
  content: '';
}

.search:after {
  content: '🔍';
}

.searchfile:after {
  content: '';
}

.searchpicture:after {
  content: '';
}

.send:after {
  content: '';
}

.settings:after {
  content: '⚙';
}

.share:after {
  content: '';
}

.sheep:after {
  content: '🐑';
}

.shoppingbag:after {
  content: '';
}

.shredder:after {
  content: '';
}

.shuffle:after {
  content: '🔀';
}

.signpost:after {
  content: '';
}

.sixdie:after {
  content: '⚅';
}

.skiboot:after {
  content: '';
}

.skipback:after {
  content: '⏮';
}

.skipforward:after {
  content: '⏭';
}

.skis:after {
  content: '🎿';
}

.skull:after {
  content: '💀';
}

.smile:after {
  content: '☻';
}

.soccer:after {
  content: '⚽';
}

.soda:after {
  content: '';
}

.spiralbound:after {
  content: '';
}

.squarekey:after {
  content: '';
}

.stamp:after {
  content: '';
}

.star:after {
  content: '⋆';
}

.starframe:after {
  content: '';
}

.stop:after {
  content: '■';
}

.stopscript:after {
  content: '';
}

.stopsign:after {
  content: '';
}

.stopwatch:after {
  content: '⏱';
}

.storagebox:after {
  content: '';
}

.store:after {
  content: '🏪';
}

.stroke:after {
  content: '';
}

.sun:after {
  content: '☀';
}

.swaddledbaby:after {
  content: '';
}

.swatch:after {
  content: '';
}

.sweep:after {
  content: '';
}

.switch:after {
  content: '';
}

.switchoff:after {
  content: '';
}

.sync:after {
  content: '';
}

.tablet:after {
  content: '';
}

.tag:after {
  content: '';
}

.takeout:after {
  content: '';
}

.tapemeasure:after {
  content: '';
}

.target:after {
  content: '◎';
}

.taxi:after {
  content: '🚖';
}

.teddy:after {
  content: '';
}

.tennis:after {
  content: '🎾';
}

.testtube:after {
  content: '';
}

.textchat:after {
  content: '';
}

.theatre:after {
  content: '🎭';
}

.thread:after {
  content: '';
}

.threedie:after {
  content: '⚂';
}

.thumbnails:after {
  content: '';
}

.ticket:after {
  content: '🎫';
}

.tire:after {
  content: '';
}

.toggles:after {
  content: '';
}

.toilet:after {
  content: '🚽';
}

.toiletpaper:after {
  content: '';
}

.toolbox:after {
  content: '';
}

.tools:after {
  content: '';
}

.tooth:after {
  content: '';
}

.toothlesssmile:after {
  content: '😀';
}

.toothsmile:after {
  content: '😃';
}

.touchtonephone:after {
  content: '☏';
}

.trailer:after {
  content: '';
}

.trailerdump:after {
  content: '';
}

.train:after {
  content: '🚆';
}

.transfer:after {
  content: '⇆';
}

.trash:after {
  content: '';
}

.tree:after {
  content: '🌲';
}

.treeframe:after {
  content: '';
}

.trophy:after {
  content: '🏆';
}

.truck:after {
  content: '🚚';
}

.tshirt:after {
  content: '👕';
}

.tv:after {
  content: '📺';
}

.twodie:after {
  content: '⚁';
}

.typewriter:after {
  content: '';
}

.ufo:after {
  content: '';
}

.umbrella:after {
  content: '☂';
}

.undo:after {
  content: '↩';
}

.unlock:after {
  content: '🔓';
}

.up:after {
  content: '⬆';
}

.upload:after {
  content: '';
}

.uploadbox:after {
  content: '';
}

.uploadcrate:after {
  content: '';
}

.uploadfolder:after {
  content: '';
}

.usb:after {
  content: '';
}

.user:after {
  content: '👤';
}

.userframe:after {
  content: '';
}

.userportrait:after {
  content: '';
}

.users:after {
  content: '👥';
}

.usersframe:after {
  content: '';
}

.utensils:after {
  content: '🍴';
}

.utensilsframe:after {
  content: '';
}

.video:after {
  content: '📹';
}

.videogame:after {
  content: '🎮';
}

.voicemail:after {
  content: '⌕';
}

.volume:after {
  content: '🔈';
}

.waningcrescentmoon:after {
  content: '🌘';
}

.waninggibbousmoon:after {
  content: '🌖';
}

.washer:after {
  content: '';
}

.waxingcrescentmoon:after {
  content: '🌒';
}

.waxinggibbousmoon:after {
  content: '🌔';
}

.weave:after {
  content: '';
}

.wheelchair:after {
  content: '♿';
}

.wifi:after {
  content: '';
}

.window:after {
  content: '';
}

.wine:after {
  content: '';
}

.wineglass:after {
  content: '🍷';
}

.wrench:after {
  content: '🔧';
}

.wrenches:after {
  content: '';
}

.wrenchpencil:after {
  content: '';
}

.write:after {
  content: '✎';
}

.yarn:after {
  content: '';
}

.zipper:after {
  content: '';
}

.zoomin:after {
  content: '';
}

.zoomout:after {
  content: '';
}

@font-face {
  font-family: "SSSymbolicons";
  src: url("../../fonts/ss-symbolicons-block/webfonts/ss-symbolicons-block.eot");
  src: url("../../fonts/ss-symbolicons-block/webfonts/ss-symbolicons-block.eot?#iefix") format("embedded-opentype"), url("../../fonts/ss-symbolicons-block/webfonts/ss-symbolicons-block.woff") format("woff"), url("../../fonts/ss-symbolicons-block/webfonts/ss-symbolicons-block.ttf") format("truetype"), url("../../fonts/ss-symbolicons-block/webfonts/ss-symbolicons-block.svg#SSSymboliconsBlock") format("svg");
  font-weight: normal;
  font-style: normal;
}

.action:after, .activity:after, .adddatabase:after, .addfile:after, .addfolder:after, .addheart:after, .addressbook:after, .adduser:after, .airplay:after, .alarmclock:after, .album:after, .alert:after, .alien:after, .anchor:after, .apple:after, .atom:after, .award:after, .baby:after, .babybottle:after, .backspace:after, .badge:after, .balloons:after, .ban:after, .bandage:after, .bank:after, .banknote:after, .barchart:after, .barn:after, .baseball:after, .basketball:after, .battery:after, .bearface:after, .beer:after, .bezier:after, .bike:after, .bill:after, .billiards:after, .binoculars:after, .bird:after, .birthdaycake:after, .blocks:after, .boat:after, .bone:after, .bookinsert:after, .books:after, .bookspencil:after, .bottle:after, .box:after, .bridge:after, .briefcase:after, .brightness:after, .brush:after, .brushmobile:after, .bug:after, .buildings:after, .bullseye:after, .burger:after, .bus:after, .button:after, .calculator:after, .calendar:after, .camera:after, .campfire:after, .candle:after, .car:after, .carrepair:after, .cart:after, .catface:after, .caution:after, .cell:after, .cellbars:after, .cfl:after, .chargingbattery:after, .chat:after, .chats:after, .check:after, .cheese:after, .christmastree:after, .clapboard:after, .clipboard:after, .clock:after, .cocktail:after, .coffee:after, .compass:after, .compose:after, .connection:after, .contacts:after, .contract:after, .crate:after, .crayons:after, .creditcard:after, .crescentmoon:after, .crochet:after, .crop:after, .crosshair:after, .crown:after, .cup:after, .cut:after, .cutpaste:after, .dashboard:after, .database:after, .delete:after, .deletedatabase:after, .deletefile:after, .deletefolder:after, .deleteheart:after, .deleteuser:after, .desktop:after, .diaper:after, .disc:after, .discs:after, .dislike:after, .dog:after, .dogface:after, .door:after, .down:after, .download:after, .downloadbox:after, .downloadcrate:after, .downloadfolder:after, .downloadhdd:after, .dryer:after, .earth:after, .easteregg:after, .effects:after, .egg:after, .eject:after, .elevator:after, .ellipsischat:after, .emptybattery:after, .exclamationchat:after, .exercise:after, .expand:after, .fabric:after, .fastforward:after, .fax:after, .females:after, .fence:after, .filecabinet:after, .files:after, .fill:after, .film:after, .filter:after, .fireplace:after, .firstquartermoon:after, .fivedie:after, .flag:after, .flaginhole:after, .flashlight:after, .flashoff:after, .flask:after, .flatscreen:after, .fliphorizontally:after, .flipvertically:after, .flowchart:after, .flower:after, .flowerframe:after, .fluxcapacitor:after, .folder:after, .font:after, .football:after, .footsteps:after, .fourdie:after, .frame:after, .frenchfries:after, .frown:after, .fuel:after, .fullmoon:after, .fuzzydice:after, .gavel:after, .ghost:after, .gift:after, .globe:after, .golf:after, .graduationcap:after, .grid:after, .gridlines:after, .growler:after, .hammerscrewdriver:after, .happyrobot:after, .hdd:after, .headphones:after, .headstone:after, .heart:after, .heartframe:after, .heartuser:after, .heavyasterisk:after, .help:after, .hiker:after, .home:after, .hospital:after, .hotdog:after, .hottub:after, .hourglass:after, .hyphen:after, .inbox:after, .incomingmail:after, .info:after, .itunes:after, .jackolantern:after, .jug:after, .key:after, .keyboarddown:after, .keyboardup:after, .laptop:after, .lastquartermoon:after, .layers:after, .leaf:after, .ledger:after, .left:after, .lifepreserver:after, .lightbulb:after, .lightning:after, .like:after, .link:after, .list:after, .location:after, .lock:after, .lodging:after, .magicwand:after, .mail:after, .mailbox:after, .malefemale:after, .males:after, .map:after, .medal:after, .medicalbag:after, .medicalcross:after, .mediumbattery:after, .meeting:after, .megaphone:after, .menorah:after, .mic:after, .moneybag:after, .motorcycle:after, .mug:after, .music:after, .musichome:after, .navigatedown:after, .navigateleft:after, .navigateright:after, .navigateup:after, .needles:after, .networkhdd:after, .newmoon:after, .newspaper:after, .newtag:after, .nosmoking:after, .notebook:after, .notepad:after, .notice:after, .notifications:after, .onedie:after, .openbook:after, .outbox:after, .oven:after, .paddles:after, .pailshovel:after, .paintroller:after, .palette:after, .palmtree:after, .pancakes:after, .paperbag:after, .parking:after, .partlycloudy:after, .pause:after, .pen:after, .pencilbrush:after, .pencilbrushpen:after, .pencilmobile:after, .phone:after, .phonebook:after, .phonograph:after, .picnictable:after, .picture:after, .pictures:after, .piechart:after, .pig:after, .pixels:after, .pizza:after, .plane:after, .play:after, .playfilm:after, .playlist:after, .playscript:after, .plus:after, .podcast:after, .power:after, .print:after, .projector:after, .pushpin:after, .puzzle:after, .questionchat:after, .questionframe:after, .quote:after, .radio:after, .radioactive:after, .rainbow:after, .raisedhand:after, .rattle:after, .record:after, .recordscript:after, .redirect:after, .redo:after, .refresh:after, .removefile:after, .removefolder:after, .removeuser:after, .restroom:after, .rewind:after, .right:after, .rings:after, .robot:after, .rocket:after, .rotaryphone:after, .rss:after, .rulerpencil:after, .rules:after, .runner:after, .safe:after, .sample:after, .scaledown:after, .scaleup:after, .scissorsneedles:after, .screwdrivermobile:after, .screwdriverpencil:after, .script:after, .search:after, .searchfile:after, .searchpicture:after, .send:after, .settings:after, .share:after, .sheep:after, .shoppingbag:after, .shredder:after, .shuffle:after, .signpost:after, .sixdie:after, .skiboot:after, .skipback:after, .skipforward:after, .skis:after, .skull:after, .smile:after, .soccer:after, .soda:after, .spiralbound:after, .squarekey:after, .stamp:after, .star:after, .starframe:after, .stop:after, .stopscript:after, .stopsign:after, .stopwatch:after, .storagebox:after, .store:after, .stroke:after, .sun:after, .swaddledbaby:after, .swatch:after, .sweep:after, .switch:after, .switchoff:after, .sync:after, .tablet:after, .tag:after, .takeout:after, .tapemeasure:after, .target:after, .taxi:after, .teddy:after, .tennis:after, .testtube:after, .textchat:after, .theatre:after, .thread:after, .threedie:after, .thumbnails:after, .ticket:after, .tire:after, .toggles:after, .toilet:after, .toiletpaper:after, .toolbox:after, .tools:after, .tooth:after, .toothlesssmile:after, .toothsmile:after, .touchtonephone:after, .trailer:after, .trailerdump:after, .train:after, .transfer:after, .trash:after, .tree:after, .treeframe:after, .trophy:after, .truck:after, .tshirt:after, .tv:after, .twodie:after, .typewriter:after, .ufo:after, .umbrella:after, .undo:after, .unlock:after, .up:after, .upload:after, .uploadbox:after, .uploadcrate:after, .uploadfolder:after, .usb:after, .user:after, .userframe:after, .userportrait:after, .users:after, .usersframe:after, .utensils:after, .utensilsframe:after, .video:after, .videogame:after, .voicemail:after, .volume:after, .waningcrescentmoon:after, .waninggibbousmoon:after, .washer:after, .waxingcrescentmoon:after, .waxinggibbousmoon:after, .weave:after, .wheelchair:after, .wifi:after, .window:after, .wine:after, .wineglass:after, .wrench:after, .wrenches:after, .wrenchpencil:after, .write:after, .yarn:after, .zipper:after, .zoomin:after, .zoomout:after, i {
  font-family: "SSSymbolicons";
}
