
$ss-symbolicons-line-dir: '../../fonts/ss-symbolicons-line/webfonts/';

@import "symbolset/symbolset";
@import "symbolset/ss-symbolicons-line";

i { @extend %ss-symbolicons-line; }
.crosshair:after { @extend %ss-crosshair; }
.search:after { @extend %ss-search; }
.zoomin:after { @extend %ss-zoomin; }
.zoomout:after { @extend %ss-zoomout; }
.binoculars:after { @extend %ss-binoculars; }
.raisedhand:after { @extend %ss-raisedhand; }
.link:after { @extend %ss-link; }
.write:after { @extend %ss-write; }
.compose:after { @extend %ss-compose; }
.lock:after { @extend %ss-lock; }
.unlock:after { @extend %ss-unlock; }
.key:after { @extend %ss-key; }
.backspace:after { @extend %ss-backspace; }
.ban:after { @extend %ss-ban; }
.nosmoking:after { @extend %ss-nosmoking; }
.trash:after { @extend %ss-trash; }
.target:after { @extend %ss-target; }
.stopsign:after { @extend %ss-stopsign; }
.radioactive:after { @extend %ss-radioactive; }
.skull:after { @extend %ss-skull; }
.lightning:after { @extend %ss-lightning; }
.tag:after { @extend %ss-tag; }
.newtag:after { @extend %ss-newtag; }
.flag:after { @extend %ss-flag; }
.like:after { @extend %ss-like; }
.dislike:after { @extend %ss-dislike; }
.heart:after { @extend %ss-heart; }
.addheart:after { @extend %ss-addheart; }
.deleteheart:after { @extend %ss-deleteheart; }
.star:after { @extend %ss-star; }
.trophy:after { @extend %ss-trophy; }
.award:after { @extend %ss-award; }
.medal:after { @extend %ss-medal; }
.badge:after { @extend %ss-badge; }
.crown:after { @extend %ss-crown; }
.bullseye:after { @extend %ss-bullseye; }
.sample:after { @extend %ss-sample; }
.crop:after { @extend %ss-crop; }
.layers:after { @extend %ss-layers; }
.magicwand:after { @extend %ss-magicwand; }
.cut:after { @extend %ss-cut; }
.cutpaste:after { @extend %ss-cutpaste; }
.clipboard:after { @extend %ss-clipboard; }
.rules:after { @extend %ss-rules; }
.rulerpencil:after { @extend %ss-rulerpencil; }
.gridlines:after { @extend %ss-gridlines; }
.pen:after { @extend %ss-pen; }
.pencilbrush:after { @extend %ss-pencilbrush; }
.pencilbrushpen:after { @extend %ss-pencilbrushpen; }
.brush:after { @extend %ss-brush; }
.paintroller:after { @extend %ss-paintroller; }
.fill:after { @extend %ss-fill; }
.stroke:after { @extend %ss-stroke; }
.crayons:after { @extend %ss-crayons; }
.palette:after { @extend %ss-palette; }
.fliphorizontally:after { @extend %ss-fliphorizontally; }
.flipvertically:after { @extend %ss-flipvertically; }
.effects:after { @extend %ss-effects; }
.bezier:after { @extend %ss-bezier; }
.pixels:after { @extend %ss-pixels; }
.phone:after { @extend %ss-phone; }
.rotaryphone:after { @extend %ss-rotaryphone; }
.touchtonephone:after { @extend %ss-touchtonephone; }
.phonebook:after { @extend %ss-phonebook; }
.voicemail:after { @extend %ss-voicemail; }
.megaphone:after { @extend %ss-megaphone; }
.rss:after { @extend %ss-rss; }
.podcast:after { @extend %ss-podcast; }
.mailbox:after { @extend %ss-mailbox; }
.send:after { @extend %ss-send; }
.mail:after { @extend %ss-mail; }
.incomingmail:after { @extend %ss-incomingmail; }
.inbox:after { @extend %ss-inbox; }
.outbox:after { @extend %ss-outbox; }
.stamp:after { @extend %ss-stamp; }
.chat:after { @extend %ss-chat; }
.chats:after { @extend %ss-chats; }
.textchat:after { @extend %ss-textchat; }
.exclamationchat:after { @extend %ss-exclamationchat; }
.questionchat:after { @extend %ss-questionchat; }
.ellipsischat:after { @extend %ss-ellipsischat; }
.smile:after { @extend %ss-smile; }
.frown:after { @extend %ss-frown; }
.toothsmile:after { @extend %ss-toothsmile; }
.toothlesssmile:after { @extend %ss-toothlesssmile; }
.user:after { @extend %ss-user; }
.users:after { @extend %ss-users; }
.adduser:after { @extend %ss-adduser; }
.removeuser:after { @extend %ss-removeuser; }
.deleteuser:after { @extend %ss-deleteuser; }
.heartuser:after { @extend %ss-heartuser; }
.males:after { @extend %ss-males; }
.females:after { @extend %ss-females; }
.malefemale:after { @extend %ss-malefemale; }
.userportrait:after { @extend %ss-userportrait; }
.userframe:after { @extend %ss-userframe; }
.usersframe:after { @extend %ss-usersframe; }
.baby:after { @extend %ss-baby; }
.swaddledbaby:after { @extend %ss-swaddledbaby; }
.robot:after { @extend %ss-robot; }
.happyrobot:after { @extend %ss-happyrobot; }
.alien:after { @extend %ss-alien; }
.ghost:after { @extend %ss-ghost; }
.contacts:after { @extend %ss-contacts; }
.addressbook:after { @extend %ss-addressbook; }
.footsteps:after { @extend %ss-footsteps; }
.cart:after { @extend %ss-cart; }
.shoppingbag:after { @extend %ss-shoppingbag; }
.gift:after { @extend %ss-gift; }
.store:after { @extend %ss-store; }
.safe:after { @extend %ss-safe; }
.bill:after { @extend %ss-bill; }
.creditcard:after { @extend %ss-creditcard; }
.banknote:after { @extend %ss-banknote; }
.moneybag:after { @extend %ss-moneybag; }
.calculator:after { @extend %ss-calculator; }
.bank:after { @extend %ss-bank; }
.gavel:after { @extend %ss-gavel; }
.meeting:after { @extend %ss-meeting; }
.barchart:after { @extend %ss-barchart; }
.piechart:after { @extend %ss-piechart; }
.activity:after { @extend %ss-activity; }
.flowchart:after { @extend %ss-flowchart; }
.box:after { @extend %ss-box; }
.crate:after { @extend %ss-crate; }
.home:after { @extend %ss-home; }
.fence:after { @extend %ss-fence; }
.buildings:after { @extend %ss-buildings; }
.bridge:after { @extend %ss-bridge; }
.barn:after { @extend %ss-barn; }
.lodging:after { @extend %ss-lodging; }
.earth:after { @extend %ss-earth; }
.globe:after { @extend %ss-globe; }
.compass:after { @extend %ss-compass; }
.signpost:after { @extend %ss-signpost; }
.map:after { @extend %ss-map; }
.location:after { @extend %ss-location; }
.pushpin:after { @extend %ss-pushpin; }
.script:after { @extend %ss-script; }
.playscript:after { @extend %ss-playscript; }
.stopscript:after { @extend %ss-stopscript; }
.recordscript:after { @extend %ss-recordscript; }
.bug:after { @extend %ss-bug; }
.puzzle:after { @extend %ss-puzzle; }
.window:after { @extend %ss-window; }
.database:after { @extend %ss-database; }
.adddatabase:after { @extend %ss-adddatabase; }
.deletedatabase:after { @extend %ss-deletedatabase; }
.hdd:after { @extend %ss-hdd; }
.networkhdd:after { @extend %ss-networkhdd; }
.downloadhdd:after { @extend %ss-downloadhdd; }
.airplay:after { @extend %ss-airplay; }
.music:after { @extend %ss-music; }
.mic:after { @extend %ss-mic; }
.headphones:after { @extend %ss-headphones; }
.volume:after { @extend %ss-volume; }
.radio:after { @extend %ss-radio; }
.phonograph:after { @extend %ss-phonograph; }
.disc:after { @extend %ss-disc; }
.discs:after { @extend %ss-discs; }
.playlist:after { @extend %ss-playlist; }
.musichome:after { @extend %ss-musichome; }
.itunes:after { @extend %ss-itunes; }
.camera:after { @extend %ss-camera; }
.picture:after { @extend %ss-picture; }
.pictures:after { @extend %ss-pictures; }
.searchpicture:after { @extend %ss-searchpicture; }
.video:after { @extend %ss-video; }
.clapboard:after { @extend %ss-clapboard; }
.film:after { @extend %ss-film; }
.playfilm:after { @extend %ss-playfilm; }
.tv:after { @extend %ss-tv; }
.flatscreen:after { @extend %ss-flatscreen; }
.projector:after { @extend %ss-projector; }
.videogame:after { @extend %ss-videogame; }
.play:after { @extend %ss-play; }
.pause:after { @extend %ss-pause; }
.stop:after { @extend %ss-stop; }
.record:after { @extend %ss-record; }
.rewind:after { @extend %ss-rewind; }
.fastforward:after { @extend %ss-fastforward; }
.skipback:after { @extend %ss-skipback; }
.skipforward:after { @extend %ss-skipforward; }
.eject:after { @extend %ss-eject; }
.shuffle:after { @extend %ss-shuffle; }
.filecabinet:after { @extend %ss-filecabinet; }
.storagebox:after { @extend %ss-storagebox; }
.books:after { @extend %ss-books; }
.bookspencil:after { @extend %ss-bookspencil; }
.openbook:after { @extend %ss-openbook; }
.bookinsert:after { @extend %ss-bookinsert; }
.notebook:after { @extend %ss-notebook; }
.ledger:after { @extend %ss-ledger; }
.album:after { @extend %ss-album; }
.newspaper:after { @extend %ss-newspaper; }
.spiralbound:after { @extend %ss-spiralbound; }
.notepad:after { @extend %ss-notepad; }
.notice:after { @extend %ss-notice; }
.grid:after { @extend %ss-grid; }
.thumbnails:after { @extend %ss-thumbnails; }
.filter:after { @extend %ss-filter; }
.desktop:after { @extend %ss-desktop; }
.laptop:after { @extend %ss-laptop; }
.tablet:after { @extend %ss-tablet; }
.cell:after { @extend %ss-cell; }
.cellbars:after { @extend %ss-cellbars; }
.battery:after { @extend %ss-battery; }
.mediumbattery:after { @extend %ss-mediumbattery; }
.emptybattery:after { @extend %ss-emptybattery; }
.chargingbattery:after { @extend %ss-chargingbattery; }
.screwdrivermobile:after { @extend %ss-screwdrivermobile; }
.brushmobile:after { @extend %ss-brushmobile; }
.pencilmobile:after { @extend %ss-pencilmobile; }
.door:after { @extend %ss-door; }
.washer:after { @extend %ss-washer; }
.dryer:after { @extend %ss-dryer; }
.fireplace:after { @extend %ss-fireplace; }
.toilet:after { @extend %ss-toilet; }
.toiletpaper:after { @extend %ss-toiletpaper; }
.lightbulb:after { @extend %ss-lightbulb; }
.cfl:after { @extend %ss-cfl; }
.flashlight:after { @extend %ss-flashlight; }
.candle:after { @extend %ss-candle; }
.campfire:after { @extend %ss-campfire; }
.picnictable:after { @extend %ss-picnictable; }
.frame:after { @extend %ss-frame; }
.heartframe:after { @extend %ss-heartframe; }
.starframe:after { @extend %ss-starframe; }
.treeframe:after { @extend %ss-treeframe; }
.flowerframe:after { @extend %ss-flowerframe; }
.questionframe:after { @extend %ss-questionframe; }
.utensilsframe:after { @extend %ss-utensilsframe; }
.atom:after { @extend %ss-atom; }
.fluxcapacitor:after { @extend %ss-fluxcapacitor; }
.rings:after { @extend %ss-rings; }
.balloons:after { @extend %ss-balloons; }
.easteregg:after { @extend %ss-easteregg; }
.jackolantern:after { @extend %ss-jackolantern; }
.menorah:after { @extend %ss-menorah; }
.christmastree:after { @extend %ss-christmastree; }
.teddy:after { @extend %ss-teddy; }
.blocks:after { @extend %ss-blocks; }
.rattle:after { @extend %ss-rattle; }
.diaper:after { @extend %ss-diaper; }
.pailshovel:after { @extend %ss-pailshovel; }
.sweep:after { @extend %ss-sweep; }
.headstone:after { @extend %ss-headstone; }
.onedie:after { @extend %ss-onedie; }
.twodie:after { @extend %ss-twodie; }
.threedie:after { @extend %ss-threedie; }
.fourdie:after { @extend %ss-fourdie; }
.fivedie:after { @extend %ss-fivedie; }
.sixdie:after { @extend %ss-sixdie; }
.fuzzydice:after { @extend %ss-fuzzydice; }
.download:after { @extend %ss-download; }
.downloadbox:after { @extend %ss-downloadbox; }
.downloadcrate:after { @extend %ss-downloadcrate; }
.upload:after { @extend %ss-upload; }
.uploadbox:after { @extend %ss-uploadbox; }
.uploadcrate:after { @extend %ss-uploadcrate; }
.transfer:after { @extend %ss-transfer; }
.refresh:after { @extend %ss-refresh; }
.sync:after { @extend %ss-sync; }
.wifi:after { @extend %ss-wifi; }
.connection:after { @extend %ss-connection; }
.usb:after { @extend %ss-usb; }
.files:after { @extend %ss-files; }
.addfile:after { @extend %ss-addfile; }
.removefile:after { @extend %ss-removefile; }
.deletefile:after { @extend %ss-deletefile; }
.searchfile:after { @extend %ss-searchfile; }
.folder:after { @extend %ss-folder; }
.addfolder:after { @extend %ss-addfolder; }
.removefolder:after { @extend %ss-removefolder; }
.deletefolder:after { @extend %ss-deletefolder; }
.downloadfolder:after { @extend %ss-downloadfolder; }
.uploadfolder:after { @extend %ss-uploadfolder; }
.undo:after { @extend %ss-undo; }
.redo:after { @extend %ss-redo; }
.quote:after { @extend %ss-quote; }
.font:after { @extend %ss-font; }
.anchor:after { @extend %ss-anchor; }
.print:after { @extend %ss-print; }
.fax:after { @extend %ss-fax; }
.shredder:after { @extend %ss-shredder; }
.typewriter:after { @extend %ss-typewriter; }
.list:after { @extend %ss-list; }
.action:after { @extend %ss-action; }
.redirect:after { @extend %ss-redirect; }
.expand:after { @extend %ss-expand; }
.contract:after { @extend %ss-contract; }
.scaleup:after { @extend %ss-scaleup; }
.scaledown:after { @extend %ss-scaledown; }
.power:after { @extend %ss-power; }
.lifepreserver:after { @extend %ss-lifepreserver; }
.help:after { @extend %ss-help; }
.info:after { @extend %ss-info; }
.alert:after { @extend %ss-alert; }
.caution:after { @extend %ss-caution; }
.plus:after { @extend %ss-plus; }
.hyphen:after { @extend %ss-hyphen; }
.check:after { @extend %ss-check; }
.delete:after { @extend %ss-delete; }
.dogface:after { @extend %ss-dogface; }
.catface:after { @extend %ss-catface; }
.bearface:after { @extend %ss-bearface; }
.bird:after { @extend %ss-bird; }
.dog:after { @extend %ss-dog; }
.sheep:after { @extend %ss-sheep; }
.pig:after { @extend %ss-pig; }
.bone:after { @extend %ss-bone; }
.tooth:after { @extend %ss-tooth; }
.palmtree:after { @extend %ss-palmtree; }
.tree:after { @extend %ss-tree; }
.leaf:after { @extend %ss-leaf; }
.flower:after { @extend %ss-flower; }
.settings:after { @extend %ss-settings; }
.dashboard:after { @extend %ss-dashboard; }
.notifications:after { @extend %ss-notifications; }
.toggles:after { @extend %ss-toggles; }
.switch:after { @extend %ss-switch; }
.switchoff:after { @extend %ss-switchoff; }
.brightness:after { @extend %ss-brightness; }
.flashoff:after { @extend %ss-flashoff; }
.toolbox:after { @extend %ss-toolbox; }
.tools:after { @extend %ss-tools; }
.wrench:after { @extend %ss-wrench; }
.wrenches:after { @extend %ss-wrenches; }
.wrenchpencil:after { @extend %ss-wrenchpencil; }
.screwdriverpencil:after { @extend %ss-screwdriverpencil; }
.hammerscrewdriver:after { @extend %ss-hammerscrewdriver; }
.tapemeasure:after { @extend %ss-tapemeasure; }
.hourglass:after { @extend %ss-hourglass; }
.clock:after { @extend %ss-clock; }
.stopwatch:after { @extend %ss-stopwatch; }
.alarmclock:after { @extend %ss-alarmclock; }
.calendar:after { @extend %ss-calendar; }
.keyboardup:after { @extend %ss-keyboardup; }
.keyboarddown:after { @extend %ss-keyboarddown; }
.heavyasterisk:after { @extend %ss-heavyasterisk; }
.egg:after { @extend %ss-egg; }
.cheese:after { @extend %ss-cheese; }
.hotdog:after { @extend %ss-hotdog; }
.burger:after { @extend %ss-burger; }
.birthdaycake:after { @extend %ss-birthdaycake; }
.pancakes:after { @extend %ss-pancakes; }
.pizza:after { @extend %ss-pizza; }
.frenchfries:after { @extend %ss-frenchfries; }
.apple:after { @extend %ss-apple; }
.mug:after { @extend %ss-mug; }
.coffee:after { @extend %ss-coffee; }
.growler:after { @extend %ss-growler; }
.beer:after { @extend %ss-beer; }
.bottle:after { @extend %ss-bottle; }
.wine:after { @extend %ss-wine; }
.wineglass:after { @extend %ss-wineglass; }
.cocktail:after { @extend %ss-cocktail; }
.soda:after { @extend %ss-soda; }
.cup:after { @extend %ss-cup; }
.babybottle:after { @extend %ss-babybottle; }
.jug:after { @extend %ss-jug; }
.oven:after { @extend %ss-oven; }
.takeout:after { @extend %ss-takeout; }
.paperbag:after { @extend %ss-paperbag; }
.utensils:after { @extend %ss-utensils; }
.tshirt:after { @extend %ss-tshirt; }
.graduationcap:after { @extend %ss-graduationcap; }
.fabric:after { @extend %ss-fabric; }
.swatch:after { @extend %ss-swatch; }
.weave:after { @extend %ss-weave; }
.thread:after { @extend %ss-thread; }
.yarn:after { @extend %ss-yarn; }
.crochet:after { @extend %ss-crochet; }
.needles:after { @extend %ss-needles; }
.scissorsneedles:after { @extend %ss-scissorsneedles; }
.button:after { @extend %ss-button; }
.zipper:after { @extend %ss-zipper; }
.sun:after { @extend %ss-sun; }
.partlycloudy:after { @extend %ss-partlycloudy; }
.rainbow:after { @extend %ss-rainbow; }
.umbrella:after { @extend %ss-umbrella; }
.crescentmoon:after { @extend %ss-crescentmoon; }
.newmoon:after { @extend %ss-newmoon; }
.waxingcrescentmoon:after { @extend %ss-waxingcrescentmoon; }
.firstquartermoon:after { @extend %ss-firstquartermoon; }
.waxinggibbousmoon:after { @extend %ss-waxinggibbousmoon; }
.fullmoon:after { @extend %ss-fullmoon; }
.waninggibbousmoon:after { @extend %ss-waninggibbousmoon; }
.lastquartermoon:after { @extend %ss-lastquartermoon; }
.waningcrescentmoon:after { @extend %ss-waningcrescentmoon; }
.car:after { @extend %ss-car; }
.carrepair:after { @extend %ss-carrepair; }
.taxi:after { @extend %ss-taxi; }
.train:after { @extend %ss-train; }
.bus:after { @extend %ss-bus; }
.truck:after { @extend %ss-truck; }
.trailer:after { @extend %ss-trailer; }
.trailerdump:after { @extend %ss-trailerdump; }
.plane:after { @extend %ss-plane; }
.bike:after { @extend %ss-bike; }
.motorcycle:after { @extend %ss-motorcycle; }
.boat:after { @extend %ss-boat; }
.rocket:after { @extend %ss-rocket; }
.ufo:after { @extend %ss-ufo; }
.squarekey:after { @extend %ss-squarekey; }
.tire:after { @extend %ss-tire; }
.fuel:after { @extend %ss-fuel; }
.parking:after { @extend %ss-parking; }
.wheelchair:after { @extend %ss-wheelchair; }
.restroom:after { @extend %ss-restroom; }
.elevator:after { @extend %ss-elevator; }
.briefcase:after { @extend %ss-briefcase; }
.theatre:after { @extend %ss-theatre; }
.ticket:after { @extend %ss-ticket; }
.golf:after { @extend %ss-golf; }
.billiards:after { @extend %ss-billiards; }
.baseball:after { @extend %ss-baseball; }
.tennis:after { @extend %ss-tennis; }
.basketball:after { @extend %ss-basketball; }
.football:after { @extend %ss-football; }
.soccer:after { @extend %ss-soccer; }
.flaginhole:after { @extend %ss-flaginhole; }
.paddles:after { @extend %ss-paddles; }
.skiboot:after { @extend %ss-skiboot; }
.skis:after { @extend %ss-skis; }
.hiker:after { @extend %ss-hiker; }
.runner:after { @extend %ss-runner; }
.hottub:after { @extend %ss-hottub; }
.exercise:after { @extend %ss-exercise; }
.hospital:after { @extend %ss-hospital; }
.medicalcross:after { @extend %ss-medicalcross; }
.medicalbag:after { @extend %ss-medicalbag; }
.bandage:after { @extend %ss-bandage; }
.flask:after { @extend %ss-flask; }
.testtube:after { @extend %ss-testtube; }
.up:after { @extend %ss-up; }
.right:after { @extend %ss-right; }
.down:after { @extend %ss-down; }
.left:after { @extend %ss-left; }
.navigateup:after { @extend %ss-navigateup; }
.navigateright:after { @extend %ss-navigateright; }
.navigatedown:after { @extend %ss-navigatedown; }
.navigateleft:after { @extend %ss-navigateleft; }
.share:after { @extend %ss-share; }
